<template>
  <div class="auth-adresse">
    <p>{{ $t('connexion-inscription.adresse') }} {{ this.number - 1 }} :</p>
    <div class="auth-group-inscription-2">
      <div class="flex-adresse">
        <p v-if="readable">N°</p>
        <input v-model="item.numero" :disabled="this.readable"
               class="input-inscription input-inscription-size-3" placeholder="N°" type="text"
               @input="updateAdresse">
      </div>
      <div class="flex-adresse">
        <p v-if="readable">Rue</p>
        <input v-model="item.rue" :disabled="this.readable" :placeholder="$t('connexion-inscription.rue')"
               class="input-inscription input-inscription-size-3"
               type="text"
               @input="updateAdresse">
      </div>
      <div class="flex-adresse">
        <p v-if="readable">Compléments</p>
        <input v-model="item.complement" :disabled="this.readable" :placeholder="$t('connexion-inscription.complement')"
               class="input-inscription input-inscription-size-3 "
               type="text"
               @input="updateAdresse">
      </div>
    </div>
    <div class="auth-group-inscription-2">
      <div class="flex-adresse">
        <p v-if="readable">Ville</p>
        <input v-model="item.ville" :disabled="this.readable" :placeholder="$t('connexion-inscription.ville')"
               class="input-inscription input-inscription-size-3"
               type="text"
               @input="updateAdresse">
      </div>
      <div class="flex-adresse">
        <p v-if="readable">Code postal</p>
        <input v-model="item.codePostal" :disabled="this.readable" :placeholder="$t('connexion-inscription.codePostal')"
               class="input-inscription input-inscription-size-3"
               type="text"
               @input="updateAdresse">
      </div>
      <div class="flex-adresse">
        <p v-if="readable">Pays</p>
        <select v-model="item.pays" :disabled="this.readable" class="input-inscription input-inscription-size-3"
                @input="updateAdresse">
          <option disabled selected>{{ $t('connexion-inscription.pays') }}</option>
          <option value="FR">France</option>
          <option value="BE">Belgique</option>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
//C'est la description du composant
export default {
  name: "Adresse",
  props: {
    //Objet adresse
    adresse: {
      type: Object,
      required: true
    },//L'objet adresse
    //Propriété qui permet de savoir si on doit disabled ou non un composant dans l'affichage
    readable: {
      type: Boolean
    },//Pour gérer l'affichage
    //Numéro de l'adresse
    number: {
      type: Number
    }//Le numéro de l'adresse
  },
  data() {
    return {
      item: {}
    }
  },
  created() {
    this.item = {...this.adresse}
  },
  methods: {
    // Méthode pour mettre à jour l'adresse
    updateAdresse() {
      // Appel vers la méthode du parent
      this.$emit('adresseToParent', this.item)
    }
  }
}
</script>

<style>
@media only screen and (max-width: 992px) {

  .input-inscription-size-3 {
    width: 90%;
    margin-bottom: 5%;
  }

  .auth-adresse {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .input-inscription-size-3 {
    width: 80%;
  }
}

.flex-adresse {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
</style>