<template>
  <div class="assistance-container" >
    <div class="auth-assistance">
      <h2>Assistance n°{{assistance.idAssistance}}</h2>
      <div class="auth-group-inscription-2">
        <div class="flex-assistance">
          <p style="text-decoration: underline">Nom et prénom de l'assuré</p>
          <p>{{assure.prenom}} {{assure.nom}}</p>
        </div>
      </div>
      <div class="auth-group-inscription-2">
        <div class="flex-assistance">
          <p style="text-decoration: underline">Catégorie de l'assistance</p>
          <p>{{assistance.typeSinistre}}</p>
        </div>
        <div class="flex-assistance">
          <p style="text-decoration: underline">Sous-catégorie de l'assistance</p>
          <p>{{typeAssistance}}</p>
        </div>
      </div>
      <div class="auth-group-inscription-2">
        <div class="flex-assistance">
          <p style="text-decoration: underline">Lieu</p>
          <p>{{pays}}</p>
        </div>
        <div class="flex-assistance">
          <p style="text-decoration: underline">Partenaire</p>
          <p>{{partenaire}}</p>
        </div>
      </div>
      <div class="auth-group-inscription-2">
        <div class="flex-assistance">
          <p style="text-decoration: underline">Commentaire</p>
          <p>{{assistance.commentaires}}</p>
        </div>
        <div class="flex-assistance">
          <p style="text-decoration: underline">Prix</p>
          <p>{{assistance.tarif}}€</p>
        </div>
        <div class="flex-assistance">
          <p style="text-decoration: underline">Etat courant</p>
          <p>{{currentEtat}}</p>
        </div>
      </div>
      <div class="auth-group-inscription-2">
        <div>
        <p style="font-weight: bold">Changer l'état de l'assistance</p>
        <select v-model="newState" class="mb-2 form-control devisElement">
          <option v-for="option in listEtat" :key="option" :value="option">
            {{ option.nomEtat }}
          </option>
        </select>
        <button class="btn btn-lg btn-primary" v-on:click="updateState">Valider</button>
        </div>
      </div>

      <!--div class="auth-group-inscription-2">
        <button class="btn btn-lg btn-primary" v-on:click="console.log('super')">Services</button>
        <button class="btn btn-lg btn-primary" v-on:click="console.log('super')">Supprimer</button>
      </div-->
  </div>
  </div>
</template>

<script>
import {AssistanceService} from "../services/assistanceService";

export default {
  name: "AssistanceComponent.vue",
  data(){
    return{
      assure :"",//Assuré qui fait la demande
      partenaire :"",//Partenaire qui s'en charge
      typeAssistance :"",//Type de l'assistance
      pays :"",//Le pays de l'assistance
      listEtat:[],//Liste de sétats de l'assistance
      loading:false,//Pour le chargement
      currentEtat:"",//L'état actuel
      newState:""//Nouvel état
    }
  },
  props: {
    assistance: {
      type: Object,
      required: true
    }
  },
  mounted() {
    this.getAssure()
    this.getPartenaire()
    this.getTypeAssistance()
    this.getPays()
    this.getCurrentEtat()
    this.getEtats()
  },
  methods:{
    //Récupérer l'assuré
    async getAssure() {
      await AssistanceService.getAssureFromId(this.assistance.idPersonneAssure).then(res => {
        this.assure= res.data;
      })
    },
    //Récupéré le partenaire
    async getPartenaire() {
      await AssistanceService.getPartenaireFromId(this.assistance.idPartenaire).then(res => {
        this.partenaire= res.data;
      })
    },
    //Récupéré le type assistance
    async getTypeAssistance() {
      await AssistanceService.getTypeAssistanceFromId(this.assistance.idTypeAssistance).then(res => {
        this.typeAssistance= res.data;
      })
    },
    //Récupérer le pays
    async getPays() {
      await AssistanceService.getPaysFromId(this.assistance.codeIso).then(res => {
        this.pays= res.data;
      })
    },
    //Récupérer l'état actuel
    async getCurrentEtat() {
      await AssistanceService.getCurrentEtat(this.assistance.idAssistance).then(res => {
        this.currentEtat= res.data;
      })
    },
    //Récupérer tous les états
    async getEtats() {
      this.loading = true
      await AssistanceService.getEtats().then(res => {
        this.listEtat = []
        res.data.forEach(el => {
          this.listEtat.push(el)
        })
        this.newState=this.listEtat[0];
        this.loading = false
      })
    },
    //Mettre à jour l'état
    async updateState() {
      //post in disposer
      await AssistanceService.postState(this.assistance.idAssistance, this.newState.idEtat)
      this.currentEtat=this.newState.nomEtat
    }
  }
}


</script>

<style scoped>

.datepicker-dossier {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}
@media only screen and (max-width: 992px) {

  .input-dossier-size-3 {
    width: 90%;
    margin-bottom: 5%;
  }

  .auth-assistance {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .input-dossier-size-3 {
    width: 80%;
  }
}

.flex-assistance {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.assistance-container {
  text-align: center;
  -webkit-box-shadow: 0px 1px 6px 2px #3E3D3E;
  box-shadow: 0px 1px 6px 2px #3E3D3E;
  width: 80%;
  margin-bottom: 5%;
  margin-left: 10%;
  padding: 1%;
}

</style>