<template>
  <div style="
  -webkit-box-shadow: 0px 1px 6px 2px #3E3D3E;
  box-shadow: 0px 1px 6px 2px #3E3D3E;
width: 80%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 3%">
    <h3 class="mb-3">Assistance n° {{ index }}</h3>
    <h4 class="mb-4 mt-3" style="text-decoration: underline">Informations</h4>
    <table aria-label="Assistance" class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th id="head-table1">#</th>
        <th id="head-table2">#</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Assuré</td>
        <td>{{ assistance.prenomAssure }} {{ assistance.nomAssure }}</td>
      </tr>
      <tr>
        <td>Date de naissance de l'assuré</td>
        <td>{{ assistance.dateNaissanceAssure }}</td>
      </tr>
      <tr>
        <td>Commentaires de l'assistance</td>
        <td>{{ assistance.commentaires }}</td>
      </tr>
      <tr>
        <td>Type de l'assistance</td>
        <td>{{ assistance.typeAssistance }}</td>
      </tr>
      <tr>
        <td>Tarif</td>
        <td>{{ assistance.tarif }} €</td>
      </tr>
      </tbody>
    </table>
    <h4 class="mb-4 mt-3" style="text-decoration: underline">Les derniers états pour cet assistance</h4>
    <table aria-label="Etat assistance" class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th id="head-table3">Date état</th>
        <th id="head-table4">Heure état</th>
        <th id="head-table5">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(etat,index) in assistance.etats" :key="index">
        <td>{{ etat.dateEtat }}</td>
        <td>{{ etat.heureEtat }}</td>
        <td>{{ $t('status.'+etat.status)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "AssistancePartenaire",
  props: {
    assistance: {
      type: Object
    },
    index: {
      type: Number
    }
  }
}
</script>