<template>

  <div class="client-container">
    <p style="font-weight: bold" v-if="item.mail != null">{{ $t('collaborateur.client') }} n°{{item.idPersonne}} :</p>
    <p style="font-weight: bold" v-if="item.mail == null">{{ $t('collaborateur.assure') }} n°{{item.idPersonne}} :</p>
    <div class="profile-group-2">
      <label for="nom">Nom :</label>
      <input type="text" id="nom" class="input-profile input-profile-size-2" v-model="item.nom" :placeholder="$t('profile.nom')" disabled="true">
      <label for="nom">Prénom :</label>
      <input type="text" class="input-profile input-profile-size-2" v-model="item.prenom" :placeholder="$t('profile.prenom')" disabled>
    </div>
    <div class="profile-group-2" v-if="item.mail != null">
      <label for="nom">Mail :</label>
      <input type="email" class="input-profile input-profile-size-2" v-model="item.mail" aria-describedby="emailHelp" :placeholder="$t('profile.mail')" disabled>
      <label for="nom">Téléphone :</label>
      <input type="text" class="input-profile input-profile-size-2 " v-model="item.telephone" :placeholder="$t('profile.phone')" disabled>
    </div>
    <div class="profile-group-2">
      <p style="margin-right: 4%">{{$t('profile.dateNaissance')}}</p>
      <datepicker class="datepicker-client" v-model="item.dateNaissance" inputFormat="dd/MM/yyyy" disabled/>
    </div>
    <button class="btn btn-lg btn-primary" v-on:click="deleteClient(item.idPersonne)">{{ $t('collaborateur.deleteClient') }}</button>
    <router-link v-if="item.mail != null" class="w3-bar-item w3-button w3-padding btn-margin" :to="{path: '/contrats/' + item.idPersonne}"><router-view :nom="item.nom"><button class="btn btn-lg btn-primary">{{ $t('collaborateur.voirContrats') }}</button></router-view></router-link>
  </div>
</template>

<script>
import Datepicker from "vue3-datepicker";
import {CollaborateurService} from "../services/collaborateurService";

export default {
  name: "Client",
  components: {
    Datepicker
  },
  props: {
    client: {
      type: Object,
      required: true
    },//L'objet client
    readable: {
      type: Boolean
    },//Pour l'affichage
    number: {
      type: Number
    }//Numéro du client
  },
  data() {
    return {
      item: {}
    }
  },
  created() {
    this.item = {...this.client}
  },
  methods: {
    //Pour supprimer l'assuré
    deleteClient(id){
      if(confirm("Êtes-vous sûr(e) de vouloir supprimer ce client ?")) {
        CollaborateurService.deleteClient(id)
        window.location.reload();
      }
    }
  }
}
</script>

<style scoped>
.datepicker-client {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}
@media only screen and (max-width: 992px) {

  .input-client-size-3 {
    width: 90%;
    margin-bottom: 5%;
  }

  .auth-client {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .input-client-size-3 {
    width: 80%;
  }
}

.flex-client {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.client-container {
  text-align: center;
  -webkit-box-shadow: 0px 1px 6px 2px #3E3D3E;
  box-shadow: 0px 1px 6px 2px #3E3D3E;
  width: 80%;
  margin-bottom: 5%;
  margin-left: 10%;
  padding: 1%;
}
</style>