<template>
  <div class="w3-bar w3-top w3-black w3-large">
    <button
        class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey"
        @click="openMenu()"
    >
      <em class="fa fa-bars"></em> Menu
    </button>
    <div v-if="!this.isConnected">
      <a href="/inscription" class="w3-bar-item w3-button w3-right">{{ $t('top.register')}}</a>
      <a href="/connexion" class="w3-bar-item w3-button w3-right">{{ $t('top.login')}}</a>
    </div>
    <div v-else>
      <a @click="signOut" class="w3-bar-item w3-button w3-right">{{ $t('top.disconnect') }}</a>
    </div>

    <a href="/home" style="text-decoration: none;color: white" >
      <span class="w3-bar-item w3-left">Mobisure</span>
    </a>
    <div class="w3-bar-item locale-switcher">
      <select v-model="$i18n.locale">
        <option value="en">EN</option>
        <option value="fr">FR</option>
      </select>
    </div>
  </div>
</template>

<script>
import { useCookies } from "vue3-cookies";
import {mapActions, mapState} from "vuex";

export default {
  name: "CommonTop",
  computed: {
    ...mapState({
      isConnected: "isConnected"
    })
  },
  data() {
    return {
      SIDEBAR: ""
    };
  },
  methods: {
    ...mapActions({
      disconnect: "disconnect"
    }),

    openMenu: function () {
      if (this.SIDEBAR.style.display === "block") {
        this.SIDEBAR.style.display = "none";
      } else {
        this.SIDEBAR.style.display = "block";
      }
    },
    //Pour se déconnecter
    signOut() {
      this.cookies.remove('idPerson')
      this.cookies.remove('collaborateur')
      this.disconnect()
      this.$router.push('home')
      this.$router.go()
    }
  },
  mounted() {
    this.SIDEBAR = document.getElementById("mySidebar");
  },
  setup() {
    const { cookies } = useCookies();
    return { cookies };
  }
};
</script>