<template>
  <div>
    <h4 class="auth-title">{{ $t('connexion-inscription.connexionTitle') }}</h4>
    <form class="auth-form">
      <div class="auth-group-connexion">
        <input v-model="id" :placeholder="$t('connexion-inscription.mail')" aria-describedby="emailHelp" class="form-control"
               type="email">
      </div>
      <div class="auth-group-connexion">
        <input v-model="pwd" :placeholder="$t('connexion-inscription.mdp')" autocomplete="current-password" class="medium-form form-control"
               type="password">
      </div>
      <div v-if="errorMsg === 'champ'" class="alert alert-danger alert-dismissible fade show">
        {{ $t('connexion-inscription.errorChamp') }}
      </div>
      <div v-if="errorMsg === 'badConnexion'" class="alert alert-danger alert-dismissible fade show">
        {{ $t('connexion-inscription.badConnexion') }}
      </div>
      <button class="btn btn-lg btn-primary" type="submit" @click="signin">{{
          $t('connexion-inscription.connexion')
        }}
      </button>
    </form>
  </div>
</template>

<script>
import {AuthService} from "../services/authService";
import {useCookies} from "vue3-cookies";
import {mapActions} from "vuex";
import {ProfileService} from "../services/profileService";

export default {
  name: "Connexion",
  data() {
    return {
      id: "",//Id de l'assuré
      pwd: "",//Mot de passe de l'assuré
      errorMsg: ""//Message d'erreur
    }
  },
  methods: {
    ...mapActions({
      connect: "connect",
      changePrenom : "changePrenom"
    }),

    //pour se connecter
    async signin(event) {
      event.preventDefault();

      if (this.pwd === '' || this.id === '') {
        this.errorMsg = 'champ'
        return
      }

      const person = await AuthService.signin(this.id, this.pwd).catch(() => {
        this.errorMsg = 'badConnexion'
      })
      if (person.data) {
        this.cookies.set("idPerson", person.data.idPersonne, "1h");
        this.cookies.set("collaborateur", person.data.collaborateur, "1h");
        this.cookies.set("droitsAcces", person.data.droitsAcces, "1h");
        this.connect()
        if(this.cookies.get("collaborateur") === "false"){
          const info = await ProfileService.getPerson(this.cookies.get("idPerson"))
          this.changePrenom(info.data.prenom)
        }
        else{
          const info = await ProfileService.getAdmin(this.cookies.get("idPerson"))
          this.changePrenom(info.data.prenom)
        }
        await this.$router.push('home')
      }
    }
  },

  //Setup les cookies
  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },

};
</script>


<style>
.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}

.auth-title {
  margin-top: 5%;
  margin-bottom: 5%;
}

.auth-group-connexion {
  width: 60%;
  margin-bottom: 10%;
}
</style>