<template>
  <div v-if="!loading" style="display: flex; flex-direction: column; justify-content: center; align-items: center">
    <h1>Gestion des contacts</h1>
    <div v-if="this.partenaire.partenaire && this.partenaire.partenaire.nomPartenaire">
      <h4>Partenaire : {{this.partenaire.partenaire.nomPartenaire}}</h4>
    </div>
    <table aria-label="Partenaire" v-show="!showAdd " v-if="contacts.length > 0" style="width: 90%"
           class="mt-4 mb-5 table table-striped table-bordered table-hover">
      <thead class="thead-dark">
      <tr>
        <th id="head-table-pre">Prénom</th>
        <th id="head-table-nom">Nom</th>
        <th id="head-table-mail">Mail</th>
        <th id="head-table-act">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(item,index) in this.contacts" :key="index">
        <td>
          {{ item.prenom }}
        </td>
        <td>
          {{ item.nom }}
        </td>
        <td>
          {{ item.mail }}
        </td>
        <td>
          <button type="button" class="m-1 btn btn-danger" @click="deleteContact(item)"><em class="fa fa-trash"></em>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <button v-if="!showAdd" type="button" class="m-1 mb-4 btn btn-success" @click="open">Ajouter un contact pour ce
      partenaire
    </button>
    <ContactPartenaireForm class="mt-4 mb-4" v-if="showAdd" @addContactPartenaire="addContactPartenaire"/>
    <button v-if="showAdd " type="button" class="m-1 mb-4 btn btn-danger" @click="closeModal">Retour</button>
  </div>
  <div v-else>
    <PulseLoader :loading="loading"/>
  </div>
</template>

<script>
import {PartenaireService} from "../services/partenaireService";
import ContactPartenaireForm from "./ContactPartenaireForm";

export default {
  name: "ContactPartenaire",
  components: {ContactPartenaireForm},
  data() {
    return {
      contacts: [
        {
          prenom: "Sami",
          nom: "Lejeune",
          mail: "mail@mail.com"
        }
      ],//Liste de contacts
      partenaire: {},
      showAdd: false,//Pour gérer la modal
      loading: false,//Pour le chargement
      id: this.$route.params.id//Id du partenaire
    }
  },
  methods: {
    //Récupérer les contacts partenaires pour un partenaire
    async syncContactPartenaire() {
      this.loading = true;
      PartenaireService.getOnePartenaire(this.id).then(value => {
        this.partenaire = value.data;
      }).finally(() => {
        PartenaireService.getContactPartenaires(this.id).then(value => {
          this.loading = false;
          this.contacts = value.data;
        })
      });
    },
    //Supprimer un contact partenaire
    deleteContact(item) {
      this.loading = true;
      PartenaireService.deleteContactPartenaire(item.idPersonne).then(() => {
        this.syncContactPartenaire();
        this.loading = false;
      })
    },
    //Ouvrir le modal
    open() {
      this.showAdd = true;
    },
    //fermer le modal
    closeModal() {
      this.showAdd = false;
    },
    //Ajouter un contact partenaire
    async addContactPartenaire(data) {
      data.idPartenaire = this.id;
      this.loading = true;
      PartenaireService.createContactPartenaire(data).then(() => {
        this.syncContactPartenaire();
      }).finally(() => {
        this.closeModal();
      })
    }
  },
  mounted() {
    if (this.id) {
      this.syncContactPartenaire();
    }
  }
}
</script>
