<template>
  <div v-if="error">
    <h3 style="color: red">{{ $t('error.unauthorized') }}</h3>
  </div>
  <div v-else-if="this.cookies.get('droitsAcces') === '2'">
    <p style="color: red; font-size: large; font-weight: bold">/!\PAGE NON AUTORISEE AVEC VOS DROITS/!\</p>
  </div>
  <div v-else style="
  -webkit-box-shadow: 0px 1px 6px 2px #3E3D3E;
  box-shadow: 0px 1px 6px 2px #3E3D3E;
width: 80%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 3%">
    <h3 style="text-decoration: underline">Information</h3>
    <label class="mb-2 mt-2" style="font-weight: bold">Nom</label>
    <input type="text" class="form-control" v-model="contact.info.nom" placeholder="Nom">
    <label class="mb-2 mt-2" style="font-weight: bold">Prénom</label>
    <input type="text" class="form-control" v-model="contact.info.prenom" placeholder="Prénom">
    <label class="mb-2 mt-2" style="font-weight: bold">Mail</label>
    <input type="email" class="form-control" v-model="contact.info.mail" placeholder="Mail">
    <label class="mb-2 mt-2" style="font-weight: bold">Mot de passe</label>
    <input type="password" class="form-control" v-model="contact.info.mdp" placeholder="Mot de passe">
    <button type="button" class="m-1 mt-3 btn btn-success" @click="save">Valider</button>
    <div v-if="errorMsg" class="mt-3 alert alert-danger alert-dismissible fade show">
      Veuillez saisir la totalité des champs
    </div>
  </div>
</template>

<script>
import {useCookies} from "vue3-cookies";

export default {
  name: "ContactPartenaireForm",
  data() {
    return {
      error: false,//Pour gérer les erreurs
      errorMsg: false,//Pour gérer le message d'erreur
      iso: ["FR", "BE"],//Liste des codes ISO
      contact: {
        info: {
          nom: "",
          prenom: "",
          mail: "",
          mdp: ""
        }
      }//Infos pour le contact
    }
  },
  methods: {
    //Ajouter un contact partenaire
    save() {
      const data = {
        "nom": this.contact.info.nom,
        "prenom": this.contact.info.prenom,
        "mail": this.contact.info.mail,
        "mdp": this.contact.info.mdp,
      }
      this.errorMsg = false;
      if (this.checkField(data)) {
        this.$emit("addContactPartenaire",data)
      } else {
        this.errorMsg = true
      }
    },
    //Vérifier que les champs sont bons
    checkField(data) {
      let variable = true;
      Object.values(data).forEach(value => {
        if (value == '' || value == '_') {
          variable = false;
        }
      })
      return variable;
    }
  },
  //Setup des cookies
  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },
  mounted() {
    if (!this.cookies.get('collaborateur') || this.cookies.get('collaborateur') === 'false') {
      this.error = true;
    }
  }
}
</script>
