<template>
  <div>
    <div>
      <div>
        <div v-if="auto">
          <h3>{{ this.price }} € / mois</h3>
          <h4>Soit {{ (this.price * 12).toFixed(2) }} € / an</h4>
        </div>
        <div v-if="voyage">
          <h3>Coût de la formule voyage : {{ this.price }} €</h3>
        </div>
        <br>
        <div v-if="auto" class="devis_end_choix_paiement">
          <div class="devis_end_choix_paiement_element">
            Paiement par mois
          </div>
          <input v-model="paiementMois" class="devis_end_choix_paiement_element" item type="checkbox"
                 @change="selectionPaiement('MOIS')">
        </div>
        <div v-if="auto" class="devis_end_choix_paiement">
          <div class="devis_end_choix_paiement_element">
            Paiement par année
          </div>
          <input v-model="paiementAn" class="devis_end_choix_paiement_element" item type="checkbox"
                 @change="selectionPaiement('AN')">
        </div>
        <table aria-label="Fichiers récaps" class="table table-striped table-bordered">
          <thead class="thead-dark">
          <tr>
            <th id="head-table-fd">Fichier demandé</th>
            <th id="head-table-af">Ajouter le fichier</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(item,index) in this.filesNeed" :key="index">
            <td v-if="item.condition ? (this.paiementMois) : true">{{ item.text }}</td>
            <td v-if="item.condition ? (this.paiementMois) : true">
              <input accept="image/*,application/pdf" class="input-file" title=""
                     type="file" @change="upload($event,item.id);">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import {DevisService} from "../services/devisService";
import {useCookies} from "vue3-cookies";
import {CollaborateurService} from "../services/collaborateurService";

export default {
  name: "DevisEnd",
  data() {
    return {
      paiementAn: true,
      paiementMois: false,
      files: {
        CI: "",
        MANDAT: "",
        PERMIS: "",
        GRISE: ""
      }
    }
  },
  props: {
    price: {
      type: Number,
      required: true
    },
    filesNeed: {
      type: Object,
      required: true
    },
    voyage: {
      type: Boolean
    },
    auto: {
      type: Boolean
    }
  },
  methods: {
    //Modifier la méthode de paiement
    selectionPaiement(element) {
      if (element === 'AN') {
        this.paiementAn = true
        this.paiementMois = false
        this.$emit('updatePaiement', 'AN')
      } else {
        this.paiementAn = false
        this.paiementMois = true
        this.$emit('updatePaiement', 'MOIS')
      }
    },

    //Upload les fichiers justificatifs
    upload(event, id) {
      let data = new FormData();
      let file = event.target.files[0];

      data.append('fileType', id)
      data.append('file', file)
      data.append('idPerson', this.cookies.get("idPerson"))
      DevisService.upload(data)
    }
  },
  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },
  unmounted() {
    CollaborateurService.verifFichiers()
  }
}
</script>

<style scoped>
.devis_end_choix_paiement {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.devis_end_choix_paiement_element {
  margin: 1%
}

label > input[type=file] {
  display: none;
}
</style>