<template>
<div class="devis-profile-component">
  <div class="devis-profile-input">
    <h3 v-if="note">{{ this.note }}</h3>
    <div class="devis-profile-input">
      <p><strong>{{$t('connexion-inscription.prenom')}}</strong></p>
      <input v-model="item.firstname" :placeholder="$t('connexion-inscription.prenom')"
             class="input-inscription input-inscription-size-3"
             :disabled="readable"
             type="text"
             @blur="updateProfile">
    </div>
    <p><strong>{{$t('connexion-inscription.nom')}}</strong></p>
    <input v-model="item.lastname" :placeholder="$t('connexion-inscription.nom')"
           class="input-inscription input-inscription-size-3"
           :disabled="readable"
           type="text"
           @blur="updateProfile">
  </div>
  <div class="devis-profile-input">
    <p><strong>{{$t('connexion-inscription.dateNaissance')}}</strong></p>
    <datepicker class="datepicker-inscription" v-model="item.dateNaissance" :disabled="readable" inputFormat="dd-MM-yyyy" v-on:blur="updateProfile"/>
  </div>
  <button v-if="!readable && !note" class="btn btn-danger" @click="removePerson" style="margin-top: 2%"> Supprimer </button>
</div>
</template>

<script>
import Datepicker from 'vue3-datepicker'

export default {
  name: "Adresse",
  components: {
    Datepicker
  },
  props: {
    profile: {
      type: Object,
      required: true
    },
    index: {
      type: Number
    },
    readable : {
      type : Boolean
    },
    note : {
      type : String
    },
    existants: {
      type : Object
    }
  },
  data() {
    return {
      item: {}
    }
  },
  created() {
    this.item = {...this.profile}
  },
  methods: {
    //modifier le profil
    updateProfile() {
      if(!this.readable) {
        this.$emit('profileToParent', this.item, this.index)
      }
    },
    //Retirer une personne du contrat
    removePerson() {
      if(!this.readable) {
        this.$emit('removeProfileToParent', this.index)
      }
    }
  }
}
</script>

<style>


.devis-profile-component {
  margin:4%;
  padding: 2%;
  text-align: center;
  -webkit-box-shadow: 0px 1px 6px 2px #3E3D3E;
  box-shadow: 0px 1px 6px 2px #3E3D3E;
}

.devis-profile-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2%;
  align-items: center;
}
</style>