<template>
  <div class="devis_component">
    <h2>{{ title }}</h2>
    <h4>{{ subtitle }}</h4>
    <select v-if="inputType === 'list'" v-model="choose" class="form-control devisElement" @change="updateSelect">
      <option disabled hidden value="">{{ placeholder }}</option>
      <option v-for="option in listItems" :key="option.value" :value="!!option.value ? option.value : option.text">
        {{ option.text }}
      </option>
    </select>
    <div v-if="inputType === 'multipleSelect'" class="multipleSelect">
      <select v-model="multipleSelect1" class="form-control multipleSelectElement devisElement"
              @change="updateMultipleSelect">
        <option disabled hidden value="">{{ placeholder }}</option>
        <option v-for="option in listItems" :key="option.value" :value="!!option.value ? option.value : option.text">
          {{ option.text }}
        </option>
      </select>
      <select v-model="choose" class="form-control multipleSelectElement devisElement" @change="updateSelect">
        <option disabled hidden value="">{{ placeholder }}</option>
        <option v-for="option in listItems2" :key="option.value" :value="!!option.value ? option.value : option.text">
          {{ option.text }}
        </option>
      </select>
    </div>
    <div v-if="inputType === 'age'" class="multipleSelect" style="margin-top: 4%">
      <div v-for="(element,index) in ageItems" :key="index">
        <div> {{ element.title }}</div>
        <vue-number-input v-if="element.inputText === 'nbAdulte'" v-model="adulte"
                          :max="10" :min="0"
                          controls inline @click="updateAge(element.inputText,adulte)" @input="updateAge(element.inputText,adulte)"></vue-number-input>
        <vue-number-input v-else-if="element.inputText === 'nbEnfants'" v-model="enfant"
                          :max="10" :min="0"
                          controls inline @click="updateAge(element.inputText,enfant)" @input="updateAge(element.inputText,enfant)"></vue-number-input>
        <vue-number-input v-else-if="element.inputText === 'nbBebes'" v-model="bebe"
                          :max="10" :min="0" controls
                          inline @click="updateAge(element.inputText,bebe)" @input="updateAge(element.inputText,bebe)"></vue-number-input>
      </div>
    </div>
    <input v-if="inputType === 'input'" v-model="comments" :placeholder="placeholder" class="form-control"
           @input="updateInput"/>
    <input v-if="inputType === 'number'" v-model="number" :placeholder="placeholder" class="form-control" min="0"
           type="number" @input="updateNumber"/>
    <datepicker v-if="inputType === 'date'" v-model="date" class="form-control devisElement" inputFormat="dd-MM-yyyy"
                v-on:blur="updateDate"/>
    <input v-if="inputType === 'choice'" id="checkbox" v-model="checked" class="form-check-input" style="width: 2%"
           type="checkbox" @change="updateCheckbox">
  </div>
</template>

<script>
import Datepicker from 'vue3-datepicker'
import VueNumberInput from '@chenfengyuan/vue-number-input';

export default {
  name: "DevisComponent",
  components: {
    Datepicker,
    VueNumberInput
  },
  props: {
    title: {
      type: String
    },
    subtitle: {
      type: String
    },
    placeholder: {
      type: String
    },
    inputText: {
      type: String
    },
    inputType: {
      type: String
    },
    listItems: {
      type: Object
    },
    listItems2: {
      type: Object
    },
    ageItems: {
      type: Object
    },
  },
  data() {
    return {
      comments: "",//Commentaires du contrat
      choose: "",//L'élément choisi
      multipleSelect1: "",
      date: new Date(),//Date du contrat
      checked: true,
      value: 1,
      bebe: 0,//Nombre de bébés dans le contrat
      adulte: 0,//Nombre d'adultes dans le contrat
      enfant: 0,//Nombre d'enfants dans le contrat
      number: 0//Nombre total
    }
  },
  methods: {

    //Mettre à jour le nombre de personnes
    updateNumber() {
      const devis = {
        input: this.inputText,
        value: this.number
      }
      this.$emit('updateAll', devis)
    },

    updateInput() {
      const devis = {
        input: this.inputText,
        value: this.comments.toUpperCase()
      }
      this.$emit('updateAll', devis)
    },
    updateSelect() {
      const devis = {
        input: this.inputText,
        value: this.choose
      }
      this.$emit('updateAll', devis)
    },
    updateMultipleSelect() {
      const devis = {
        input: "region",
        value: this.multipleSelect1
      }
      this.$emit('updateAll', devis)
    },
    //Mettre à jour la date
    updateDate() {
      const devis = {
        input: this.inputText,
        value: this.date
      }
      this.$emit('updateAll', devis)
    },
    updateCheckbox() {
      const devis = {
        input: this.inputText,
        value: this.checked
      }
      this.$emit('updateAll', devis)
    },
    updateAge(inputText, ageElement) {
      const devis = {
        input: inputText,
        value: ageElement
      }
      this.$emit('updateAll', devis)
    },
    reset() {
      this.comments = ""
      this.date = new Date()
    }
  },
  mounted() {
    this.reset()
  },

}
</script>

<style scoped>
.devis_component {
  width: 80%;
  margin-top: 5%;
}

.multipleSelect {
  display: flex;
  justify-content: space-around;
}

.multipleSelectElement {
  width: 45%;
}

.devisElement {
  margin-top: 4%;
}
</style>