<template>

  <div class="dossier-container" :hidden="this.display" v-if="this.affiche">
    <div class="auth-dossier">
      <p style="font-weight: bold">{{ $t('collaborateur.dossierVe') }} n°{{ item.idFormule}} :</p>
      <div class="auth-group-inscription-2">
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('collaborateur.nom_prenom')}}</p>
          <input @input="updateContrat" v-model="fullName"
                 class="input-inscription input-dossier-size-3"
                 :placeholder="$t('collaborateur.nom_prenom')"
                 type="text"
                 :disabled="this.readable">
        </div>
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('collaborateur.mail_telephone')}}</p>
          <input @input="updateContrat" :placeholder="$t('collaborateur.mail_telephone')" v-model="mail_telephone"
                 class="input-inscription input-dossier-size-3"
                 type="text"
                 :disabled="this.readable">
        </div>
      </div>
      <div class="auth-group-inscription-2">
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.nomFormule')}}</p>
          <input @input="updateContrat" v-model="item.nomFormule"
                 class="input-inscription input-dossier-size-3"
                 :placeholder="$t('contrat.auto.marque')"
                 type="text"
                 :disabled="this.readable">
        </div>

        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.prixFormule')}}</p>
          <input @input="updateContrat" :placeholder="$t('contrat.prixFormule')" v-model="item.prix"
                 class="input-inscription input-dossier-size-3"
                 type="text"
                 :disabled="this.readable">
        </div>

      </div>
      <div class="auth-group-inscription-2">
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.auto.marque')}}</p>
          <input @input="updateContrat" v-model="item.marque"
                 class="input-inscription input-dossier-size-3"
                 :placeholder="$t('contrat.auto.marque')"
                 type="text"
                 :disabled="this.readable">
        </div>
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.auto.modele')}}</p>
          <input @input="updateContrat" :placeholder="$t('contrat.auto.modele')" v-model="item.modele"
                 class="input-inscription input-dossier-size-3"
                 type="text"
                 :disabled="this.readable">
        </div>
      </div>
      <div class="auth-group-inscription-2">
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.auto.immatriculation')}}</p>
          <input @input="updateContrat" v-model="item.immatriculation"
                 class="input-inscription input-dossier-size-3"
                 :placeholder="$t('contrat.auto.immatriculation')"
                 type="text"
                 :disabled="this.readable">
        </div>
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.auto.zoneGeo')}}</p>
          <input @input="updateContrat" :placeholder="$t('contrat.auto.zoneGeo')" v-model="item.zoneGeo"
                 class="input-inscription input-dossier-size-3"
                 type="text"
                 :disabled="this.readable">
        </div>
      </div>
      <div class="auth-group-inscription-2">
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.auto.nomUsage')}}</p>
          <input @input="updateContrat" v-model="item.nomUsage"
                 class="input-inscription input-dossier-size-3"
                 :placeholder="$t('contrat.auto.nomUsage')"
                 type="text"
                 :disabled="this.readable">
        </div>
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.auto.nomMode')}}</p>
          <input @input="updateContrat" :placeholder="$t('contrat.auto.nomMode')" v-model="item.nomMode"
                 class="input-inscription input-dossier-size-3"
                 type="text"
                 :disabled="this.readable">
        </div>
      </div>
      <div class="auth-group-inscription-2">
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{$t('contrat.dateSouscription')}}</p>
          <datepicker class="datepicker-dossier" v-model="item.dateSouscription" :inputFormat="$t('format.date')" disabled/>
        </div>
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('collaborateur.statut')}}</p>
          <input @input="updateContrat" :placeholder="$t('collaborateur.statut')" v-model="item.status"
                 class="input-inscription input-dossier-size-3"
                 type="text"
                 :disabled="this.readable">
        </div>
      </div>
      <button class="btn btn-lg btn-primary" v-on:click="deleteDossier(item.idFormule)">{{ $t('collaborateur.deleteDossier') }}</button>
      <router-link class="w3-bar-item w3-button w3-padding btn-margin" :to="{path: '/updateDossier/' + item.idFormule}"><button class="btn btn-lg btn-primary">{{ $t('collaborateur.updateDossier') }}</button></router-link>
      <router-link v-if="item.status != 'ACCEPTED'" class="w3-bar-item w3-button w3-padding btn-margin" :to="{path: '/seeFilesDossier/' + item.idFormule}"><button class="btn btn-lg btn-primary">{{ $t('collaborateur.seeFilesDossier') }}</button></router-link>
    </div>
  </div>
  <div class="dossier-container" :hidden="!this.display" v-if="this.affiche">
    <div class="auth-dossier">
      <p style="font-weight: bold">{{ $t('collaborateur.dossierVo') }} n°{{ item.idFormule }} :</p>
      <div class="auth-group-inscription-2">
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('collaborateur.nom_prenom')}}</p>
          <input @input="updateContrat" v-model="fullName"
                 class="input-inscription input-dossier-size-3"
                 :placeholder="$t('collaborateur.nom_prenom')"
                 type="text"
                 :disabled="this.readable">
        </div>
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('collaborateur.mail_telephone')}}</p>
          <input @input="updateContrat" :placeholder="$t('collaborateur.mail_telephone')" v-model="mail_telephone"
                 class="input-inscription input-dossier-size-3"
                 type="text"
                 :disabled="this.readable">
        </div>
      </div>
      <div class="auth-group-inscription-2">
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.nomFormule')}}</p>
          <input @input="updateContrat" v-model="item.nomFormule"
                 class="input-inscription input-dossier-size-3"
                 :placeholder="$t('contrat.nomFormule')"
                 type="text"
                 :disabled="this.readable">
        </div>

        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.prixFormule')}}</p>
          <input @input="updateContrat" :placeholder="$t('contrat.prixFormule')" v-model="item.prix"
                 class="input-inscription input-dossier-size-3"
                 type="text"
                 :disabled="this.readable">
        </div>

      </div>
      <div class="auth-group-inscription-2">
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.voyage.destination')}}</p>
          <input @input="updateContrat" v-model="item.destination"
                 class="input-inscription input-dossier-size-3"
                 :placeholder="$t('contrat.voyage.destination')"
                 type="text"
                 :disabled="this.readable">
        </div>

        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.voyage.type')}}</p>
          <input @input="updateContrat" :placeholder="$t('contrat.voyage.type')" v-model="item.type"
                 class="input-inscription input-dossier-size-3"
                 type="text"
                 :disabled="this.readable">
        </div>
      </div>
      <div class="auth-group-inscription-2">
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.voyage.dateDebut')}}</p>
          <datepicker class="datepicker-dossier" v-model="item.dateDebut" :inputFormat="$t('format.date')" disabled/>
        </div>

        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.voyage.dateFin')}}</p>
          <datepicker class="datepicker-dossier" v-model="item.dateFin" :inputFormat="$t('format.date')" disabled/>
        </div>
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.voyage.nbVoyageurs')}}</p>
          <input @input="updateContrat" :placeholder="$t('contrat.voyage.nbVoyageurs')" v-model="item.nbVoyageurs"
                 class="input-inscription input-dossier-size-3"
                 type="text"
                 :disabled="this.readable">
        </div>
      </div>
      <div class="auth-group-inscription-2">
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{$t('contrat.dateSouscription')}}</p>
          <datepicker class="datepicker-dossier" v-model="item.dateSouscription" :inputFormat="$t('format.date')" disabled/>
        </div>
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('collaborateur.statut')}}</p>
          <input @input="updateContrat" :placeholder="$t('collaborateur.statut')" v-model="item.status"
                 class="input-inscription input-dossier-size-3"
                 type="text"
                 :disabled="this.readable">
        </div>
      </div>
      <button v-if="item.status == 'PENDING'" class="btn btn-lg btn-primary" v-on:click="deleteDossier(item.idFormule)">{{ $t('collaborateur.deleteDossier') }}</button>
      <router-link class="w3-bar-item w3-button w3-padding btn-margin" :to="{path: '/updateDossier/' + item.idFormule}"><button class="btn btn-lg btn-primary">{{ $t('collaborateur.updateDossier') }}</button></router-link>
      <router-link class="w3-bar-item w3-button w3-padding btn-margin" :to="{path: '/seeFilesDossier/' + item.idFormule}"><button class="btn btn-lg btn-primary">{{ $t('collaborateur.seeFilesDossier') }}</button></router-link>
    </div>
  </div>
</template>

<script>
import Datepicker from "vue3-datepicker";
import {CollaborateurService} from "../services/collaborateurService";

export default {
  name: "Dossier",
  components:{
    Datepicker
  },
  computed: {
    fullName: {
      get() {
        return `${this.item.prenom} ${this.item.nom.toUpperCase()}`;
      }
    },
    mail_telephone:{
      get(){
        return `${this.item.mail} | ${this.item.telephone}`;
      }
    }
  },
  props: {
    dossier: {
      type: Object,
      required: true
    },
    readable:{
      type: Boolean
    },
    display:{
      type: Boolean
    },
    number:{
      type: Number
    },
    taille:{
      type: Number
    },
    affiche:{
      type: Boolean
    }
  },
  data() {
    return {
      item: {}
    }
  },
  created() {
    this.item = {...this.dossier}
  },
  methods: {
    //Supprimer le dossier
    deleteDossier(id){
      if(confirm("Êtes-vous sûr(e) de vouloir supprimer ce dossier ?")) {
        CollaborateurService.deleteDossier(id)
        window.location.reload();
      }
    }
  }
}
</script>

<style scoped>
.datepicker-dossier {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}
@media only screen and (max-width: 992px) {

  .input-dossier-size-3 {
    width: 90%;
    margin-bottom: 5%;
  }

  .auth-dossier {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .input-dossier-size-3 {
    width: 80%;
  }
}

.flex-dossier {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.dossier-container {
  text-align: center;
  -webkit-box-shadow: 0px 1px 6px 2px #3E3D3E;
  box-shadow: 0px 1px 6px 2px #3E3D3E;
  width: 80%;
  margin-bottom: 5%;
  margin-left: 10%;
  padding: 1%;
}
</style>