<template>
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>{{ $t("footer.title") }}</h4>
    <p>{{ $t("footer.developed") }}</p>
    <p><small>&copy; Copyright 2022, AssurMob</small></p>
  </footer>
  <cookie-consent button-label="Ok !">
    <template v-slot:message>Ce site Web utilise des cookies pour vous garantir la meilleure expérience possible sur notre site.</template>
  </cookie-consent>
</template>

<style>
footer{
  text-align: center;
}
</style>

<script>
import CookieConsent from 'vue-cookieconsent-component'

export default {
  name: 'Footer',
  components: {
    CookieConsent
  }
}
</script>