<template>
  <div class="home-offer">
    <h4>{{ $t('home.offers.title') }}</h4>
    <div class="offers">
      <div class="offer">
        <p class="offer-title">{{ $t("home.offers.auto.title") }}</p>
        <img class="offer-image" src="images/site/auto.png" alt="auto"/>
        <button @click="$router.push('/devis_auto')" class="w3-button w3-round-large w3-blue w3-padding-small">{{ $t("home.offers.auto.send") }}</button>
      </div>
      <div class="offer">
        <p class="offer-title">{{ $t("home.offers.voyage.title") }}</p>
        <img class="offer-image" src="images/site/voyage.png" alt="voyage"/>
        <button @click="$router.push('/devis_voyage')" class="w3-button w3-round-large w3-blue w3-padding-small">{{ $t("home.offers.voyage.send") }}</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HomeOffers"
};
</script>

<style>
@media only screen and (max-width: 992px) {
  .offers {
    flex-direction: column;
    align-items: center;
  }
  .home-offer{
    margin-top: 20%;
  }
}

@media only screen and (min-width: 992px) {
  .home-offer{
    margin-top: 4%;
  }
  .offers{
    justify-content: space-around;
  }
}

.home-offer{
  width: 80%;
  text-align: center;
  -webkit-box-shadow: 0px 1px 6px 2px #3E3D3E;
  box-shadow: 0px 1px 6px 2px #3E3D3E;
  margin-bottom: 7%;
  padding: 2%;
}

.offers{
  display: flex;
  width: 100%;
  margin-top: 2%;
}
.offer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3%;
}
.offer-image{
  width: 100px;
  height: 100px;
}
.offer-title {
  font-weight: bold;
}
</style>