<template>
  <div class="home-question">
    <h4 class="home-question-title">
      {{ $t('home.questions.title')}}
    </h4>
    <div class="question-description-container">
      <div class="question-box">
        <h4 class="question-title">{{ $t('home.questions.question1.title') }}</h4>
        <p>{{ $t('home.questions.question1.description') }}</p>
      </div>
      <div class="question-box">
        <h4 class="question-title">{{ $t('home.questions.question2.title') }}</h4>
        <p>{{ $t('home.questions.question2.description') }}</p>
      </div>
      <div class="question-box">
        <h4 class="question-title">{{ $t('home.questions.question3.title') }}</h4>
        <p>{{ $t('home.questions.question3.description') }}</p>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "HomeQuestion"
    };
</script>

<style>
@media only screen and (max-width: 992px) {
  .question-description-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .question-box {
    width: 30%;
    margin: 2%;
  }
}
.question-description-container {
  display: flex;
}
.home-question-title {
  font-weight: bold;
}
.question-title {
  text-decoration: underline;
}
.home-question {
  width: 80%;
  text-align: center;
  background-color: #494df4;
  color: white;
  -webkit-box-shadow: 0px 1px 6px 2px #3E3D3E;
  box-shadow: 0px 1px 6px 2px #3E3D3E;
  margin-top: 4%;
  margin-bottom: 7%;
  padding: 3%;
}
</style>