<template>
  <div>
    <h4 class="auth-title">{{ $t('connexion-inscription.inscriptionTitle') }}</h4>
    <form class="auth-form">
      <div class="auth-group-inscription-2">
        <input type="text" class="input-inscription input-inscription-size-2" v-model="nom" :placeholder="$t('connexion-inscription.nom')" required>
        <input type="text" class="input-inscription input-inscription-size-2" v-model="prenom" :placeholder="$t('connexion-inscription.prenom')">
      </div>
      <div class="auth-group-inscription-2">
        <input type="email" class="input-inscription input-inscription-size-2" v-model="mail" aria-describedby="emailHelp" :placeholder="$t('connexion-inscription.mail')">
        <input type="text" class="input-inscription input-inscription-size-2 " v-model="phone" :placeholder="$t('connexion-inscription.phone')">
      </div>
      <div class="auth-group-inscription-2">
        <p style="margin-right: 4%">{{$t('connexion-inscription.dateNaissance')}}</p>
        <datepicker class="datepicker-inscription" v-model="picked" inputFormat="dd-MM-yyyy"/>
      </div>
      <div class="auth-group-inscription">
        <input type="password" autocomplete="new-password" class="input-inscription input-inscription-size-1" v-model="mdp" :placeholder="$t('connexion-inscription.mdp')">
      </div>
      <div class="auth-group-inscription">
        <input type="password" autocomplete="new-password" class="input-inscription input-inscription-size-1" v-model="confirmMdp" :placeholder="$t('connexion-inscription.confirm-mdp')">
      </div>
      <Adresse v-for="(adresse) in adresses"
               :key="adresse.index"
               :adresse="adresse"
               v-on:adresseToParent="updateAdresse"
               v-on:input="adresse = $event"
               :number="adresse.index+1"/>
      <button @click="addAddress" class="btn btn-success" style="margin-bottom: 5%"> {{ $t('connexion-inscription.ajouterAdresse') }}</button>
      <button v-show="adresses.length > 1" @click="removeAddress" class="btn btn-success" style="margin-bottom: 5%"> {{ $t('connexion-inscription.retirerAdresse') }}</button>
      <div class="alert alert-danger alert-dismissible fade show" v-if="errorMsg === 'mdp'">
        {{ $t('connexion-inscription.errorMdp') }}
      </div>
      <div class="alert alert-danger alert-dismissible fade show" v-if="errorMsg === 'champ'">
        {{ $t('connexion-inscription.errorChamp') }}
      </div>
      <div class="alert alert-danger alert-dismissible fade show" v-if="errorMsg === 'date'">
        {{ $t('connexion-inscription.errorDate') }}
      </div>
      <div class="alert alert-danger alert-dismissible fade show" v-if="errorMsg === 'exist'">
        {{ $t('connexion-inscription.exist') }}
      </div>
      <div class="alert alert-danger alert-dismissible fade show" v-if="errorMsg === 'nonValidMdp'">
        Le mot de passe n'est pas sécurisé, il doit contenir au moins un chiffre / un caractère en majuscule et en minuscule / un symbole ; mais également faire entre 8 et 20 caractères
      </div>
      <div class="alert alert-success alert-dismissible fade show" v-if="validateMsg">
        {{ $t('connexion-inscription.validate') }}
      </div>
      <button @click="signup" class="btn btn-lg btn-primary">{{ $t('connexion-inscription.inscription') }}</button>
    </form>
  </div>
</template>

<script>
import Datepicker from 'vue3-datepicker'
import Adresse from "./Adresse";
import {AuthService} from "../services/authService";
import {Utils} from "../services/utils";

export default {
  name: "Inscription",
  components: {
    Datepicker,
    Adresse
  },
  data(){
    return {
      picked: new Date(),
      nom : "",
      prenom: "",
      mail:"",
      phone:"",
      mdp:"",
      confirmMdp:"",
      adresses: [
        {
          index:1,
          rue:"",
          numero:"",
          complement:"",
          ville:"",
          codePostal:"",
          pays:"FR"
        }
      ],
      errorMsg : "",
      validateMsg: false
    }
  },
  methods: {
    //Ajouter une adresse à l'assuré
      addAddress(event) {
        event.preventDefault();
        this.adresses.push(
            {
              index:this.adresses.length+1,
              rue:"",
              numero:"",
              complement:"",
              ville:"",
              codePostal:"",
              pays:"FR"
            }
        )
      },
    //retirer une adresse
      removeAddress(event) {
        event.preventDefault();
        if (this.adresses.length>1) {
          this.adresses.pop()
        }
      },
    //Mettre à jour une adresse
      updateAdresse(value) {
        this.adresses[value.index-1] = value
      },

    //S'inscrire
      async signup(event) {
        this.validateMsg = false
        this.errorMsg = ''
        event.preventDefault();

        if(Utils.getAge(this.picked) < 18) {
          this.errorMsg = 'date'
        }

        if (this.mdp !== this.confirmMdp) {
          this.errorMsg = 'mdp'
        }

        if (this.nom === '' || this.prenom === '' || this.mail === '' || this.phone === '' || this.mdp === '' || this.confirmMdp === '') {
          this.errorMsg = 'champ'
        }
        this.adresses.forEach(adresse => {
          if(adresse.numero === '' || adresse.rue === '' || adresse.complement === '' || adresse.ville === '' || adresse.codePostal === '') {
            this.errorMsg = 'champ'
          }
        })
        if (this.errorMsg !== '') {
          return
        }

        const dateString = Utils.formatDate(this.picked);
        const person = await AuthService.createPerson(dateString,this.mail,this.mdp,this.nom,this.prenom,this.phone).catch((error) => {
          if (error.response.data === 'Le mot de passe n\'est pas sécurisé') {
            this.errorMsg = 'nonValidMdp'
          } else {
            this.errorMsg = 'exist'
          }
        })
        if (this.errorMsg !== '') {
          return
        }
        this.adresses.forEach(adresse => {
          AuthService.createAdresse(adresse,person.data.idPersonne)
        })
        this.validateMsg = true
      }
  }
};
</script>

<style>
@media only screen and (max-width: 992px) {
  .auth-group-inscription-2{
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
  }

  .input-inscription-size-2 {
    width: 90%;
    margin-bottom: 5%;
  }

  .input-inscription-size-1 {
    width: 90%;
    margin-bottom: 5%;
  }

  .auth-group-inscription{
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .auth-group-inscription-2{
    justify-content: space-around;
    padding: 5px;
    margin-bottom: 3%;
  }
  .input-inscription-size-2 {
    width: 45%;
  }
  .input-inscription-size-1 {
    width: 90%;
  }
  .auth-group-inscription{
    width: 80%;
  }
}

.auth-group-inscription-2{
  display: flex;
  width: 100%;
}

.auth-group-inscription{
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}

.input-inscription {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}

.datepicker-inscription {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}
</style>

