<template>
  <nav
      id="mySidebar"
      class="w3-sidebar w3-collapse w3-white w3-animate-left"
      style="z-index:3;width:300px;"
  >
    <div v-if="show" class="w3-container w3-row">
      <div class="w3-col s4">
        <img
            class="w3-circle w3-margin-right"
            src="../assets/logo_mobisure.png"
            style="width:46px"
            alt="logo mobisure"
        />
      </div>
      <div v-if="this.isConnected" class="w3-col s8 w3-bar">
        <span>{{ $t('nav.message') }}<strong v-if="this.cookies.get('collaborateur') !== 'true'"
                                             style="color: black">{{ this.prenomConnected }}</strong>
          <strong v-if="this.cookies.get('collaborateur') === 'true' && this.cookies.get('droitsAcces') === '1'"
                  style="color: darkred">{{ this.prenomConnected }}</strong>
          <strong v-if="this.cookies.get('collaborateur') === 'true' && this.cookies.get('droitsAcces') === '2'"
                  style="color: forestgreen">{{ this.prenomConnected }}</strong></span
        ><br/>
        <a class="w3-bar-item w3-button" href="/contact"><em class="fa fa-envelope"></em></a>
        <a class="w3-bar-item w3-button" href="/profil" v-if="this.cookies.get('collaborateur') !== 'true'"><em
            class="fa fa-user"></em></a>
        <a class="w3-bar-item w3-button" href="/profilAdmin" v-if="this.cookies.get('collaborateur') === 'true'"><em
            class="fa fa-user"></em></a>
        <a class="w3-bar-item w3-button" href="#"><em class="fa fa-cog"></em></a>
      </div>
    </div>
    <hr/>
    <div class="w3-container">
      <h5>{{ $t('nav.board') }}</h5>
    </div>
    <div class="w3-bar-block">
      <a
          class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black"
          href="#"
          title="close menu"
          @click="closeMenu()"
      ><em class="fa fa-remove fa-fw"></em> {{ $t('nav.close') }}</a
      >
      <router-link class="w3-bar-item w3-button w3-padding" to="/"><em class="fa fa-pen fa-fw"></em> {{ $t('nav.home') }}
      </router-link>
      <router-link class="w3-bar-item w3-button w3-padding" to="/devis_auto"
                   v-if="this.cookies.get('collaborateur') && this.cookies.get('collaborateur') !== 'true'"><em
          class="fa fa-pen fa-fw"></em> {{ $t('nav.devis-auto') }}
      </router-link>
      <router-link class="w3-bar-item w3-button w3-padding" to="/devis_voyage"
                   v-if="this.cookies.get('collaborateur') && this.cookies.get('collaborateur') !== 'true'"><em
          class="fa fa-pen fa-fw"></em> {{ $t('nav.devis-voyage') }}
      </router-link>
      <router-link class="w3-bar-item w3-button w3-padding" to="/all_clients"
                   v-if="this.cookies.get('collaborateur') && this.cookies.get('collaborateur') === 'true' && this.cookies.get('droitsAcces') !== '2'"><em
          class="fa fa-pen fa-fw"></em> {{ $t('nav.all_clients') }}
      </router-link>
      <router-link class="w3-bar-item w3-button w3-padding" to="/all_dossiers"
                   v-if="this.cookies.get('collaborateur') && this.cookies.get('collaborateur') === 'true' && this.cookies.get('droitsAcces') !== '2'"><em
          class="fa fa-pen fa-fw"></em> {{ $t('nav.all_dossiers') }}
      </router-link>
      <router-link class="w3-bar-item w3-button w3-padding" to="/dashboardMobisure"
                   v-if="this.cookies.get('collaborateur') && this.cookies.get('collaborateur') === 'true' && this.cookies.get('droitsAcces') !== '2'"><em
          class="fa fa-pen fa-fw"></em> {{ $t('nav.dashboardMobisure') }}
      </router-link>
      <router-link class="w3-bar-item w3-button w3-padding" to="/dashboardClient"
                   v-if="this.cookies.get('collaborateur') && this.cookies.get('collaborateur') === 'true' && this.cookies.get('droitsAcces') !== '2'"><em
          class="fa fa-pen fa-fw"></em> {{ $t('nav.dashboardClient') }}
      </router-link>
      <router-link class="w3-bar-item w3-button w3-padding" to="/dashboardPartenaire"
                   v-if="this.cookies.get('collaborateur') && this.cookies.get('collaborateur') === 'true' && this.cookies.get('droitsAcces') !== '2'"><em
          class="fa fa-pen fa-fw"></em> {{ $t('nav.dashboardPartenaire') }}
      </router-link>
      <router-link class="w3-bar-item w3-button w3-padding" to="/assistance"
                   v-if="this.cookies.get('collaborateur') && this.cookies.get('collaborateur') === 'true' && this.cookies.get('droitsAcces') !== '2'"
      ><em class="fa fa-pen fa-fw"></em> {{ $t('nav.assistance') }}
      </router-link>
      <router-link class="w3-bar-item w3-button w3-padding" to="/partenaire"
                   v-if="this.cookies.get('collaborateur') && this.cookies.get('collaborateur') === 'true' && this.cookies.get('droitsAcces') !== '2'"
      ><em class="fa fa-pen fa-fw"></em> {{ $t('nav.partenaire') }}
      </router-link>
      <router-link class="w3-bar-item w3-button w3-padding" to="/collaborateur"
                   v-if="this.cookies.get('collaborateur') && this.cookies.get('collaborateur') === 'true' && this.cookies.get('droitsAcces') !== '2' "
      ><em class="fa fa-pen fa-fw"></em> {{ $t('nav.collaborateur') }}
      </router-link>
    </div>
  </nav>
</template>

<script>
import {useCookies} from "vue3-cookies";
import {mapState} from "vuex";

export default {
  name: "Nav",
  computed: {
    ...mapState({
      isConnected: "isConnected",
      prenomConnected: "prenomConnected"
    })
  },
  data() {
    return {
      SIDEBAR: "",
      show: true,
    };
  },
  methods: {
    closeMenu: function () {
      this.SIDEBAR.style.display = "none";
    }
  },
  async mounted() {
    this.SIDEBAR = document.getElementById("mySidebar");
  },
  setup() {
    const {cookies} = useCookies();
    return {cookies};
  }
};
</script>

<style scoped>
nav a.exact-active {
  background-color: rgb(8, 80, 80);
  color: white;
}
</style>
