<template>
  <div class="contrat-container">
    <h2 v-if="error">{{ $t('profile.noContract') }}</h2>
    <pulse-loader :loading="loading"/>
    <div :hidden="!this.contratAuto || this.error" class="auth-contrat">
      <div class="auth-group-inscription-2">
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.nomFormule')}}</p>
          <input v-model="contrat.nomFormule"
                 class="input-inscription input-inscription-size-3"
                 type="text"
                 :disabled="true">
        </div>
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.prixFormule')}}</p>
          <input v-model="contrat.prix"
                 class="input-inscription input-inscription-size-3"
                 type="text"
                 :disabled="true">
        </div>
      </div>
      <div class="auth-group-inscription-2">
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.auto.marque')}}</p>
          <input v-model="contrat.marque"
                 class="input-inscription input-inscription-size-3"
                 type="text"
                 :disabled="true">
        </div>
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.auto.modele')}}</p>
          <input v-model="contrat.modele"
                 class="input-inscription input-inscription-size-3"
                 type="text"
                 :disabled="true">
        </div>
      </div>
      <div class="auth-group-inscription-2">
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.auto.immatriculation')}}</p>
          <input v-model="contrat.immatriculation"
                 class="input-inscription input-inscription-size-3"
                 type="text"
                 :disabled="true">
        </div>
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.auto.zoneGeo')}}</p>
          <input v-model="contrat.zoneGeographique"
                 class="input-inscription input-inscription-size-3"
                 type="text"
                 :disabled="true">
        </div>
      </div>
      <div class="auth-group-inscription-2">
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.auto.nomUsage')}}</p>
          <input v-model="contrat.nomUsage"
                 class="input-inscription input-inscription-size-3"
                 type="text"
                 :disabled="true">
        </div>
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.auto.nomMode')}}</p>
          <input v-model="contrat.nomMode"
                 class="input-inscription input-inscription-size-3"
                 type="text"
                 :disabled="true">
        </div>
      </div>
      <div class="contrat-group-2">
        <p style="text-decoration: underline">{{$t('contrat.dateSouscription')}}</p>
        <datepicker class="datepicker-contrat" v-model="contrat.dateSouscription" :inputFormat="$t('format.date')" disabled/>
      </div>

      <div v-if="contrat.assuranceGetAssureDto && contrat.assuranceGetAssureDto.mineurs && contrat.assuranceGetAssureDto.mineurs.length !== 0" style="margin-top: 3%; margin-bottom: 3%">
        <h4>Mineurs sur le contrat</h4>
        <table aria-label="Mineurs" class="table table-striped table-bordered">
          <thead>
          <tr>
            <th id="head-table-1">#</th>
            <th id="head-table-pre">Prénom</th>
            <th id="head-table-nom">Nom</th>
            <th id="head-table-dn">Date de naissance</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(assu,index) in contrat.assuranceGetAssureDto.mineurs" :key="index">
            <td>{{index+1}}</td>
            <td>{{assu.prenom}} </td>
            <td>{{assu.nom}}</td>
            <td>{{assu.dateNaissance.substring(0,10)}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div v-if="contrat.assuranceGetAssureDto && contrat.assuranceGetAssureDto.majeurs && contrat.assuranceGetAssureDto.majeurs.length !== 0" style="margin-bottom: 3%">
        <h4>Majeurs sur le contrat</h4>
        <table aria-label="Majeurs" class="table table-striped table-bordered">
          <thead>
          <tr>
            <th id="head-table-2">#</th>
            <th id="head-table-pre2">Prénom</th>
            <th id="head-table-nom2">Nom</th>
            <th id="head-table-dn2">Date de naissance</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(assu,index) in contrat.assuranceGetAssureDto.majeurs" :key="index">
            <td>{{index+1}}</td>
            <td>{{assu.prenom}} </td>
            <td>{{assu.nom}}</td>
            <td>{{assu.dateNaissance.substring(0,10)}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div :hidden="!this.contratVoyage || this.error" class="auth-contrat">
      <div class="auth-group-inscription-2">
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.nomFormule') }}</p>
          <input v-model="contrat.nomFormule"
                 :disabled="true"
                 class="input-inscription input-inscription-size-3"
                 type="text">
        </div>

        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.prixFormule') }}</p>
          <input v-model="contrat.prix" :disabled="true"
                 class="input-inscription input-inscription-size-3"
                 type="text">
        </div>

      </div>
      <div class="auth-group-inscription-2">
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.voyage.destination') }}</p>
          <input v-model="contrat.destination"
                 :disabled="true"
                 class="input-inscription input-inscription-size-3"
                 type="text">
        </div>

        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.voyage.type') }}</p>
          <input v-model="contrat.type" :disabled="true"
                 class="input-inscription input-inscription-size-3"
                 type="text">
        </div>
      </div>
      <div class="auth-group-inscription-2">
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.voyage.dateDebut') }}</p>
          <datepicker v-model="contrat.dateDebut" :inputFormat="$t('format.date')" class="datepicker-contrat" disabled/>
        </div>

        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.voyage.dateFin') }}</p>
          <datepicker v-model="contrat.dateFin" :inputFormat="$t('format.date')" class="datepicker-contrat" disabled/>
        </div>
        <div class="flex-adresse">
          <p style="text-decoration: underline">{{ $t('contrat.voyage.nbVoyageurs') }}</p>
          <input v-model="contrat.nbVoyageurs" :disabled="true"
                 class="input-inscription input-inscription-size-3"
                 type="text">
        </div>
      </div>
      <div class="contrat-group-2">
        <p style="text-decoration: underline">{{ $t('contrat.dateSouscription') }}</p>
        <datepicker v-model="contrat.dateSouscription" :inputFormat="$t('format.date')" class="datepicker-contrat"
                    disabled/>
      </div>

      <div v-if="contrat.assuranceGetAssureDto && contrat.assuranceGetAssureDto.mineurs && contrat.assuranceGetAssureDto.mineurs.length !== 0"
           style="margin-top: 3%; margin-bottom: 3%">
        <h4>Mineurs sur le contrat</h4>
        <table aria-label="Mineurs" class="table table-striped table-bordered">
          <thead>
          <tr>
            <th id="head-table-3">#</th>
            <th id="head-table-pre3">Prénom</th>
            <th id="head-table-nom3">Nom</th>
            <th id="head-table-dn3">Date de naissance</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(assu,index) in contrat.assuranceGetAssureDto.mineurs" :key="index">
            <td>{{ index + 1 }}</td>
            <td>{{ assu.prenom }}</td>
            <td>{{ assu.nom }}</td>
            <td>{{ assu.dateNaissance.substring(0, 10) }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div v-if="contrat.assuranceGetAssureDto && contrat.assuranceGetAssureDto.majeurs && contrat.assuranceGetAssureDto.majeurs.length !== 0"
           style="margin-bottom: 3%">
        <h4>Majeurs sur le contrat</h4>
        <table aria-label="Majeurs" class="table table-striped table-bordered">
          <thead>
          <tr>
            <th id="head-table-4">#</th>
            <th id="head-table-pre4">Prénom</th>
            <th id="head-table-nom4">Nom</th>
            <th id="head-table-dn4">Date de naissance</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(assu,index) in contrat.assuranceGetAssureDto.majeurs" :key="index">
            <td>{{ index + 1 }}</td>
            <td>{{ assu.prenom }}</td>
            <td>{{ assu.nom }}</td>
            <td>{{ assu.dateNaissance.substring(0, 10) }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import {useCookies} from "vue3-cookies";
import {AssuranceService} from "../services/assuranceService";
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import Datepicker from "vue3-datepicker";

export default {
  name: "ProfileContrat",
  components: {
    Datepicker,
    PulseLoader
  },
  props: ['id'],
  data() {
    return {
      contrat: {},
      error: false,
      loading: true,
      contratVoyage: false,
      contratAuto: false
    }
  },
  methods: {
    //Get contrat véhicule et voyage
    async mountFormule() {
      await AssuranceService.getFormuleAuto(this.id, this.cookies.get('idPerson')).then((contrat) => {
        this.contrat = contrat.data
        this.loading = false
        this.contratAuto = true
        this.contrat.dateSouscription = Date.parse(this.contrat.dateSouscription)
        if (this.contrat.status !== 'ACCEPTED') {
          this.error = true
        }
      }).catch(() => {
        AssuranceService.getFormuleVoyage(this.id, this.cookies.get('idPerson')).then((contrat) => {
          this.contrat = contrat.data
          this.loading = false
          this.contratVoyage = true
          this.contrat.dateDebut = Date.parse(this.contrat.dateDebut)
          this.contrat.dateFin = Date.parse(this.contrat.dateFin)
          this.contrat.dateSouscription = Date.parse(this.contrat.dateSouscription)
          if (this.contrat.status !== 'ACCEPTED') {
            this.error = true
          }
        }).catch(() => {
          this.error = true
          this.loading = false
        });
      })


    }
  },

  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },

  mounted() {
    this.mountFormule()
  },
}
</script>
