<template>
  <div>
  <h1 style="margin-bottom: 4%">Récapitulatif de votre saisie :</h1>
    <table aria-label="Récapitulatif" class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th id="head-table-ch">Champ</th>
        <th id="head-table-val">Valeur</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(item,index) in this.listItems" :key="index">
        <td>{{ item.title }}</td>
        <td>{{ item.text }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "Recapitulatif",
  props : {
    listItems: {
      type: Object
    }
  }
}
</script>
