<template>
  <div class="autocomplete">
    <input
        v-model="search"
        @input="onChange"
        type="text"
        placeholder="Michel Dupont"
    />
    <ul
        v-show="isOpen"
        class="autocomplete-results"
    >
      <li
          v-for="(result, i) in results"
          :key="i"
          @click="setResult(result)"
          class="autocomplete-result"
      >
        {{ result.prenom + ' ' + result.nom + ' | ' + result.dateNaissance }}
      </li>
    </ul>
  </div>
</template>

<script>
import {SearchService} from "../services/searchService";

export default {
  name: "SearchAutocomplete",
  data() {
    return {
      search: '',
      results: [],
      isOpen: false,
    };
  },
  mounted() {
    document.addEventListener('click', this.handleClickOutside);
  },
  unmounted() {
    document.removeEventListener('click', this.handleClickOutside);
  },
  methods: {
    //Résultat de la recherche avec les lettres tapées
    async filterResults() {
      if (this.search !== '') {
        await SearchService.searchMajeur(this.search).then((response) => {
          this.results = []
          response.data.forEach((data) => {
            this.results.push(data)
          })
        })
      }
    },
    handleClickOutside(event) {
      if (!this.$el.contains(event.target)) {
        this.isOpen = false;
      }
    },
    setResult(result) {
      this.search = result.prenom + " " + result.nom;
      this.$emit('autocompleteParent', result)
      this.isOpen = false;
    },
    onChange() {
      this.results = []
      this.filterResults();
      this.isOpen = true;
    }
  }
}
</script>

<style scoped>
.autocomplete {
  position: relative;
}

.autocomplete-results {
  padding: 0;
  margin: 0;
  border: 1px solid #eeeeee;
  height: 120px;
  min-height: 1em;
  max-height: 6em;
  overflow: auto;
}

.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 4px 2px;
  cursor: pointer;
}

.autocomplete-result:hover {
  background-color: #4AAE9B;
  color: white;
}
</style>