<template>
  <hr v-if="this.number >2">
  <div class="auth-vehicule">
    <p style="font-weight: bold">{{ $t('vehicule.voiture') }} {{ this.number - 1 }} :</p>
    <div class="auth-group-inscription-2">
      <div class="flex-adresse">
        <p style="text-decoration: underline">Marque : </p>
        <input @input="updateVehicule" v-model="item.marque"
               class="input-inscription input-inscription-size-3"
               :placeholder="$t('vehicule.marque')"
               type="text"
               id="marque"
               :disabled="this.readable">
      </div>

      <div class="flex-adresse">
        <p style="text-decoration: underline">Modèle : </p>
        <input @input="updateVehicule" :placeholder="$t('vehicule.modele')" v-model="item.modele"
               class="input-inscription input-inscription-size-3"
               type="text"
               :disabled="this.readable">
      </div>

    </div>
    <div class="vehicule-group-2">
      <p style="text-decoration: underline">{{$t('vehicule.annee')}}</p>
      <datepicker class="datepicker-vehicule" v-model="item.dateMiseEnService" inputFormat="dd/MM/yyyy" disabled/>
    </div>
    <div class="auth-group-inscription-2">
      <div class="flex-adresse">
        <p style="text-decoration: underline">Carosserie :</p>
        <input @input="updateVehicule" :placeholder="$t('vehicule.carosserie')" v-model="item.carosserie"
               class="input-inscription input-inscription-size-3"
               type="text"
               :disabled="this.readable">
      </div>
      <div class="flex-adresse">
        <p style="text-decoration: underline">Carburant :</p>
        <input @input="updateVehicule" :placeholder="$t('vehicule.motorisation')" v-model="item.carburant"
               class="input-inscription input-inscription-size-3"
               type="text"
               :disabled="this.readable">
      </div>

    </div>
    <div class="auth-group-inscription-2">
      <div class="flex-adresse">
        <p style="text-decoration: underline">Puissance fiscale :</p>
        <input @input="updateVehicule" :placeholder="$t('vehicule.puissance')" v-model="item.puissanceFiscale"
               class="input-inscription input-inscription-size-3"
               type="text"
               :disabled="this.readable">
      </div>
      <div class="flex-adresse">
        <p style="text-decoration: underline">Kilométrage :</p>
        <input @input="updateVehicule" :placeholder="$t('vehicule.kilometrage')" v-model="item.kilometrage"
               class="input-inscription input-inscription-size-3"
               type="text"
               :disabled="this.readable">
      </div>

    </div>
    <div class="auth-group-inscription-2">
      <div class="flex-adresse">
        <p style="text-decoration: underline">Immatriculation :</p>
        <input @input="updateVehicule" :placeholder="$t('vehicule.immatriculation')" v-model="item.immatriculation"
               class="input-inscription input-inscription-size-3"
               type="text"
               :disabled="this.readable">
      </div>
    </div>
  </div>
</template>

<script>
import Datepicker from "vue3-datepicker";

export default {
  name: "Vehicule",
  components: {
    Datepicker
  },
  props: {
    vehicule: {
      type: Object,
      required: true
    },
    readable:{
      type: Boolean
    },
    number:{
      type: Number
    }
  },
  data() {
    return {
      item: {}
    }
  },
  created() {
    this.item = {...this.vehicule}
  },
  methods: {
    //Mettre à jour le véhicule
    updateVehicule() {
      this.$emit('vehiculeToParent',this.item)
    }
  }
}
</script>

<style>
.datepicker-vehicule {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}
@media only screen and (max-width: 992px) {
  .auth-vehicule {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .vehicule-group-2{
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    margin-bottom: 3%;
    display: flex;
    width: 100%;
  }
}
</style>