<template>
  <div v-if="!error">
    <h2> {{ $t('dashboard.title')}} </h2>
    <button v-on:click="this.getAllSousVoitures">Exporter les contrats véhicules en CSV</button>
    <button style="margin-left: 3%" v-on:click="this.getAllSousVoyages">Exporter les contrats voyages en CSV</button>
    <iframe
        src="http://localhost:5601/app/dashboards#/view/0ce9a910-a571-11ec-a5dc-099b26ba113b?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-30M%2Cto%3Anow))&show-time-filter=true"
        height="800"
        width="100%"
        style="margin-top: 3%; margin-bottom: 3%">
    </iframe>
  </div>
  <div v-else>
    <h3 style="color: red">{{ $t('error.unauthorized')}}</h3>
  </div>
</template>

<script>
import {useCookies} from "vue3-cookies";
import {CollaborateurService} from "../../services/collaborateurService";

export default {
  name: "DashboardMobisure",
  data() {
    return {
      error : false
    }
  },

  methods:{
    async getAllSousVoyages(){
      console.log(CollaborateurService.getAllSousVoyages());
    },
    async getAllSousVoitures(){
      return await CollaborateurService.getAllSousVoitures();
    },

  },

  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },

  mounted() {
    if (!this.cookies.get('collaborateur') || this.cookies.get('collaborateur') === 'false') {
      this.error = true;
    }
  }
}
</script>