<template>
  <div v-if="!error">
    <h2> {{ $t('dashboard.title')}} </h2>
    <iframe
        src="http://localhost:5601/app/dashboards#/view/9ac27370-a869-11ec-b930-71ddf08557a6?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-30M%2Cto%3Anow))&show-time-filter=true"
        height="1000"
        width="100%"
        style="margin-top: 3%; margin-bottom: 3%"
    >
    </iframe>
  </div>
  <div v-else>
    <h3 style="color: red">{{ $t('error.unauthorized')}}</h3>
  </div>
</template>

<script>
import {useCookies} from "vue3-cookies";

export default {
  name: "DashboardPartenaire",
  data() {
    return {
      error : false
    }
  },

  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },

  mounted() {
    if (!this.cookies.get('collaborateur') || this.cookies.get('collaborateur') === 'false') {
      this.error = true;
    }
  }
}
</script>