<template>
  <div id="app">
    <CommonTop/>
    <Nav/>
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">
      <div>
        <router-view/>
      </div>
      <Footer/>
    </div>

  </div>
</template>

<script>
import CommonTop from './components/CommonTop.vue'
import Nav from './components/Nav.vue'
import Footer from './components/Footer.vue'
import {mapActions} from "vuex";
import {useCookies} from "vue3-cookies";
import {ProfileService} from "./services/profileService";
import router from "./router";

/**
 *
 * Fichier qui déclare l'application dans sa globalité
 */
export default {
  name: 'App',
  components: {
    CommonTop,
    Nav,
    Footer
  },
  methods: {
    /**
     * Méthode pour appeler des méthode du store
     */
    ...mapActions({
      connect: "connect",
      changePrenom : "changePrenom"
    })
  },
  /**
   * Méthode pour setup les cookies
   * @returns {{cookies: {config: (config: CookiesConfig) => void, get: (keyName: string) => string, set: (keyName: string, value: string, expireTimes?: (string | number | Date), path?: string, domain?: string, secure?: boolean, sameSite?: string) => VueCookiesManager, remove: (keyName: string, path?: string, domain?: string) => boolean, isKey: (keyName: string) => boolean, keys: () => string[]}}}
   */
  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },
  async mounted() {
    /**
     * On connecte le client si il est déjà connecté ou on redirige vers la page de connexion
     */
    if(this.cookies.get("idPerson")) {
      this.connect()
      if(this.cookies.get("collaborateur") !== "true"){
        const info = await ProfileService.getPerson(this.cookies.get("idPerson"))
        this.changePrenom(info.data.prenom)
      }
      else{
        const info = await ProfileService.getAdmin(this.cookies.get("idPerson"))
        this.changePrenom(info.data.prenom)
      }
    }
    else{
      router.push("/connexion")
    }

  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  text-align: center;
}
</style>
