<template>
  <div v-if="error">
    <h3 style="color: red">{{ $t('error.unauthorized')}}</h3>
  </div>
  <div v-else>
    <div v-if="this.cookies.get('droitsAcces') == '1'">
      <div v-if="view">
        <AssistanceComponent v-for="assist in listAllAssist" :key="assist" :value="assist" :assistance="assist"/>
      </div>
      <div v-else>
        <AssistanceComponent v-for="assist in listMyAssist" :key="assist" :value="assist" :assistance="assist"/>
      </div>

      <div class="input-inscription-size-3">
        <button v-if="view" ref="bt1" class="btn btn-lg btn-all" style=" margin-bottom: 0.5%; " v-on:click=changeView><p>Afficher mes assistances</p></button>
        <button v-if="!view" ref="bt2" class="btn btn-lg btn-all" style=" margin-bottom: 0.5%; " v-on:click=changeView><p>Afficher toutes les assistances</p></button>
      </div>
    <div v-if="this.cookies.get('droitsAcces') == '2'">
      <p style="color: red; font-size: large; font-weight: bold">/!\PAGE NON AUTORISEE AVEC VOS DROITS/!\</p>
    </div>
  </div>
  </div>

</template>

<script>
import {useCookies} from "vue3-cookies";
import {AssistanceService} from "../services/assistanceService";
import AssistanceComponent from "../components/AssistanceComponent";


export default {
  name: "AllAssistances",
  //On inclut le composant assistance
  components: {
    AssistanceComponent
  },
  //Setup des cookies
  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },
  mounted() {
    //On recupere les assistances si on est connecté en tant qu'admin
    if (!this.cookies.get('collaborateur') || this.cookies.get('collaborateur') === 'false') {
      this.error = true;
    } else {
      this.getMyAssist();
      this.getAllAssist();
    }
  },
  data() {
    return {
      assistances: [],//Liste des assistances
      sortType: 'tri',//Pour le tri
      view:true,//Pour régler l'affichage
      listAllAssist: [],//Toutes les assistances
      listMyAssist: [],//Les assistances d'un partenaire
      reverse: false,//Pour le tri
      afficheVoiture: true,//Pour savoir si on affiche voiture
      afficheVoyage: true,//Pour savoir si on affiche voyage
      error: false,//Pour afficher l'erreur si y en a
      loading:true//Pour le chargement des données
    }
  },
  methods: {
    //Changer l'affichage
    changeView(){
      this.view=!this.view
    },
    //Inverser l'ordre de la liste
    reverseList() {
      this.assistances.reverse()
      this.reverse = !this.reverse
    },
    //Récupérer toutes les assistances
    async getAllAssist() {
      this.loading = true
      await AssistanceService.getAllAssist().then(res => {
        this.listAllAssist = []
        res.data.forEach(el => {
          this.listAllAssist.push(el)
        })
        this.loading = false
      })
    },
    //Récupérer les assistances qui nous sont associées
    async getMyAssist() {
      this.loading = true
      await AssistanceService.getMyAssist(this.cookies.get('idPerson')).then(res => {
        this.listMyAssist = []
        res.data.forEach(el => {
          this.listMyAssist.push(el)
        })
        this.loading = false
      })
    },

  }
}
</script>

<style scoped>
.input-inscription-size-3 {
  width: 80%;
  margin-left: 10%;
  text-align: center;
}
.btn-all:hover{
  border-color: black;
}

</style>