<template>
  <div v-if="error">
    <h3 style="color: red">{{ $t('error.unauthorized')}}</h3>
  </div>
  <div v-else>
    <div v-if="this.cookies.get('droitsAcces') == '1'">
      <select class="input-inscription input-inscription-size-3" name="tri" id="tri" @change="sortBy(sortType)" v-model="sortType">
        <option v-for="item in sortOptions" :key="item.text" :value="item.value">{{item.text}}</option>
      </select>
      <a class="w3-bar-item w3-button" style="margin-bottom: 3%; " v-on:click="reverseList" v-if="!reverse" title="Inverser l'ordre de tri"><em class="fa fa-arrow-up fa-2x"></em></a>
      <a class="w3-bar-item w3-button" style="margin-bottom: 3%; " v-on:click="reverseList" v-if="reverse" title="Inverser l'ordre de tri"><em class="fa fa-arrow-down fa-2x"></em></a>
      <Client v-for="(client) in clients"
              :key="client.index"
              :client="client"
              v-on:clientToParent="updateClient"
              v-on:input="client = $event"
              :number="client.index+1"
              :readable="true"/>
    </div>
    <div v-if="this.cookies.get('droitsAcces') === '2'">
      <p style="color: red; font-size: large; font-weight: bold">/!\PAGE NON AUTORISEE AVEC VOS DROITS/!\</p>
    </div>
  </div>
</template>

<script>
import {useCookies} from "vue3-cookies";
import Client from "../components/Client";
import {CollaborateurService} from "../services/collaborateurService";

export default {
  name: "AllClients",
  //On inclut le composant Client
  components: {
    Client
  },
  data(){
    return {
      clients: [
      ],//Liste des clients
      sortType: 'tri',//Pour le tri
      sortOptions: [
        { text: 'Critère de tri', value: 'tri' },
        { text: 'Nom', value: 'nom' },
        { text: 'Prénom', value: 'prenom' },
        { text: 'Id', value: 'idPersonne'},
        { text: 'Date de naissance', value: 'dateNaissance'}
      ],//Liste des critères de tri
      reverse: false,//Pour le tri
      error: false//Pour l'erreur si y en a
    }
  },
  methods: {
    //Méthode pour inverser l'ordre de la liste
    reverseList(){
      this.clients.reverse()
      this.reverse = !this.reverse
    },
    //Méthode pour trier la liste
    sortBy(sortKey) {
      this.clients.sort((a, b) =>
          (typeof a[sortKey] === 'string' || typeof b[sortKey] === 'string') ?
              a[sortKey].localeCompare(b[sortKey]) : a[sortKey] - b[sortKey]);
      if(this.reverse){
        this.clients.reverse()
      }
    },
    //Méthode pour récupérer tous les clients
    async getClients(){
      const clients = await CollaborateurService.getClients().catch(() => {
        this.errorMsg = 'doesn\'t exist'
      })
      clients.data.forEach(client => {
        let mois
        let jour
        if(client.dateNaissance[1] < 10){
          mois = "0"+client.dateNaissance[1]
        }
        else{
          mois = client.dateNaissance[1]
        }
        if(client.dateNaissance[2] < 10){
          jour = "0"+client.dateNaissance[2]
        }
        else{
          jour = client.dateNaissance[2]
        }
        let date = client.dateNaissance[0] + "-" + mois + "-" + jour
        if(client.mail !== ""){
          this.clients.push(
              {
                index:this.clients.length+1,
                nom:client.nom,
                prenom:client.prenom,
                dateNaissance:Date.parse(date),
                telephone:client.telephone,
                mail:client.mail,
                idPersonne:client.idPersonne
              }
          )
        }
      })
    }
  },
  mounted() {
    //On récupère les clients si on est connecté en admin.
    if (!this.cookies.get('collaborateur') || this.cookies.get('collaborateur') === 'false') {
      this.error = true;
    } else {
      this.getClients()
    }
  },
  //Setup des cookies
  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },
}
</script>

<style scoped>
.input-inscription-size-3 {
  width: 80%;
  margin-left: 10%;
  text-align: center;
}
</style>