<template>
  <div v-if="this.cookies.get('droitsAcces') == '1'">
    <select class="input-inscription input-inscription-size-3" name="tri" id="tri" @change="sortBy(sortType)" v-model="sortType">
      <option v-for="item in sortOptions" :key="item.text" :value="item.value">{{item.text}}</option>
    </select>
    <select class="input-inscription input-inscription-size-3" name="statut" id="statut" @change="getDossiers(statusType)" v-model="statusType">
      <option v-for="item in statusOptions" :key="item.text" :value="item.value">{{item.text}}</option>
    </select>
    <a class="w3-bar-item w3-button" style="margin-bottom: 2%; " v-on:click="reverseList" v-if="!reverse" title="Inverser l'ordre de tri"><em class="fa fa-arrow-up fa-2x"></em></a>
    <a class="w3-bar-item w3-button" style="margin-bottom: 2%; " v-on:click="reverseList" v-if="reverse" title="Inverser l'ordre de tri"><em class="fa fa-arrow-down fa-2x"></em></a>
    <div class="input-inscription-size-3">
      <button ref="bt1" class="btn btn-lg btn-all" style="float: left; margin-bottom: 0.5%; " v-on:click="afficherVoyage"><p>Uniquement dossiers voyage</p></button>
      <button ref="bt2" class="btn btn-lg btn-all" style="float: inside; margin-bottom: 0.5%; " v-on:click="afficherAll"><p>Afficher tous les dossiers</p></button>
      <button ref="bt3" class="btn btn-lg btn-all" style="float: right; margin-bottom: 0.5%; " v-on:click="afficherVehicule"><p>Uniquement dossiers voiture</p></button>
    </div>
    <Dossier v-for="(dossierVe) in dossiersVehicule"
            :key="dossierVe.index"
            :dossier="dossierVe"
            v-on:dossierToParent="updateDossier"
            v-on:input="dossierVe = $event"
            :number="dossierVe.index+1"
            :readable="true"
             :display="false"
             :taille="dossiersVehicule.length"
            :affiche="this.afficheVoiture"/>
    <Dossier v-for="(dossierVo) in dossiersVoyage"
             :key="dossierVo.index"
             :dossier="dossierVo"
             v-on:dossierToParent="updateDossier"
             v-on:input="dossierVo = $event"
             :number="dossierVo.index+1"
             :readable="true"
             :display="true"
             :taille="dossiersVoyage.length"
             :affiche="this.afficheVoyage"/>
  </div>
  <div v-else>
    <div v-if="this.cookies.get('droitsAcces') == '1'">
      <select class="input-inscription input-inscription-size-3" name="tri" id="tri" @change="sortBy(sortType)" v-model="sortType">
        <option v-for="item in sortOptions" :key="item.text" :value="item.value">{{item.text}}</option>
      </select>
      <select class="input-inscription input-inscription-size-3" name="statut" id="statut" @change="getDossiers(statusType)" v-model="statusType">
        <option v-for="item in statusOptions" :key="item.text" :value="item.value">{{item.text}}</option>
      </select>
      <a class="w3-bar-item w3-button" style="margin-bottom: 2%; " v-on:click="reverseList" v-if="!reverse" title="Inverser l'ordre de tri"><em class="fa fa-arrow-up fa-2x"></em></a>
      <a class="w3-bar-item w3-button" style="margin-bottom: 2%; " v-on:click="reverseList" v-if="reverse" title="Inverser l'ordre de tri"><em class="fa fa-arrow-down fa-2x"></em></a>
      <div class="input-inscription-size-3">
        <button ref="bt1" class="btn btn-lg btn-all" style="float: left; margin-bottom: 0.5%; " v-on:click="afficherVoyage"><p>Uniquement dossiers voyage</p></button>
        <button ref="bt2" class="btn btn-lg btn-all" style="float: inside; margin-bottom: 0.5%; " v-on:click="afficherAll"><p>Afficher tous les dossiers</p></button>
        <button ref="bt3" class="btn btn-lg btn-all" style="float: right; margin-bottom: 0.5%; " v-on:click="afficherVehicule"><p>Uniquement dossiers voiture</p></button>
      </div>
      <Dossier v-for="(dossierVe) in dossiersVehicule"
               :key="dossierVe.index"
               :dossier="dossierVe"
               v-on:dossierToParent="updateDossier"
               v-on:input="dossierVe = $event"
               :number="dossierVe.index+1"
               :readable="true"
               :display="false"
               :taille="dossiersVehicule.length"
               :affiche="this.afficheVoiture"/>
      <Dossier v-for="(dossierVo) in dossiersVoyage"
               :key="dossierVo.index"
               :dossier="dossierVo"
               v-on:dossierToParent="updateDossier"
               v-on:input="dossierVo = $event"
               :number="dossierVo.index+1"
               :readable="true"
               :display="true"
               :taille="dossiersVoyage.length"
               :affiche="this.afficheVoyage"/>
    </div>
    <div v-if="this.cookies.get('droitsAcces') == '2'">
      <p style="color: red; font-size: large; font-weight: bold">/!\PAGE NON AUTORISEE AVEC VOS DROITS/!\</p>
    </div>
  </div>

</template>

<script>
import {useCookies} from "vue3-cookies";
import Dossier from "../components/Dossier";
import {CollaborateurService} from "../services/collaborateurService";

export default {
  name: "AllDossiers",
  //On inclut le composant Dossier
  components: {
    Dossier
  },
  data(){
    return {
      dossiersVehicule: [
      ],//Liste des dossiers vehicules
      dossiersVoyage: [
      ],//Liste des dossiers voyages
      dossiersVehicule2: [
      ],//Deuxième liste des dossiers véhicules
      dossiersVoyage2: [
      ],//Deuxième liste des dossiers voyages
      sortType: 'tri',//Pour le tri
      sortOptions: [
        { text: 'Critère de tri', value: 'tri' },
        { text: 'Nom', value: 'nom' },
        { text: 'Prénom', value: 'prenom' },
        { text: 'Id', value: 'idFormule'},
        { text: 'Immatriculation', value: 'immatriculation'}
      ],//Liste des critères de tri pour les véhicules
      statusType: 'statut',//Pour gérer le statut
      statusOptions: [
        { text: 'Critère de statut', value: 'statut'},
        { text: 'Statut accepté', value: 'ACCEPTED'},
        { text: 'Statut en attente', value: 'PENDING'},
        { text: 'Statut refusé', value: 'REFUSED'},
        { text: 'Statut terminé', value: 'ENDED'}
      ],//Liste des critères de tri pour les voyages
      reverse: false,//Pour le tri
      afficheVoiture : true,//Pour gérer l'affichage des véhicules
      afficheVoyage : true,//Pour gérer l'affichage des voyages
      error : false//Pour gérer les erreurs
    }
  },
  methods: {
    //Pour inverser les listes
    reverseList(){
      this.dossiersVoyage.reverse()
      this.dossiersVehicule.reverse()
      this.reverse = !this.reverse
    },
    //Pour afficher les 2 listes
    afficherAll(){
      this.afficheVoiture = true;
      this.afficheVoyage = true;
      this.$refs.bt2.style.borderColor = 'black';
      this.$refs.bt3.style.borderColor = 'white';
      this.$refs.bt1.style.borderColor = 'white';
    },
    //Pour afficher que les voyages
    afficherVoyage(){
      this.afficheVoiture = false;
      this.afficheVoyage = true;
      this.$refs.bt1.style.borderColor = 'black';
      this.$refs.bt2.style.borderColor = 'white';
      this.$refs.bt3.style.borderColor = 'white';
    },
    //Pour afficher que les véhicules
    afficherVehicule(){
      this.afficheVoiture = true;
      this.afficheVoyage = false;
      this.$refs.bt3.style.borderColor = 'black';
      this.$refs.bt2.style.borderColor = 'white';
      this.$refs.bt1.style.borderColor = 'white';
    },
    //Pour trier la liste
    sortBy(sortKey) {
      this.dossiersVoyage.sort((a, b) =>
          (typeof a[sortKey] === 'string' || typeof b[sortKey] === 'string') ?
              a[sortKey].localeCompare(b[sortKey]) : a[sortKey] - b[sortKey]);
      this.dossiersVehicule.sort((a, b) =>
          (typeof a[sortKey] === 'string' || typeof b[sortKey] === 'string') ?
              a[sortKey].localeCompare(b[sortKey]) : a[sortKey] - b[sortKey]);
      if(this.reverse){
        this.clients.reverse()
      }
    },
    //Pour récupérer tous les dossiers véhicules
    async getDossiersVehicule(){
      const contratsVehiculePerson = await CollaborateurService.getAllContratsVehicules().catch(() => {
        this.errorMsg = 'doesn\'t exist'
      })
      contratsVehiculePerson.data.forEach(contratVehicule => {
        let date = contratVehicule.dateSouscription.substr(0, 10);
        this.dossiersVehicule.push(
            {
              index: this.dossiersVehicule.length + 1,
              marque: contratVehicule.marque,
              modele: contratVehicule.modele,
              immatriculation: contratVehicule.immatriculation,
              nomFormule: contratVehicule.nomFormule,
              prix: contratVehicule.prix + "€",
              dateSouscription: Date.parse(date),
              nomMode: contratVehicule.nomMode,
              nomUsage: contratVehicule.nomUsage,
              status: contratVehicule.status,
              zoneGeo: contratVehicule.zoneGeographique,
              nom: contratVehicule.nom,
              prenom: contratVehicule.prenom,
              mail: contratVehicule.mail,
              telephone: contratVehicule.telephone,
              idFormule: contratVehicule.idFormule
            }
        )
      })
    },
    //Pour récupérer tous les dossiers voyages
    async getDossiersVoyage(){
      const contratsVoyagePerson = await CollaborateurService.getAllContratsVoyages().catch(() => {
        this.errorMsg = 'doesn\'t exist'
      })
      contratsVoyagePerson.data.forEach(contratVoyage => {
        let date = contratVoyage.dateSouscription.substr(0, 10);
        let dateDebut = contratVoyage.dateDebut.substr(0, 10);
        let dateFin = contratVoyage.dateFin.substr(0, 10);
        this.dossiersVoyage.push(
            {
              index: this.dossiersVoyage.length + 1,
              destination: contratVoyage.destination,
              type: contratVoyage.type,
              nomFormule: contratVoyage.nomFormule,
              nbVoyageurs: contratVoyage.nbVoyageurs,
              prix: contratVoyage.prix + "€",
              status: contratVoyage.status,
              dateSouscription: Date.parse(date),
              dateDebut: Date.parse(dateDebut),
              dateFin: Date.parse(dateFin),
              nom: contratVoyage.nomPersonne,
              prenom: contratVoyage.prenomPersonne,
              mail: contratVoyage.mail,
              telephone: contratVoyage.telephone,
              idFormule: contratVoyage.idFormule
            }
        )
      })
    },
    //Méthode pour récupérer les dossiers véhicules en fonction du statut
    statusDossiersVehicule(status){
      if(this.dossiersVehicule2.length == 0){
        this.dossiersVehicule2 = this.dossiersVehicule
      }
      this.dossiersVehicule = []
      this.dossiersVehicule2.forEach(dossierVehicule => {
        if(dossierVehicule.status == status){
          this.dossiersVehicule.push(dossierVehicule)
        }
      })
    },
    //Méthode pour récupérer les dossiers voyages en fonction du statut
    statusDossiersVoyage(status){
      if(this.dossiersVoyage2.length == 0){
        this.dossiersVoyage2 = this.dossiersVoyage
      }
      this.dossiersVoyage = []
      this.dossiersVoyage2.forEach(dossierVoyage => {
        if(dossierVoyage.status == status){
          this.dossiersVoyage.push(dossierVoyage)
        }
      })
    },
    //Pour récupérer tous les dossiers en fonction du statut
    getDossiers(status){
      this.statusDossiersVehicule(status)
      this.statusDossiersVoyage(status)
    }
  },
  mounted() {
    //On récupère tous les dossiers si on est connectés en tant qu'admin
    if (!this.cookies.get('collaborateur') || this.cookies.get('collaborateur') === 'false') {
      this.error = true;
    } else {
      this.getDossiersVehicule()
      this.getDossiersVoyage()
    }
  },
  //setup des cookies
  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },
}
</script>

<style scoped>
.input-inscription-size-3 {
  width: 80%;
  margin-left: 10%;
  text-align: center;
}
.btn-all:hover{
  border-color: black;
}

</style>