<template>
  <div v-if="!error">
    <!--
     Devis auto collaborateur  page :
     1 : Saisie Assuré
     2 : Saisie type d'assistance
     3 : Saisie du lieu
     4 : Saisie du partenaire
     5 : récapitulatif / ajouter les services
     date et etat défini automatiquement
     -->
    <div v-if="assistancePage === 1" class="devis_container">
      <h3>Saisissez l'assuré principal à associer à l'assistance</h3>
      <SearchAutocomplete style="margin-top: 3%" v-on:autocompleteParent="updateAssure"/>
      <h4 style="margin-top: 3%">Liste des personnes rattachées à l'assuré principal</h4>
      <pulse-loader :loading="loading"/>
      <div v-if="this.rattaches.length === 0 && !loading">
        <p>Il n'y a pas de personnes rattachées pour cet assuré</p>
      </div>
      <table aria-label="Personnes rattachées" v-else-if="this.rattaches.length !== 0" class="table table-striped table-bordered" style="margin-top: 3%">
        <thead class="thead-dark">
        <tr>
          <th id="head-table-pre">{{ $t('profile.prenom') }}</th>
          <th id="head-table-nom">{{ $t('profile.nom') }}</th>
          <th id="head-table-dn">{{ $t('profile.dateNaissance') }}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item,index) in this.rattaches" :key="index">
          <td>{{ item.prenom }}</td>
          <td>{{ item.nom }}</td>
          <td>{{ item.dateNaissance.substring(0, 10) }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div v-if="assistancePage === 2" class="devis_container">
      <h1>Sélectionner le type d'assistance</h1>
      <div>
        <input id="old" v-model="typeAssistcheck" checked name="radB" type="radio" value="0"
               @change="updateAssistValue">
        <label class="mt-2" for="old">Utiliser un type d'assistance existant</label>
      </div>
      <select v-model="typeAssistChosen1" class="form-control devisElement">
        <option v-for="option in listTypeAssist" :key="option" :value="option">
          {{ option.libelleTypeAssistance }}
        </option>
      </select>
      <div>
        <input id="new" v-model="typeAssistcheck" name="radB" type="radio" value="1" @change="updateAssistValue">
        <label class="mt-2" for="new">Définir un nouveau type d'assistance</label>
      </div>
      <input v-model="typeAssistChosen2" class="form-control devisElement" @input="updateAssistValue"/>

      <label class="mt-2" for="old">Sélectionner le type de sinistre</label>
      <select v-model="assistance.valueTypeSinistre" class="form-control devisElement">
        <option v-for="option in listTypeSinistre" :key="option" :value="option">
          {{ option }}
        </option>
      </select>
    </div>

    <div v-if="assistancePage === 3" class="devis_container">
      <h1>Sélectionner le lieu de l'assistance</h1>
      <label>Pays</label>
      <select v-model="assistance.valuePays" class="form-control devisElement">
        <option v-for="option in listPays" :key="option" :value="option">
          {{ option.nomPays }}
        </option>
      </select>

    </div>

    <div v-if="assistancePage === 4" class="devis_container">
      <h1>Sélectionner le partenaire associé à cette assistance</h1>
      <pulse-loader v-if="loading && listPartenaire.length === 0" :loading="loading"/>
      <select v-if="!loading" v-model="assistance.valuePartenaire" class="form-control devisElement">
        <option v-for="option in listPartenaire" :key="option" :value="option">
          {{ option.partenaire.nomPartenaire }}
        </option>
      </select>
      <h2 v-if="!loading" class="mt-4 mb-4">Informations partenaires</h2>
      <table aria-label="Partenaire" v-if="!loading" class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
          <th id="head-table-empty1"> </th>
          <th id="head-table-empty2"> </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Pays</td>
          <td>{{ assistance.valuePays.nomPays }}</td>
        </tr>
        <tr>
          <td>Adresse</td>
          <td>{{ assistance.valuePartenaire.adresse.rueAdresse.toUpperCase().replace("_"," ") }}</td>
        </tr>
        <tr>
          <td>Numéro de téléphone</td>
          <td>{{ assistance.valuePartenaire.partenaire.numTelephone }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div v-if="assistancePage === 5" class="devis_container">
      <h1>Récapitulatif</h1>
      <table aria-label="Récapitulatif" class=" mt-2 table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
          <th id="head-table-empty3"> </th>
          <th id="head-table-empty4"> </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Assure </td>
          <td>{{ assistance.valueAssure.nom }} {{ assistance.valueAssure.prenom }}</td>
        </tr>
        <tr>
          <td>Assistance choisie </td>
          <td v-if="assistance.valueAssistChosen.libelleTypeAssistance">{{ assistance.valueAssistChosen.libelleTypeAssistance }}</td>
          <td v-else>{{ assistance.valueAssistChosen }}</td>
        </tr>
        <tr>
          <td>Lieu de l'assistance </td>
          <td>{{ assistance.valuePays.nomPays }}</td>
        </tr>
        <tr>
          <td>Partenaire responsable de l'assistance </td>
          <td>{{ assistance.valuePartenaire.partenaire.nomPartenaire }}</td>
        </tr>
        </tbody>
      </table>
      <label>Commentaires</label>
      <textarea v-model="assistance.commentaire" class="form-control" style="width: 70%" rows="5" >
          Commentaires...
      </textarea>
    </div>
    <button v-if="assistancePage>=2" class="btn btn-dark devis_btn" @click="back"> Retour</button>
    <button v-if="assistancePage<=4" class="btn btn-dark devis_btn" @click="nextStep"> Etape suivante</button>
    <button v-if="assistancePage==5" class="btn btn-dark devis_btn" @click="submit"> Valider</button>
  </div>
  <div v-else>
    <h3 style="color: #ff0000">{{ $t('error.unauthorized') }}</h3>
  </div>
</template>

<script>

import {mapActions, mapState} from "vuex";
import {AssistanceService} from "../services/assistanceService";
import {useCookies} from "vue3-cookies";
import SearchAutocomplete from "../components/SearchAutocomplete";
import {AssuranceService} from "../services/assuranceService";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";

export default {
  name: "assistance",
  //On inclut les components SearchAutocomplete et PulseLoader
  components: {
    SearchAutocomplete,
    PulseLoader
  },
  props: {},
  computed: {
    //On appelle l'état assistancePage
    ...mapState({
      assistancePage: "assistancePage"
    })
  },

  //Setup des cookies
  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },

  mounted() {
    //On renvoie une erreur si on est pas connecté en tant qu'admin
    if (!this.cookies.get('collaborateur') || this.cookies.get('collaborateur') === 'false') {
      this.error = true;
    }
  },
  data() {
    return {
      assureSearch: [],//Liste d'assuré
      assure: {},
      loading: false,//Pour le chargement
      rattaches: [],//Liste des assurés rattachés
      listTypeAssist: this.typeAssistance(),//Liste des types d'assistance
      listPays: this.pays(),//Liste des pays
      listPartenaire: [],//Liste des partenaires
      typeAssistChosen1: "",//this.listTypeAssist[0],
      typeAssistChosen2: "",
      listTypeSinistre: ["Voyage","Véhicule"],//Liste des types de sinistre
      error: false,//Piur gérer les erreurs
      typeAssistcheck: 0,
      assistance: {//Définition d'une assistance
        valueAssure: "",
        valueAssistChosen: "",
        valueTypeSinistre: "Voyage",
        valuePays: "",//this.listPays[0],
        valuePartenaire: {
          "adresse": {
            "idAdresse": "chargement...",
            "rueAdresse": "chargement...",
            "villeCpAdresse": "chargement...",
            "complements": "chargement...",
            "codeIso": "chargement..."
          },
          "partenaire": {
            "idPartenaire": "chargement...",
            "nomPartenaire": "chargement...",
            "numTelephone": "chargement..."
          }
        },
        commentaire: ""
      }
    }
  },

  methods: {
    ...mapActions({
      increaseAssistancePage: "increaseAssistancePage",
      decreaseAssistancePage: "decreaseAssistancePage",
    }),
    back() {
      this.decreaseAssistancePage()
    },
    nextStep() {
      if (this.assistancePage === 1 && this.assistance.valueAssure === "") {
        //popup(error)
      } else if (this.assistancePage === 4 && this.assistance.valuePartenaire.adresse.idAdresse === "chargement...") {
        //popup(error)
      } else if (this.assistancePage === 3) {
        this.getPartenaire()
        this.increaseAssistancePage()
      } else {
        this.increaseAssistancePage()
      }
    },
    async getPartenaire() {
      this.loading = true
      await AssistanceService.getPartenaires(this.assistance.valuePays.codeIso).then(res => {
        this.listPartenaire = []
        res.data.forEach(el => {
          this.listPartenaire.push(el)
        })
        this.assistance.valuePartenaire = this.listPartenaire[0]
        this.loading = false
      })
    },
    async retrieveInsuredPersonAttached(idPerson) {
      this.rattaches = []
      this.loading = true
      await AssuranceService.getAllAssure(idPerson).then((assures) => {
        let personnes = assures.data
        personnes.majeurs.forEach(majeur => {
          this.rattaches.push(majeur)
        })
        personnes.mineurs.forEach(mineur => {
          this.rattaches.push(mineur)
        })
        this.loading = false
      }).catch(() => {
      })
    },
    updateAssure(value) {
      this.assistance.valueAssure = value;
      this.retrieveInsuredPersonAttached(value.idPersonne)
    },
    updateAssistValue() {
      if (this.typeAssistcheck === "0") {
        this.assistance.valueAssistChosen = this.typeAssistChosen1;
      } else {
        this.assistance.valueAssistChosen = this.typeAssistChosen2;
      }
    },
    async pays() {
      await AssistanceService.getPays().then(res => {
        this.listPays = []
        res.data.forEach(el => {
          this.listPays.push(el)
        })
        this.assistance.valuePays = this.listPays[0]
      })
    },
    async typeAssistance() {
      await AssistanceService.getTypeAssistances().then(res => {
        this.listTypeAssist = []
        res.data.forEach(el => {
          this.listTypeAssist.push(el)
        })
        this.typeAssistChosen1 = this.listTypeAssist[0]
        this.assistance.valueAssistChosen = this.typeAssistChosen1
      })
    },
    async submit() {
      //post type assist
      if (this.typeAssistcheck === "1") {
        this.assistance.valueAssistChosen = await AssistanceService.postTypeAssistance(this.assistance.valueAssistChosen).then(
            res => {
              return res.data
            }
        )
      }
      //post assist
      await AssistanceService.postAssistance(0, this.assistance.commentaire, this.cookies.get('idPerson'), this.assistance.valueAssure.idPersonne, this.assistance.valueAssistChosen.idTypeAssistance,this.assistance.valueTypeSinistre, this.assistance.valuePays.codeIso, this.assistance.valuePartenaire.partenaire.idPartenaire)

    }
  }
}

</script>

<style scoped>

.devisElement {
  margin-top: 1%;
  width: 80%;
}
</style>
