<template>
  <div class="auth-container">
    <Connexion class="auth-component"/>
    <Inscription class="auth-component"/>
  </div>
</template>


<script>
import Connexion from "../components/Connexion";
import Inscription from "../components/Inscription";

export default {
  name: "Auth",
  components: {
    Connexion,
    Inscription
  }
}
</script>

<style>

@media only screen and (max-width: 992px) {
  .auth-container {
    flex-direction: column;
    margin-top: 115px;
    align-items: center;
  }
  .auth-component {
    margin-bottom: 10%;
    margin-top: 4%;
    width: 80%;
  }
}

@media only screen and (min-width: 992px) {
  .auth-container {
    justify-content: space-around;
    margin-bottom: 50px;
  }
  .auth-component {
    width: 40%;
    margin-bottom: 3%;
    margin-top: 4%;
  }
}

.auth-container {
  display: flex;
  width: 100%;
}
.auth-component {
  text-align: center;
  -webkit-box-shadow: 0px 1px 6px 2px #3E3D3E;
  box-shadow: 0px 1px 6px 2px #3E3D3E;
}
</style>