<template>
  <div v-if="error">
    <h3 style="color: red">{{ $t('error.unauthorized') }}</h3>
  </div>
  <div v-else-if="this.cookies.get('droitsAcces') === '2'">
    <p style="color: red; font-size: large; font-weight: bold">/!\PAGE NON AUTORISEE AVEC VOS DROITS/!\</p>
  </div>
  <div v-else style="display: flex; justify-content: center; align-items: center; flex-direction: column">
    <h1>Gestion des collaborateurs</h1>
    <PulseLoader :loading="loading"/>
    <button v-if="!showAdd" type="button" class="m-1 mb-4 btn btn-success" @click="openAdd">Ajouter un collaborateur</button>
    <table aria-label="Collaborateurs" v-if="this.collaborateurs.length > 0 && !showAdd" style="width: 90%"
    class="mb-5 table table-striped table-bordered table-hover">
      <thead class="thead-dark">
      <tr>
        <th id="ht-pre">Prénom</th>
        <th id="ht-nom">Nom</th>
        <th id="ht-mail">Mail</th>
        <th id="ht-mat">Matricule</th>
        <th id="ht-de">Date embauche</th>
        <th id="ht-act">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(item,index) in this.collaborateurs" :key="index">
        <td>
          {{ item.prenom }}
        </td>
        <td>
          {{ item.nom }}
        </td>
        <td>
          {{ item.mail }}
        </td>
        <td>
          {{ item.matricule }}
        </td>
        <td>
          {{ item.dateEmbauche }}
        </td>
        <td>
          <button type="button" class="m-1 btn btn-danger" @click="deleteCollaborateur(item)"><em class="fa fa-trash"></em>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <button v-if="showAdd" type="button" class="m-1 mb-4 btn btn-danger" @click="closeModal">Retour</button>
    <CollaborateurForm class="mt-4 mb-4" v-if="showAdd" :create-mode="true" :is-collaborateur="true"
                       @addCollaborateur="addCollaborateur"/>
  </div>
</template>

<script>
import {useCookies} from "vue3-cookies";
import {CollaborateurService} from "../services/collaborateurService";
import CollaborateurForm from "../components/CollaborateurForm";
export default {
  name: "Collaborateur",
  components: {
    CollaborateurForm
  },
  data() {
    return {
      erreur: false,//Pour gérer les erreurs
      loading: false,//Pour le chargement
      collaborateurs: [],//Liste des collaborateurs
      showAdd: false//Pour l'affichage
    }
  },
  methods: {
    //Récupérer les collaborateurs
    async syncCollaborateur() {
      this.loading = true;
      await CollaborateurService.getCollaborateurs().then(value => {
        this.collaborateurs = value.data;
        this.loading = false;
      })
    },

    //Supprimer un collaborateur
    async deleteCollaborateur(item) {
      await CollaborateurService.deleteCollaborateur(item.idPersonne).then(() => {
        this.syncCollaborateur();
      })
    },

    //Ajouter un collaborateur
    async addCollaborateur(data) {
      await CollaborateurService.createCollaborateur(data).then(() => {
        this.syncCollaborateur();
      }).finally(() => {
        this.closeModal();
      })
    },

    //Fermer le modal
    closeModal() {
      this.showAdd = false;
    },
    //Ouvrir le modal
    openAdd() {
      this.showAdd = true;
    },
  },
  //Setup des cookies
  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },
  mounted() {
    //Récupérer les collaborateurs si on est connecté en tant qu'admin
    if (!this.cookies.get('collaborateur') || this.cookies.get('collaborateur') === 'false') {
      this.error = true;
    } else {
      this.syncCollaborateur();
    }
  }
}
</script>
