<template>
  <div style="margin: 4%">
    <h2>{{ $t("profile.contratAuto") }}</h2>
    <table aria-label="Contrat auto" class="table table-striped table-bordered" style="margin-top: 3%">
      <thead>
      <tr>
        <th id="ht-empty">#</th>
        <th id="ht-immat">{{ $t("contrats.auto.immatriculation") }}</th>
        <th id="ht-prix">{{ $t("contrats.prixFormule") }}</th>
        <th id="ht-status">{{ $t("contrats.status") }}</th>
        <th id="ht-act">{{ $t("contrats.action") }}</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(contrat,index) in contratsVehicule" :key="index">
        <td>{{ contrat.idFormule }}</td>
        <td>{{ contrat.immatriculation }}</td>
        <td>{{ contrat.prix }}</td>
        <td v-if="contrat.status === 'ACCEPTED'">{{ $t("profile.statusAccepted").toUpperCase() }}</td>
        <td v-else>{{ $t("profile.statusPending").toUpperCase() }}</td>
        <td v-if="contrat.status === 'ACCEPTED'">
          <button class="btn btn-dark" @click="this.$router.push({name: 'contrat', params: {id: contrat.idFormule}})" type="button">{{ $t("profile.seeContract") }}</button>
        </td>
        <td v-else></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div style="margin: 4%">
    <h2>{{ $t("profile.contratVoyage") }}</h2>
    <table aria-label="Contrat voyage" class="table table-striped table-bordered" style="margin-top: 3%">
      <thead>
      <tr>
        <th id="ht-empty2">#</th>
        <th id="ht-dest">{{ $t("contrats.voyage.destination") }}</th>
        <th id="ht-prix2">{{ $t("contrats.prixFormule") }}</th>
        <th id="ht-status2">{{ $t("contrats.status") }}</th>
        <th id="ht-act2">{{ $t("contrats.action") }}</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(contrat,index) in contratsVoyage" :key="index">
        <td>{{ contrat.idFormule }}</td>
        <td>{{ contrat.destination }}</td>
        <td>{{ contrat.prix }}</td>
        <td v-if="contrat.status === 'ACCEPTED'">{{ $t("profile.statusAccepted").toUpperCase() }}</td>
        <td v-else>{{ $t("profile.statusPending").toUpperCase() }}</td>
        <td v-if="contrat.status === 'ACCEPTED'">
          <button class="btn btn-dark" type="button" @click="this.$router.push({name: 'contrat', params: {id: contrat.idFormule}})">{{ $t("profile.seeContract") }}</button>
        </td>
        <td v-else></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div v-if="this.cookies.get('collaborateur') !== 'true'">
    <router-link class="w3-bar-item w3-button w3-padding" to="/profil">
      <button class="btn btn-lg btn-primary">{{ $t('profile.btProfil') }}</button>
    </router-link>
    <router-link class="w3-bar-item w3-button w3-padding btn-margin" to="/vehicules">
      <button class="btn btn-lg btn-primary">{{ $t('profile.btVehicules') }}</button>
    </router-link>
    <button class="btn btn-lg btn-primary btn-margin" href="/assistances">{{ $t('profile.btAssistances') }}</button>
  </div>
</template>

<script>
import {useCookies} from "vue3-cookies";
import {AssuranceService} from "../services/assuranceService";

export default {
  name: "Contrats",
  props: ['id'],//Id du contrat
  data() {
    return {
      contratsVehicule: [],//Liste des contrats véhicules
      contratsVoyage: [],//Liste des contrats voyages
      assures: {}//Liste des assurés
    }
  },
  methods: {
    //Récupérer tous les contrats véhicules
    async getContratsVehicule() {
      const contratsVehiculePerson = await AssuranceService.getContratsVehicules(this.id).catch(() => {
        this.errorMsg = 'doesn\'t exist'
      })
      contratsVehiculePerson.data.forEach(contratVehicule => {
        let date = contratVehicule.dateSouscription.substr(0, 10);
        this.contratsVehicule.push(
            {
              idFormule: contratVehicule.idFormule,
              index: this.contratsVehicule.length + 1,
              marque: contratVehicule.marque,
              modele: contratVehicule.modele,
              immatriculation: contratVehicule.immatriculation,
              nomFormule: contratVehicule.nomFormule,
              prix: contratVehicule.prix + "€",
              dateSouscription: Date.parse(date),
              nomMode: contratVehicule.nomMode,
              nomUsage: contratVehicule.nomUsage,
              status: contratVehicule.status,
              zoneGeo: contratVehicule.zoneGeographique
            }
        )
      })
    },

    //Récupérer tous les contrats voyages acceptés
    async getContratsVoyageAccepted() {
      const contratsVoyagePerson = await AssuranceService.getContratsVoyage(this.id).catch(() => {
        this.errorMsg = 'doesn\'t exist'
      })
      contratsVoyagePerson.data.forEach(contratVoyage => {
        let date = contratVoyage.dateSouscription.substr(0, 10);
        let dateDebut = contratVoyage.dateDebut.substr(0, 10);
        let dateFin = contratVoyage.dateFin.substr(0, 10);
        this.contratsVoyage.push(
            {
              idFormule: contratVoyage.idFormule,
              index: this.contratsVoyage.length + 1,
              destination: contratVoyage.destination,
              type: contratVoyage.type,
              nomFormule: contratVoyage.nomFormule,
              nbVoyageurs: contratVoyage.nbVoyageurs,
              prix: contratVoyage.prix + "€",
              status: contratVoyage.status,
              dateSouscription: Date.parse(date),
              dateDebut: Date.parse(dateDebut),
              dateFin: Date.parse(dateFin)
            }
        )
      })
    }
  },
  //Récupérer les contrats
  mounted() {
    this.getContratsVehicule();
    this.getContratsVoyageAccepted();
  },
  //Setup des cookies
  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },
}
</script>

<style scoped>
.contrat-container {
  text-align: center;
  -webkit-box-shadow: 0 1px 6px 2px #3E3D3E;
  box-shadow: 0 1px 6px 2px #3E3D3E;
  width: 80%;
  margin-bottom: 5%;
  margin-left: 10%;
  padding: 1%;
}
</style>