<script>
export default {
  name: "Contact",
  data() {
    return {
      address: "22 avenue du Beurre, Paris, France",//Adresse du siège
      email: "hello@mobisure.com",//Mail de contact
      phone: "01 88 88 85 87"//Numéro de téléphone de contact
    }
  }
}
</script>

<template>
  <div>
    <h2>Contactez nous</h2>
    <p>Adresse : {{ address }}</p>
    <p>Téléphone : {{ phone }}</p>
    <p>Email : {{ email }}</p>
    <p>Horaires :</p>
    <ul>
      <li>L-V: 06:00 à 16:00</li>
      <li>Samedi: 07:00 à 14:00</li>
      <li>Dimanche: 07:00 à 12:00</li>
    </ul>
  </div>
</template>
