<template>
  <div v-if="devisVoyagePage <= 2" class="devis_container">
    <DevisComponent v-for="(page,index) in pages[devisVoyagePage-1].modules"
                    :key="index"
                    :age-items="page.ageItems"
                    :input-text="page.inputText"
                    :input-type="page.inputType"
                    :list-items="page.listItems"
                    :placeholder="page.placeholder"
                    :subtitle="page.subtitle"
                    :title="page.title"
                    v-on:input="page = $event"
                    v-on:updateAll="updateAll"
    />
  </div>
  <div v-else-if="devisVoyagePage === 3">
    <h1>{{ $t('contrat.voyage.details') }} </h1>
    <DevisProfile v-for="(profile,index) in personnes"
                  :key="profile"
                  :profile=profile
                  :note="profile.note"
                  :index="index"
                  v-on:profileToParent="updateProfile"
                  v-on:input="profile = $event"
                  :number="index"
    />
    <h4 v-if="this.personnes.length === 0" style="color:red;">{{$t('devis.errorAddingPerson') }}</h4>
    <h3 style="margin-top: 2%">{{$t('devis.listAdditionalPerson') }}</h3>
    <select v-model="checkedAttached" multiple>
      <option :value="person" v-for="person in attachedPerson" v-bind:key="person">
        {{person.prenom + ' ' +  person.nom + ' né(e) le ' + person.dateNaissance.substring(0,10)}}
      </option>
    </select>
    <h3 style="margin-top: 2%">{{ $t('devis.additionalPersonAdd') }}</h3>
    <table aria-label="Personne ajoutée" class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th id="ht-pre">{{ $t('profile.prenom') }}</th>
        <th id="ht-nom">{{ $t('profile.nom') }}</th>
        <th id="ht-dn">{{ $t('profile.dateNaissance') }}</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(item,index) in this.personnes" :key="index">
        <td>{{ item.firstname }}</td>
        <td>{{ item.lastname }}</td>
        <td>{{this.formatDate(item.dateNaissance)}}</td>
      </tr>
      <tr v-for="(item,index) in this.checkedAttached" :key="index">
        <td>{{ item.prenom }}</td>
        <td>{{ item.nom }}</td>
        <td>{{ item.dateNaissance.substring(0,10) }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div v-else-if="devisVoyagePage === 4">
    <Recapitulatif :list-items="this.recapPerson(this.recapList())"/>
    <div>
      <h2> Coût de la formule : {{ this.getPrice() }} €</h2>
    </div>
  </div>
  <div v-else-if="devisVoyagePage === 5">
    <table aria-label="Garanties" class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th id="ht-gar">Garanties</th>
        <th id="ht-det">Détails</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(item,index) in this.devisVoyageGaranties" :key="index">
        <td>{{ item.text }}</td>
        <td>
          <div v-if="item.detail"><strong>Description : </strong>{{ item.detail }}</div>
          <div v-if="item.plafond"><strong>Plafond : </strong> {{ item.plafond }}</div>
        </td>
      </tr>
      </tbody>
    </table>
    <div>
      <h2> Coût de la formule : {{ this.getPrice() }} €</h2>
    </div>
  </div>
  <div v-else-if="devisVoyagePage === 6">
    <DevisEnd :files-need="this.devisVoyageFiles" :price="parseFloat(this.getPrice())" :voyage="true"></DevisEnd>
  </div>
  <div class="devis_btn_container">
    <div v-if="errorMsg !== '' && this.devisVoyagePage === 4" class="alert alert-danger alert-dismissible fade show"
         style="margin-top: 1%">
      {{ $t('devis.' + errorMsg) }}
    </div>
    <div v-if="validateMsg !== '' && this.devisVoyagePage === 6" class="alert alert-success alert-dismissible fade show"
         style="margin-top: 1%">
      Le devis a été enregistré !
    </div>
    <div v-if="errorMsg !== '' && this.devisVoyagePage === 6" class="alert alert-danger alert-dismissible fade show"
         style="margin-top: 1%">
      Erreur lors de l'enregistrement du devis !
    </div>
    <button class="btn btn-dark devis_btn" @click="back"> Retour</button>
    <button v-if="devisVoyagePage === 1 || devisVoyagePage === 3" class="btn btn-dark devis_btn" @click="nextStep"> Etape suivante</button>
    <button v-if="devisVoyagePage === 2" class="btn btn-dark devis_btn" @click="initAddPersonAndNextStep"> Etape suivante</button>
    <button v-if="devisVoyagePage === 4" class="btn btn-dark devis_btn" @click="checkRecap"> Valider</button>
    <button v-if="devisVoyagePage === 5" class="btn btn-dark devis_btn" @click="nextStep"> Valider</button>
    <button v-if="devisVoyagePage === 6" class="btn btn-dark devis_btn" @click="envoyerDemande"> Envoyer</button>
  </div>
</template>

<script>
import {mapActions, mapState} from "vuex";
import DevisComponent from "../components/DevisComponent";
import {Utils} from "../services/utils";
import Recapitulatif from "../components/Recapitulatif";
import {useCookies} from "vue3-cookies";
import DevisEnd from "../components/DevisEnd";
import {DevisService} from "../services/devisService";
import DevisProfile from "../components/DevisProfile";
import {AssuranceService} from "../services/assuranceService";

export default {
  name: "DevisVoyage",
  components: {
    DevisComponent,
    Recapitulatif,
    DevisEnd,
    DevisProfile
  },
  computed: {
    ...mapState({
      devisVoyagePage: "devisVoyagePage",
      devisVoyageGaranties: "devisVoyageGaranties",
      devisVoyageFiles: "devisVoyageFiles"
    })
  },
  data() {
    return {
      showModal: false,
      errorMsg: "",
      validateMsg: "",
      personnes : [],
      attachedPerson : [],
      checkedAttached : [],
      devis: {
        butVoyage: "",
        destination: "",
        nbAdulte: 0,
        nbEnfants: 0,
        nbBebes: 0,
        agePlusAge: 0,
        dateDepart: new Date(),
        dateRetour: new Date(),
        cout: "",
        typeAssuranceVoyage: ""
      },
      pages: [
        {
          modules: [
            {
              title: "Quel est le type de votre assurance voyage :",
              inputType: "list",
              inputText: "typeAssuranceVoyage",
              placeholder: "Type voyage",
              listItems: this.typeAssuranceVoyage()
            },
            {
              title: "Vous résidez en France et souhaitez vous assurer pour :",
              inputType: "list",
              inputText: "butVoyage",
              placeholder: "Voyage",
              listItems: this.typeSejour()
            },
            {
              title: "Où souhaitez-vous aller ?",
              inputType: "list",
              inputText: "destination",
              placeholder: "Destination",
              listItems: this.destination()
            },
            {
              title: "Combien de personnes voyagent ?",
              subtitle : "Vous y compris",
              inputType: "age",
              ageItems: [
                {
                  title: "Adultes",
                  inputText: "nbAdulte"
                },
                {
                  title: "Enfants",
                  inputText: "nbEnfants"
                },
                {
                  title: "Bébés",
                  inputText: "nbBebes"
                }
              ]
            }
          ]
        },
        {
          modules: [
            {
              title: "Age du voyageur le plus âgé :",
              inputType: "number",
              inputText: "agePlusAge",
              placeholder: "37"
            },
            {
              title: "Date de départ :",
              inputType: "date",
              inputText: "dateDepart",
            },
            {
              title: "Date de retour :",
              inputType: "date",
              inputText: "dateRetour",
            },
            {
              title: "Coût du voyage (en €) :",
              inputType: "number",
              inputText: "cout",
              placeholder: "3000"
            },
          ]
        }
      ]
    }
  },
  methods: {
    ...mapActions({
      increaseDevisVoyagePage: "increaseDevisVoyagePage",
      decreaseDevisVoyagePage: "decreaseDevisVoyagePage",
      resetPage: "resetPage"
    }),

    back() {
      this.decreaseDevisVoyagePage()
      this.errorMsg = ''
    },

    formatDate(date) {
      return Utils.formatDate(date);
    },

    initAddPersonAndNextStep() {
      let i;
      if (this.personnes && this.personnes.length !== 0) {
        this.nextStep()
        return;
      }
      this.personnes = []
      for (i = 1; i < this.devis.nbAdulte ; i++) {
        this.personnes.push({
          firstname: "",
          lastname: "",
          dateNaissance : new Date(),
          note: "Adulte"
        })
      }
      for (i = 0; i < this.devis.nbEnfants ; i++) {
        this.personnes.push({
          firstname: "",
          lastname: "",
          dateNaissance : new Date(),
          note: "Enfant"
        })
      }
      for (i = 0; i < this.devis.nbBebes ; i++) {
        this.personnes.push({
          firstname: "",
          lastname: "",
          dateNaissance : new Date(),
          note: "Bébé"
        })
      }
      this.nextStep()
    },

    nextStep() {
      this.increaseDevisVoyagePage()
    },

    envoyerDemande() {
      DevisService.sendDevisVoyage(
          this.devis.cout,
          Utils.formatDate(this.devis.dateDepart),
          Utils.formatDate(this.devis.dateRetour),
          this.devis.destination,
          "Details",
          this.cookies.get("idPerson"),
          "BASE",
          this.devis.typeAssuranceVoyage,
          parseFloat(this.getPrice()),
          this.devis.butVoyage,
          3
      ).then((devis) => {
        let erreur = false
        this.personnes.forEach(personne => {
          DevisService.addAssure(devis.data.idFormule, this.cookies.get("idPerson"), personne.lastname, personne.firstname, Utils.formatDate(personne.dateNaissance)).catch(() => {
            erreur = true
          })
        })
        this.checkedAttached.forEach(personne => {
          DevisService.addExistingAssure(devis.data.idFormule,personne.idPersonne,this.cookies.get("idPerson")).catch(() => {
            erreur = true
          })
        })
        if (!erreur) {
          this.validateMsg = 'DONE'
          setTimeout(() => this.$router.push("home"), 3000);
        } else {
          this.errorMsg = 'ERREUR'
        }
      }).catch(() => {
        this.errorMsg = 'ERREUR'
      })
    },


    updateProfile(value,index) {
      this.personnes[index] = value
    },


    getPrice() {
      let price = 15
      if (this.devis.butVoyage === 'EUROPE') price *= 1.2
      else if (this.devis.butVoyage === 'MONDE (HORS ETATS-UNIS, CANADA, CARAIBES)') price *= 1.3
      else if (this.devis.butVoyage === 'MONDE ENTIER') price *= 1.35

      if (this.devis.butVoyage === 'STAGE') price *= 1.2
      else if (this.devis.butVoyage === 'MONTAGNE') price *= 1.3

      let nbVoyageur = this.devis.nbAdulte + this.devis.nbEnfants + this.devis.nbBebes
      if (nbVoyageur === 2) price *= 1.1
      else if (nbVoyageur > 2) price *= 1.3

      let ageVoyageur = parseInt(this.devis.agePlusAge)
      if (ageVoyageur <= 18) price *= 1.2
      else if (ageVoyageur > 18 && ageVoyageur < 26) price *= 1.1

      let coutVoyage = parseInt(this.devis.cout)
      if (coutVoyage > 1000 && coutVoyage <= 3000) price *= 1.2
      else if (coutVoyage > 3000) price *= 1.4

      if (Utils.dateCheck("01/06", "31/09", this.devis.dateDepart)) price *= 1.25
      else if (Utils.dateCheck("15/12", "07/01", this.devis.dateDepart)) price *= 1.15

      return price.toFixed(2)
    },

    checkRecap() {
      if (this.checkFieldsNotOk()) {
        this.errorMsg = 'errorChamp'
      } else if (this.devis.dateRetour < this.devis.dateDepart || this.devis.dateDepart < Date.now()) {
        this.errorMsg = 'errorDate'
      } else if(!this.checkAdditionalPerson()) {
        this.errorMsg = 'errorPerson'
      } else {
        this.nextStep()
      }
    },

    checkAdditionalPerson() {
      let verif = true
      this.personnes.forEach((personne) => {
        if (personne.prenom === '' || personne.nom === '') {
          verif = false
        }
      })
      return verif
    },

    recapPerson(recapList) {
      this.personnes.forEach((personne) => {
        recapList.push({
          title: personne.note, text: personne.firstname + " " +
              personne.lastname + " né le " + Utils.formatDate(personne.dateNaissance)
        })
      })
      return recapList
    },

    recapList() {
      let list = []
      list.push({title: "Type assurance voyage", text: this.devis.typeAssuranceVoyage})
      list.push({title: "But du voyage", text: this.devis.butVoyage})
      list.push({title: "Destination", text: this.devis.destination})
      list.push({title: "Nombre d'adultes", text: this.devis.nbAdulte})
      list.push({title: "Nombre d'enfants", text: this.devis.nbEnfants})
      list.push({title: "Nombre de bébés", text: this.devis.nbBebes})
      list.push({title: "Age du voyageur le plus âgé", text: this.devis.agePlusAge})
      list.push({title: "Date de départ", text: Utils.formatDate(this.devis.dateDepart)})
      list.push({title: "Date de retour", text: Utils.formatDate(this.devis.dateRetour)})
      list.push({title: "Coût du voyage (en €)", text: this.devis.cout})
      return list
    },

    typeAssuranceVoyage() {
      let list = []
      list.push({text: "Etudiant".toUpperCase()})
      list.push({text: "Courts et longs séjours".toUpperCase()})
      list.push({text: "Etudiant long séjour".toUpperCase()})
      list.push({text: "Vacances".toUpperCase()})
      list.push({text: "Long séjour".toUpperCase()})
      list.push({text: "Long séjour en famille".toUpperCase()})
      list.push({text: "Tour du monde".toUpperCase()})
      return list
    },

    typeSejour() {
      let list = []
      list.push({text: "Voyage en France ou à l'étranger".toUpperCase(), value: "Voyage"})
      list.push({text: "Séjour montagne".toUpperCase(), value: "Montagne"})
      list.push({text: "Stage ou séjour d'études à l'étranger".toUpperCase(), value: "Stage"})
      return list
    },

    destination() {
      let list = []
      list.push({text: "FRANCE"})
      list.push({text: "EUROPE"})
      list.push({text: "MONDE (HORS ETATS-UNIS, CANADA, CARAIBES)"})
      list.push({text: "MONDE ENTIER"})
      return list
    },

    checkFieldsNotOk() {
      return this.devis.butVoyage === '' ||
          this.devis.cout === '' ||
          this.devis.agePlusAge === '' ||
          this.devis.destination === '' ||
          this.devis.typeAssuranceVoyage === '' ||
          ((this.devis.nbBebes + this.devis.nbAdulte + this.devis.nbEnfants) === 0)
    },

    updateAll(devis) {
      if (devis) {
        switch (devis.input) {
          case 'butVoyage' :
            this.devis.butVoyage = devis.value.toUpperCase()
            break
          case 'destination' :
            this.devis.destination = devis.value.toUpperCase()
            break
          case 'nbAdulte' :
            this.devis.nbAdulte = devis.value
            break
          case 'nbEnfants' :
            this.devis.nbEnfants = devis.value
            break
          case 'nbBebes' :
            this.devis.nbBebes = devis.value
            break
          case 'agePlusAge' :
            this.devis.agePlusAge = devis.value
            break
          case 'dateDepart' :
            this.devis.dateDepart = devis.value
            break
          case 'dateRetour' :
            this.devis.dateRetour = devis.value
            break
          case 'cout' :
            this.devis.cout = devis.value
            break
          case 'typeAssuranceVoyage' :
            this.devis.typeAssuranceVoyage = devis.value
            break
        }
      }
    },

    reset() {
      this.resetPage()
      this.errorMsg = ""
      this.validateMsg = ""
      this.devis = {
        butVoyage: "",
        destination: "",
        nbAdulte: 0,
        nbEnfants: 0,
        nbBebes: 0,
        agePlusAge: 0,
        dateDepart: new Date(),
        dateRetour: new Date(),
        cout: "",
        typeAssuranceVoyage: ""
      }
    },
    async retrieveInsuredPersonAttached() {
        await AssuranceService.getAllAssure(this.cookies.get('idPerson')).then((assures) => {
          let personnes = assures.data
          personnes.majeurs.forEach(majeur => {
            this.attachedPerson.push(majeur)
          })
          personnes.mineurs.forEach(mineur => {
            this.attachedPerson.push(mineur)
          })
        }).catch(() => {
          console.log("erreur")
        })
    }
  },
  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },
  mounted() {
    this.reset()
    this.retrieveInsuredPersonAttached()
    if (!this.cookies.get("idPerson")) {
      this.$router.push("connexion")
    }
  },

  created() {

    window.addEventListener('beforeunload', (event) => {
      // Cancel the event as stated by the standard.
      event.preventDefault();
      // Chrome requires returnValue to be set.
      event.returnValue = '';

      this.showModal = true;

    });

  }
}
</script>
