<template>
  <!--
   Devis auto page :
   1-6 : Saisie devis
   7: Ajouter personne
   8 : Page récapitulatif
   9 : Proposition tarif / choix formule
   10 : Ajout des modules
   11 : Envoi des fichiers / FIN
   -->
  <div v-if="devisAutoPage <= 6" class="devis_container">
    <DevisComponent v-for="(page,index) in pages[devisAutoPage-1].modules"
                    :key="index"
                    :input-text="page.inputText"
                    :input-type="page.inputType"
                    :list-items="page.listItems"
                    :list-items2="page.listItems2"
                    :placeholder="page.placeholder"
                    :subtitle="page.subtitle"
                    :title="page.title"
                    v-on:input="page = $event"
                    v-on:updateAll="updateAll"
    />
  </div>

  <div v-else-if="devisAutoPage === 7">
    <h3><strong>{{ $t('devis.optionnalAdd')}}</strong></h3>
    <button class="btn btn-success" style="margin-top: 2%" @click="addPerson"> {{ $t('devis.addNormalPerson') }}</button>
    <DevisProfile v-for="(profile,index) in personnes"
                  :key="profile"
                  :index="index"
                  :number="index"
                  :profile=profile
                  v-on:input="profile = $event"
                  v-on:profileToParent="updateProfile"
                  v-on:removeProfileToParent="removeProfile"
    />
    <h3 style="margin-top: 2%">{{ $t('devis.listAdditionalPerson') }}</h3>
    <select v-model="checkedAttached" multiple>
      <option :value="person" v-for="person in attachedPerson" v-bind:key="person">
        {{person.prenom + ' ' +  person.nom + ' né(e) le ' + person.dateNaissance.substring(0,10)}}
      </option>
    </select>
    <h3 style="margin-top: 2%">{{ $t('devis.additionalPersonAdd') }}</h3>
    <table aria-label="Personne ajoutée" class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th id="ht-pre">{{ $t('profile.prenom') }}</th>
        <th id="ht-nom">{{ $t('profile.nom') }}</th>
        <th id="ht-dn">{{ $t('profile.dateNaissance') }}</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(item,index) in this.personnes" :key="index">
        <td>{{ item.firstname }}</td>
        <td>{{ item.lastname }}</td>
        <td>{{this.formatDate(item.dateNaissance)}}</td>
      </tr>
      <tr v-for="(item,index) in this.checkedAttached" :key="index">
        <td>{{ item.prenom }}</td>
        <td>{{ item.nom }}</td>
        <td>{{ item.dateNaissance.substring(0,10) }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div v-else-if="devisAutoPage === 8">
    <Recapitulatif :list-items="this.recapPerson(this.recapList())"/>
  </div>
  <div v-else-if="devisAutoPage === 9">
    <table aria-label="Garanties" class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th id="ht-gar">Garanties</th>
        <th id="ht-fte">Formule tiers essentiel</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(item,index) in this.devisAutoModule" :key="index">
        <td v-if="item.base">{{ item.text }}</td>
        <td v-if="item.base">
          <div><strong>Description : </strong>{{ item.detail }}</div>
          <div v-if="item.plafond"><strong>Plafond : </strong> {{ item.plafond }}</div>
          <div v-if="item.seuil"><strong>Seuil d'intervention : </strong> {{ item.seuil }}</div>
          <div v-if="item.pret"><strong>Durée du prêt de véhicule : </strong> {{ item.pret }}</div>
        </td>
      </tr>
      </tbody>
    </table>
    <div>
      <h3>{{ this.getPriceByInformations(this.devis.modele) }} € / mois</h3>
      <h4>Soit {{ (this.getPriceByInformations(this.devis.modele) * 12).toFixed(2) }} € / an</h4>
    </div>
  </div>
  <div v-else-if="devisAutoPage === 10">
    <table aria-label="Modules" class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th id="ht-gar2">Garanties</th>
        <th id="ht-mod">Module</th>
        <th id="ht-sel">Sélection</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(item,index) in this.devisAutoModule" :key="index">
        <td v-if="!item.base">{{ item.text }}</td>
        <td v-if="!item.base">
          <div><strong>Description : </strong>{{ item.detail }}</div>
          <div v-if="item.plafond"><strong>Plafond : </strong> {{ item.plafond }}</div>
          <div v-if="item.seuil"><strong>Seuil d'intervention : </strong> {{ item.seuil }}</div>
          <div v-if="item.pret"><strong>Durée du prêt de véhicule : </strong> {{ item.pret }}</div>
        </td>
        <td v-if="!item.base">
          <input
              type="checkbox"
              @change="selectionModule(item)"
          >
        </td>
      </tr>
      </tbody>
    </table>
    <div>
      <h3>{{ this.devisModule.price }} € / mois</h3>
      <h4>Soit {{ (this.devisModule.price * 12).toFixed(2) }} € / an</h4>
    </div>
  </div>
  <div v-else>
    <DevisEnd :auto="true" :files-need="this.devisAutoFiles" :price="parseFloat(this.devisModule.price)"
              v-on:updatePaiement="updatePaiement"/>
  </div>
  <div class="devis_btn_container">
    <div v-if="errorMsg !== '' && this.devisAutoPage === 8" class="alert alert-danger alert-dismissible fade show"
         style="margin-top: 1%">
      Un champ n'a pas été saisi ou bien vous êtes mineur ou bien tous les champs n'ont pas été saisi pour l'ajout d'une
      personne sur le contrat !
    </div>
    <div v-if="validateMsg !== '' && this.devisAutoPage === 11" class="alert alert-success alert-dismissible fade show"
         style="margin-top: 1%">
      Le devis a été enregistré !
    </div>
    <div v-if="errorMsg !== '' && this.devisAutoPage === 11" class="alert alert-danger alert-dismissible fade show"
         style="margin-top: 1%">
      Erreur lors de l'enregistrement du devis !
    </div>
    <button v-if="devisAutoPage<=10" class="btn btn-dark devis_btn" @click="back"> Retour</button>
    <button v-if="devisAutoPage<=7" class="btn btn-dark devis_btn" @click="nextStep"> Etape suivante</button>
    <button v-if="devisAutoPage === 8" class="btn btn-dark devis_btn" @click="checkRecap"> Valider</button>
    <button v-if="devisAutoPage === 9 || devisAutoPage === 10" class="btn btn-dark devis_btn" @click="nextStep">
      Valider
    </button>
    <button v-if="devisAutoPage === 11" class="btn btn-dark devis_btn" @click="envoyerDemande"> Envoyer</button>
  </div>
</template>

<script>
import DevisComponent from "../components/DevisComponent";
import DevisEnd from "../components/DevisEnd";
import {mapActions, mapState} from "vuex";
import Recapitulatif from "../components/Recapitulatif";
import {Utils} from "../services/utils";
import {DevisService} from "../services/devisService";
import {useCookies} from "vue3-cookies";
import DevisProfile from "../components/DevisProfile";
import {AssuranceService} from "../services/assuranceService";

export default {
  name: "devis-auto",
  //On inclut les composants DevisComponent, Recapitulatif, DevisEnd et DevisProfile
  components: {
    DevisComponent,
    Recapitulatif,
    DevisEnd,
    DevisProfile
  },
  computed: {
    ...mapState({
      devisAutoPage: "devisAutoPage",
      devisAutoPrice: "devisAutoPrice",
      devisAutoModule: "devisAutoModule",
      devisAutoFiles: "devisAutoFiles"
    })
  },
  data() {
    return {
      errorMsg: "",//Message d'erreur
      validateMsg: "",//Message de validation
      modules: [],//Liste des modules
      personnes: [],//Liste des personnes
      attachedPerson : [],//Liste des personnes rattachées
      checkedAttached : [],//Liste des personnes rattacheés vérifiées
      devisModule: {
        incendie: false,
        vehicule: false,
        protectionJuridique: false,
        contenu: false,
        brisRetro: false,
        equipementExt: false,
        indemnisationRenforcee: false,
        price: 0
      },//Liste des modules actifs ou non
      devis: {
        marque: "",
        modele: "",
        immatriculation: "",
        circulationDate: new Date(),
        typeCarrosserie: "",
        typeMotorisation: "",
        puissanceFiscale: 0,
        kilometrage: "",
        dateNaissance: new Date(),
        permis: new Date(),
        coefficient: "",
        formatPermis: "",
        typePermis: "",
        exclusiveUsageVehicule: true,
        modeStationnement: "",
        zoneGeo: "",
        usageTrajet: "",
        numeroPermis: "",
        nbDocument: 0
      },//Définition du devis
      pages: [
        {
          modules: [
            {
              title: "C'est parti ! Quelle est la marque de votre auto ? ",
              subtitle: "",
              inputType: "list",
              inputText: "marque",
              listItems: this.marque(),
              placeholder: "Marque"
            },
            {
              title: "Et le modèle ?",
              subtitle: "",
              inputType: "list",
              inputText: "modele",
              listItems: [],
              placeholder: "Modèle"
            },
            {
              title: "Son immatriculation ?",
              inputType: "input",
              inputText: "immatriculation",
              placeholder: "XX-OOO-XX"
            }
          ],
        },
        {
          modules: [
            {
              title: "En quelle année ce véhicule a-t-il été mis en circulation ? ",
              subtitle: "Il s'agit de la date de la première immatriculation de votre véhicule. Cette information figure au repère B de votre carte grise.",
              inputType: "date",
              inputText: "circulationDate",
            },
            {
              title: "Quel est votre type de carrosserie ?",
              subtitle: "Pour un même modèle, le prix de l'assurance peut différer d'une version à l'autre du véhicule. " +
                  "Par exemple, le risque associé à une berline ne sera pas le même que pour la version break !",
              inputType: "list",
              inputText: "typeCarrosserie",
              listItems: this.typeCarrosserie(),
              placeholder: "Type de carrosserie"
            }
          ]
        },
        {
          modules: [
            {
              title: "Quel est votre type de motorisation ? ",
              subtitle: "Le type de motorisation aura un impact sur le coût des réparations... Et donc, sur le prix de votre assurance !",
              inputType: "list",
              inputText: "typeMotorisation",
              listItems: this.typeMotorisation(),
              placeholder: "Type de motorisation"
            },
            {
              title: "Quelle est la puissance fiscale (en CV)? ",
              inputType: "number",
              inputText: "puissanceFiscale",
              placeholder: "3"
            },
            {
              title: "Quelle est le kilométrage de votre véhicule (en KM) ? ",
              inputType: "number",
              inputText: "kilometrage",
              placeholder: "75000"
            },
          ]
        },
        {
          modules: [
            {
              title: "Quelques questions sur vous à présent. Quelle est votre date de naissance ?",
              inputType: "date",
              inputText: "dateNaissance"
            },
            {
              title: "En quelle année avez-vous obtenu votre permis ?",
              inputType: "date",
              inputText: "permis"
            },
            {
              title: "Connaissez-vous votre coefficient de bonus / malus ?",
              subtitle: "Vous n'avez pas l'information ? Passez directement à l'étape suivante, nous l'avons calculé " +
                  "pour vous (dans l'hypothèse où vous n'avez connu ni sinistre ni interruption d'assurance).",
              inputType: "list",
              inputText: "coefficient",
              listItems: this.coefficientList(),
              placeholder: "Coefficient bonus / malus"
            }
          ]
        },
        {
          modules: [
            {
              title: "Format de l'obtention de votre permis ?",
              inputType: "list",
              inputText: "formatPermis",
              listItems: this.formatPermis(),
              placeholder: "Format permis"
            },
            {
              title: "Quel est le type de votre permis ?",
              inputType: "list",
              inputText: "typePermis",
              listItems: this.typePermis(),
              placeholder: "Type du permis"
            },
            {
              title: "Quel est le numéro de votre permis ?",
              inputType: "input",
              inputText: "numeroPermis",
              placeholder: "267092810"
            },
            {
              title: "L'usage du véhicule est-il exclusif ?",
              inputText: "exclusiveUsageVehicule",
              inputType: "choice",
            }
          ]
        },
        {
          modules: [
            {
              title: "Quel est la zone géographique d'utilisation du véhicule ?",
              inputType: "multipleSelect",
              inputText: "zoneGeo",
              placeholder: "Region/Departement",
              listItems: this.regions(),
              listItems2: []
            },
            {
              title: "Quel est l'usage des trajets ?",
              inputType: "list",
              inputText: "usageTrajet",
              placeholder: "Usage trajet",
              listItems: this.usageTrajet()
            },
            {
              title: "Quel est le mode de stationnement ?",
              inputType: "list",
              inputText: "modeStationnement",
              placeholder: "Mode de stationnement",
              listItems: this.modeStationnement()
            }
          ]
        }
      ]
    }
  },
  methods: {
    ...mapActions({
      increaseDevisAutoPage: "increaseDevisAutoPage",
      decreaseDevisAutoPage: "decreaseDevisAutoPage",
      resetPage: "resetPage"
    }),

    //Changer la sélection du module
    selectionModule(module) {
      switch (module.text) {
        case 'Incendie et vol' :
          this.devisAutoModule.incendie = !this.devisAutoModule.incendie
          break
        case 'Véhicule de prêt' :
          this.devisAutoModule.vehicule = !this.devisAutoModule.vehicule
          break
        case 'Protection juridique' :
          this.devisAutoModule.protectionJuridique = !this.devisAutoModule.protectionJuridique
          break
        case 'Contenu de véhicule' :
          this.devisAutoModule.contenu = !this.devisAutoModule.contenu
          break
        case 'Bris de rétro' :
          this.devisAutoModule.brisRetro = !this.devisAutoModule.brisRetro
          break
        case 'Equipement extérieur' :
          this.devisAutoModule.equipementExt = !this.devisAutoModule.equipementExt
          break
        case 'Indemnisation renforcée' :
          this.devisAutoModule.indemnisationRenforcee = !this.devisAutoModule.indemnisationRenforcee
          break
      }
      this.devisModule.price = this.getPriceByModules(this.devis.modele)
    },

    //Mettre à jour le profil
    updateProfile(value, index) {
      this.personnes[index] = value
    },

    //Retirer le profil
    removeProfile(index) {
      this.personnes.splice(index, 1)
    },

    back() {
      this.decreaseDevisAutoPage()
    },
    nextStep() {
      this.errorMsg = ""
      this.increaseDevisAutoPage()
    },

    //Changer le format de la date
    formatDate(date) {
      return Utils.formatDate(date);
    },
    //Modifier le type de paiement
    updatePaiement(type){
      if(type == 'MOIS'){
        this.devis.nbDocument = 4
      }
      else{
        this.devis.nbDocument = 3
      }
    },

    //Mettre à jour un champ
    updateAll(devis) {
      if (devis) {
        switch (devis.input) {
          case 'marque' :
            this.devis.marque = devis.value.toUpperCase()
            this.pages[0].modules[1].listItems = this.getModeles()
            break
          case 'modele' :
            this.devis.modele = devis.value.toUpperCase()
            break
          case 'immatriculation' :
            this.devis.immatriculation = devis.value.toUpperCase()
            break
          case 'circulationDate' :
            this.devis.circulationDate = devis.value
            break
          case 'typeCarrosserie' :
            this.devis.typeCarrosserie = devis.value.toUpperCase()
            break
          case 'typeMotorisation' :
            this.devis.typeMotorisation = devis.value.toUpperCase()
            break
          case 'puissanceFiscale' :
            this.devis.puissanceFiscale = devis.value
            break
          case 'kilometrage' :
            this.devis.kilometrage = devis.value
            break
          case 'dateNaissance' :
            this.devis.dateNaissance = devis.value
            break
          case 'permis' :
            this.devis.permis = devis.value
            break
          case 'coefficient' :
            this.devis.coefficient = devis.value.toUpperCase()
            break
          case 'formatPermis' :
            this.devis.formatPermis = devis.value.toUpperCase()
            break
          case 'typePermis' :
            this.devis.typePermis = devis.value.toUpperCase()
            break
          case 'exclusiveUsageVehicule' :
            this.devis.exclusiveUsageVehicule = devis.value
            break
          case 'modeStationnement' :
            this.devis.modeStationnement = devis.value.toUpperCase()
            break
          case 'zoneGeo' :
            this.devis.zoneGeo = devis.value.toUpperCase()
            break
          case 'usageTrajet' :
            this.devis.usageTrajet = devis.value.toUpperCase()
            break
          case 'numeroPermis' :
            this.devis.numeroPermis = devis.value.toUpperCase()
            break
          case 'region' :
            this.pages[5].modules[0].listItems2 = this.departement(devis.value)
            break
        }
      }
    },

    //Récupérer tous les modeles de voiture
    getModeles() {
      let list = []
      for (let el in this.devisAutoPrice) {
        if (this.devisAutoPrice[el].marque === this.devis.marque) {
          for (let subEl in this.devisAutoPrice[el].modeles) {
            list.push({text: this.devisAutoPrice[el].modeles[subEl].text})
          }
        }
      }
      return list
    },

    //Récupérer le prix des modèles de voiture
    getPriceBasicByModele(modele) {
      for (let el in this.devisAutoPrice) {
        for (let subEl in this.devisAutoPrice[el].modeles) {
          if (this.devisAutoPrice[el].modeles[subEl].text === modele) {
            return this.devisAutoPrice[el].modeles[subEl].prix
          }
        }
      }
    },

    //Récupérer le prix en fonction des informations
    getPriceByInformations(modele) {
      let price = this.getPriceBasicByModele(modele)
      //COEFF AGE
      if (Utils.getAge(this.devis.dateNaissance) < 25) price *= 1.2
      else if (Utils.getAge(this.devis.dateNaissance) > 60) price *= 1.3
      //COEFF ANCIENNETE PERMIS
      const anciennete = Utils.monthDiff(this.devis.permis, new Date())
      if (anciennete < 60) price *= 1.3
      //COEFF CV
      if (parseInt(this.devis.puissanceFiscale) > 5) price *= 1.4
      //COEFF Bonus malus
      price *= parseFloat(this.devis.coefficient)

      //COEFF Zone géo

      //COEFF Usage trajet
      if (this.devis.usageTrajet === 'Trajet privé') price *= 1.3
      else if (this.devis.usageTrajet === 'Trajet professionnel') price *= 1.2
      //COEFF Mode de stationnement
      if (this.devis.modeStationnement === 'Parking privé') price *= 1.05
      else if (this.devis.modeStationnement === 'Parking public') price *= 1.1
      else if (this.devis.modeStationnement === 'Voie publique') price *= 1.3
      //COEFF Exclusif ?
      if (!this.devis.exclusiveUsageVehicule) price *= 1.2
      return price.toFixed(2)
    },


    //Ajouter une personne dans le contrat
    addPerson(event) {
      event.preventDefault()
      this.personnes.push({
        firstname: "",
        lastname: "",
        dateNaissance: new Date()
      })
    },

    //Récupérer le prix de chaque module
    getPriceByModules(modele) {
      let price = parseFloat(this.getPriceByInformations(modele))
      if (this.devisAutoModule.incendie) price *= 1.04
      if (this.devisAutoModule.vehicule) price *= 1.05
      if (this.devisAutoModule.protectionJuridique) price *= 1.08
      if (this.devisAutoModule.contenu) price *= 1.07
      if (this.devisAutoModule.brisRetro) price *= 1.1
      if (this.devisAutoModule.equipementExt) price *= 1.1
      if (this.devisAutoModule.indemnisationRenforcee) price *= 1.06
      return price.toFixed(2)
    },

    //Regarder si un champ n'est pas rempli
    checkFieldsNotOk() {
      return this.devis.marque === '' ||
          this.devis.modele === '' ||
          this.devis.immatriculation === '' ||
          this.devis.typeCarrosserie === '' ||
          this.devis.typeMotorisation === '' ||
          this.devis.puissanceFiscale === '' ||
          this.devis.kilometrage === '' ||
          this.devis.coefficient === '' ||
          this.devis.formatPermis === '' ||
          this.devis.modeStationnement === '' ||
          this.devis.zoneGeo === '' ||
          this.devis.usageTrajet === ''
    },

    //Récupérer les personnes rattachées à l'assuré
    async retrieveInsuredPersonAttached() {
      await AssuranceService.getAllAssure(this.cookies.get('idPerson')).then((assures) => {
        let personnes = assures.data
        personnes.majeurs.forEach(majeur => {
          this.attachedPerson.push(majeur)
        })
        personnes.mineurs.forEach(mineur => {
          this.attachedPerson.push(mineur)
        })
      }).catch(() => {
        console.log("error")
      })
    },

    //Vérifier la date de naissance et l'âge
    checkBirthdate() {
      return Utils.getAge(this.devis.dateNaissance) >= 18;
    },

    //Vérifier que les personnes ajoutées sont bien remplies
    checkAdditionalPerson() {
      let verif = true
      this.personnes.forEach((personne) => {
        if (personne.prenom === '' || personne.nom === '') {
          verif = false
        }
      })
      return verif
    },

    //Appliquer un coefficient en fonction du bonus malus
    coefficientList() {
      let coefficientDepart = 0.8
      const increment = 0.01
      const coefficientFin = 1.26
      let list = []
      for (coefficientDepart; coefficientDepart <= coefficientFin; coefficientDepart += increment) {
        let bonus_malus = coefficientDepart < 1 ? "bonus" : "malus";
        let pourcentage = Math.abs(100 - (coefficientDepart * 100)).toFixed(0)
        list.push({
          text: (coefficientDepart.toFixed(2) + " soit " + pourcentage + " % de " + bonus_malus).toUpperCase(),
          value: coefficientDepart.toFixed(2)
        })
      }
      return list;
    },

    //Récupérer les marques
    marque() {
      let list = []
      for (let el in this.devisAutoPrice) {
        list.push({text: this.devisAutoPrice[el].marque})
      }
      return list
    },

    //Récupérer les formats permis
    formatPermis() {
      let list = []
      list.push({text: "FORMAT CLASSIQUE"})
      list.push({text: "FORMAT CONDUITE ACCOMPAGNE"})
      list.push({text: "FORMAT CONDUITE SUPERVISE"})
      list.push({text: "FORMAT CONDUITE BOITE AUTO"})
      return list
    },

    //Récupérer les types permis
    typePermis() {
      let list = []
      list.push({text: "PERMIS A"})
      list.push({text: "PERMIS B"})
      list.push({text: "PERMIS C"})
      return list
    },

    //Récupérer les types carosserie
    typeCarrosserie() {
      let list = []
      list.push({text: "BERLINE 5 PORTES"})
      list.push({text: "BERLINE 4 PORTES"})
      list.push({text: "BERLINE 3 PORTES"})
      list.push({text: "VEHICULE TOUT CHEMIN"})
      list.push({text: "COUPE"})
      list.push({text: "MONOSPACE"})
      list.push({text: "BREAK"})
      list.push({text: "PICK-UP"})
      list.push({text: "MINIBUS"})
      list.push({text: "CABRIOLET"})
      return list
    },

    //Récupérer les types motorisation
    typeMotorisation() {
      let list = []
      list.push({text: "ESSENCE"})
      list.push({text: "GASOIL"})
      list.push({text: "ELECTRIQUE"})
      list.push({text: "GPL"})
      list.push({text: "GNV"})
      return list
    },

    //Définir les régions
    regions() {
      let list = []
      list.push({text: "Auvergne-Rhône-Alpes"})
      list.push({text: "Bourgogne-Franche-Comté"})
      list.push({text: "Bretagne"})
      list.push({text: "Centre-Val de Loire"})
      list.push({text: "Corse"})
      list.push({text: "Grand-Est"})
      list.push({text: "Hauts-de-France"})
      list.push({text: "Île-de-France"})
      list.push({text: "Normandie"})
      list.push({text: "Nouvelle-Aquitaine"})
      list.push({text: "Occitanie"})
      list.push({text: "Pays de la Loire"})
      list.push({text: "Provence-Alpes-Côte d'Azur"})
      list.push({text: "Guadeloupe"})
      list.push({text: "Martinique"})
      list.push({text: "Guyane"})
      list.push({text: "La Réunion"})
      list.push({text: "Mayotte"})


      return list
    },

    //Définir les départements
    departement(region) {
      switch (region) {
        case 'Auvergne-Rhône-Alpes' :
          return [
            {text: "01 - Ain"},
            {text: "03 - Allier"},
            {text: "07 - Ardèche"},
            {text: "15 - Cantal"},
            {text: "26 - Drôme"},
            {text: "38 - Isère"},
            {text: "42 - Loire"},
            {text: "43 - Haute-Loire"},
            {text: "63 - Puy-de-Dôme"},
            {text: "69 - Rhône"},
            {text: "73 - Savoie"},
            {text: "74 - Haute-Savoie"}
          ]
        case 'Bourgogne-Franche-Comté' :
          return [
            {text: "21 - Côte-d'Or"},
            {text: "25 - Doubs"},
            {text: "39 - Jura"},
            {text: "58 - Nièvre"},
            {text: "70 - Haute-Saône"},
            {text: "71 - Saône-et-Loire"},
            {text: "89 - Yonne"},
            {text: "90 - Territoire de Belfort"}
          ]
        case 'Bretagne' :
          return [
            {text: "22 - Côtes-d'Armor"},
            {text: "29 - Finistère"},
            {text: "35 - Ille-et-Vilaine"},
            {text: "56 - Morbihan"}
          ]
        case 'Centre-Val de Loire' :
          return [
            {text: "18 - Cher"},
            {text: "28 - Eure-et-Loire"},
            {text: "36 - Indre"},
            {text: "37 - Indre-et-Loire"},
            {text: "41 - Loir-et-Cher"},
            {text: "45 - Loiret"}
          ]
        case 'Corse' :
          return [
            {text: "2A - Corse-du-Sud"},
            {text: "2B - Haute-Corse"}
          ]
        case 'Grand-Est' :
          return [
            {text: "08 - Ardennes"},
            {text: "10 - Aube"},
            {text: "51 - Marne"},
            {text: "52 - Haute-Marne"},
            {text: "54 - Meurthe-et-Moselle"},
            {text: "55 - Meuse"},
            {text: "57 - Moselle"},
            {text: "67 - Bas-Rhin"},
            {text: "68 - Haut-Rhin"},
            {text: "88 - Vosges"}
          ]
        case 'Hauts-de-France' :
          return [
            {text: "02 - Aisne"},
            {text: "59 - Nord"},
            {text: "60 - Oise"},
            {text: "62 - Pas-de-Calais"},
            {text: "80 - Somme"}
          ]
        case 'Île-de-France' :
          return [
            {text: "75 - Paris"},
            {text: "77 - Seine-et-Marne"},
            {text: "78 - Yvelines"},
            {text: "91 - Essonne"},
            {text: "92 - Hauts-de-Seine"},
            {text: "93 - Seine-Saint-Denis"},
            {text: "94 - Val-de-Marne"},
            {text: "95 - Val-d'Oise"},
          ]
        case 'Normandie' :
          return [
            {text: "14 - Calvados"},
            {text: "27 - Eure"},
            {text: "50 - Manche"},
            {text: "61 - Orne"},
            {text: "76 - Seine-Maritime"},
          ]
        case 'Nouvelle-Aquitaine' :
          return [
            {text: "16 - Charente"},
            {text: "17 - Charente-Maritime"},
            {text: "19 - Corrèze"},
            {text: "23 - Creuse"},
            {text: "24 - Dordogne"},
            {text: "33 - Gironde"},
            {text: "40 - Landes"},
            {text: "47 - Lot-et-Garonne"},
            {text: "64 - Pyrénées-Atlantiques"},
            {text: "79 - Deux-Sèvres"},
            {text: "86 - Vienne"},
            {text: "87 - Haute-Vienne"},
          ]
        case 'Occitanie' :
          return [
            {text: "09 - Ariège"},
            {text: "11 - Aude"},
            {text: "12 - Aveyron"},
            {text: "30 - Gard"},
            {text: "31 - Haute-Garonne"},
            {text: "32 - Gers"},
            {text: "34 - Hérault"},
            {text: "46 - Lot"},
            {text: "48 - Lozère"},
            {text: "65 - Hautes-Pyrénées"},
            {text: "66 - Pyrénées-Orientales"},
            {text: "81 - Tarn"},
            {text: "82 - Tarn-et-Garonne"}
          ]
        case 'Pays de la Loire' :
          return [
            {text: "44 - Loire-Atlantique"},
            {text: "49 - Maine-et-Loire"},
            {text: "53 - Mayenne"},
            {text: "72 - Sarthe"},
            {text: "85 - Vendée"}
          ]
        case 'Provence-Alpes-Côte d\'Azur' :
          return [
            {text: "04 - Alpes-de-Haute-Provence"},
            {text: "05 - Hautes-Alpes"},
            {text: "06 - Alpes-Maritimes"},
            {text: "13 - Bouches-du-Rhône"},
            {text: "83 - Var"},
            {text: "84 - Vaucluse"}
          ]
        default :
          return [
            {text: region}
          ]
      }
    },

    //Récupérer les usages trajet
    usageTrajet() {
      let list = []
      DevisService.getUsages().then(res => {
        res.data.forEach(el => {
          list.push({text: el.nomUsage})
        })
      })
      return list;
    },

    //récupérer les modes de stationnement
    modeStationnement() {
      let list = []
      DevisService.getModes().then(res => {
        res.data.forEach(el => {
          list.push({text: el.nomMode})
        })
      })
      return list
    },

    //Faire le récapitulatif
    recapList() {
      let list = []
      list.push({title: "Marque du véhicule", text: this.devis.marque})
      list.push({title: "Modèle du véhicule", text: this.devis.modele})
      list.push({title: "Immatriculation du véhicule", text: this.devis.immatriculation})
      list.push({title: "Date de circulation", text: Utils.formatDate(this.devis.circulationDate)})
      list.push({title: "Type de carrosserie", text: this.devis.typeCarrosserie})
      list.push({title: "Type de motorisation", text: this.devis.typeMotorisation})
      list.push({title: "Puissance fiscale du véhicule", text: this.devis.puissanceFiscale})
      list.push({title: "Kilométrage actuelle du véhicule", text: this.devis.kilometrage})
      list.push({title: "Votre date de naissance", text: Utils.formatDate(this.devis.dateNaissance)})
      list.push({title: "Date d'obtention de votre permis", text: Utils.formatDate(this.devis.permis)})
      list.push({title: "Votre coefficient bonus/malus", text: this.devis.coefficient})
      list.push({title: "Format de votre permis", text: this.devis.formatPermis})
      list.push({title: "Type de votre permis", text: this.devis.typePermis})
      list.push({title: "Numéro de votre permis", text: this.devis.numeroPermis})
      list.push({title: "Exclusivité du véhicule", text: this.devis.exclusiveUsageVehicule ? "Oui" : "Non"})
      list.push({title: "Mode de stationnement du véhicule", text: this.devis.modeStationnement})
      list.push({title: "Zone géographique de circulation", text: this.devis.zoneGeo})
      list.push({title: "Usage des trajets du véhicule", text: this.devis.usageTrajet})
      return list
    },

    //Faire le récapitulatif des personnes sur le contrat
    recapPerson(recapList) {
      this.personnes.forEach((personne) => {
        recapList.push({
          title: "Personne à ajouter sur le contrat", text: personne.firstname + " " +
              personne.lastname + " né le " + Utils.formatDate(personne.dateNaissance)
        })
      })
      return recapList
    },

    //Vérifier que le récapitulatif est ok
    checkRecap() {
      if (this.checkFieldsNotOk() || !this.checkBirthdate() || !this.checkAdditionalPerson()) {
        this.errorMsg = 'Vous devez remplir tout les champs avant de continuer !'
      } else {
        this.devisModule.price = this.getPriceByModules(this.devis.modele)
        this.nextStep()
      }
    },

    //Ajouter le contrat
    envoyerDemande() {
      //Envoi
      DevisService.sendDevis(this.devis.coefficient,
          this.devis.typeMotorisation,
          this.devis.typeCarrosserie,
          Utils.formatDate(this.devis.circulationDate),
          Utils.formatDate(this.devis.permis),
          "Details",
          this.devis.exclusiveUsageVehicule,
          this.devis.formatPermis,
          this.cookies.get("idPerson"),
          this.devis.immatriculation,
          this.devis.kilometrage,
          this.devis.marque,
          this.devis.modele,
          (this.getPriceByInformations(this.devis.modele) === this.getPriceByModules(this.devis.modele) ? "BASE" : "MODULAIRE"),
          this.devis.modeStationnement,
          this.devis.usageTrajet,
          this.devis.numeroPermis,
          this.devisModule.price,
          this.devis.puissanceFiscale,
          this.devis.typePermis,
          this.devis.zoneGeo,
          this.devis.nbDocument
      ).then((ele) => {
        let erreur = false
        this.getCurrentModulesToSave().forEach(el => {
          DevisService.addModule(ele.data.idFormule, el.text).catch(() => {
            erreur = true
          })
        })
        this.personnes.forEach(personne => {
          DevisService.addAssure(ele.data.idFormule, this.cookies.get("idPerson"), personne.lastname, personne.firstname, Utils.formatDate(personne.dateNaissance)).catch(() => {
            erreur = true
          })
        })
        this.checkedAttached.forEach(personne => {
          DevisService.addExistingAssure(ele.data.idFormule,personne.idPersonne,this.cookies.get("idPerson")).catch(() => {
            erreur = true
          })
        })
        if (!erreur) {
          this.validateMsg = 'DONE'
          setTimeout(() => this.$router.push("home"), 3000);
        } else {
          this.errorMsg = 'ERREUR'
        }

      }).catch(() => {
        this.errorMsg = 'ERREUR'
      })
    },

    //Ajouter les modules
    getCurrentModulesToSave() {
      let list = []
      if (this.devisAutoModule.indemnisationRenforcee) list.push({text: "Indemnisation renforcée"})
      if (this.devisAutoModule.equipementExt) list.push({text: "Equipement extérieur"})
      if (this.devisAutoModule.contenu) list.push({text: "Contenu de véhicule"})
      if (this.devisAutoModule.brisRetro) list.push({text: "Bris de rétro"})
      if (this.devisAutoModule.protectionJuridique) list.push({text: "Protection juridique"})
      if (this.devisAutoModule.vehicule) list.push({text: "Véhicule de prêt"})
      if (this.devisAutoModule.incendie) list.push({text: "Incendie et vol"})
      return list
    },

    //Reset tous les champs
    reset() {
      this.errorMsg = "";
      this.validateMsg = "";
      this.modules = [];
      this.devisModule = {
        incendie: false,
        vehicule: false,
        protectionJuridique: false,
        contenu: false,
        brisRetro: false,
        equipementExt: false,
        indemnisationRenforcee: false,
        price: 0
      };
      this.devis = {
        marque: "",
        modele: "",
        immatriculation: "",
        circulationDate: new Date(),
        typeCarrosserie: "",
        typeMotorisation: "",
        puissanceFiscale: 0,
        kilometrage: "",
        dateNaissance: new Date(),
        permis: new Date(),
        coefficient: "",
        formatPermis: "",
        typePermis: "",
        exclusiveUsageVehicule: true,
        modeStationnement: "",
        zoneGeo: "",
        usageTrajet: "",
        numeroPermis: ""
      }
    }
  },

  //Setup les cookies
  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },

  mounted() {
    if (!this.cookies.get("idPerson")) {
      this.$router.push("connexion")
    }
    this.reset()
    this.retrieveInsuredPersonAttached()
    this.pages[0].modules[0].listItems = this.marque()
    this.pages[0].modules[1].listItems = this.getModeles()
    this.devis.nbDocument = 3
  }

}
</script>

<style>
.devis_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.devis_btn_container {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.devis_btn {
  margin: 2%;
}
</style>