<template>
  <div v-if="error">
    <h3 style="color: red">{{ $t('error.unauthorized')}}</h3>
  </div>
  <div v-else style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center">
    <PulseLoader v-if="loading"/>
    <AssistancePartenaire class="mb-4" v-for="(assistance,index) in this.assistances" :assistance="assistance" :index="index+1" :key="index"/>
  </div>

</template>

<script>
import {useCookies} from "vue3-cookies";
import {PartenaireService} from "../services/partenaireService";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
import AssistancePartenaire from "../components/AssistancePartenaire";

export default {
  name: "EspacePartenaire",
  components: {
    AssistancePartenaire,
    PulseLoader
  },
  data() {
    return {
      error :false,//Pour gérer les erreurs
      loading : false,//Pour gérer le chargement
      assistances: []//Liste des assistances
    }
  },
  mounted() {
    if (!this.cookies.get('collaborateur') || this.cookies.get('collaborateur') === 'false') {
      this.error = true;
    } else {
      this.loading = true;
      PartenaireService.getAssistanceByIdContactPartenaire(this.cookies.get("idPerson")).then(value => {
        this.assistances = value.data;
      }).finally(() => {
        this.loading = false;
      })
    }
  },
  //Setup des cookies
  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },
}
</script>
