<template>
  <div class="home-container">
    <h1 v-if="this.cookies.get('collaborateur') === 'true' && this.cookies.get('droitsAcces') === '1'">Espace collaborateur</h1>
    <HomeOffers v-if="this.cookies.get('collaborateur') !== 'true'"/>
    <HomeQuestion v-if="this.cookies.get('collaborateur') !== 'true'"/>
    <EspacePartenaire v-if="this.cookies.get('collaborateur') === 'true' && this.cookies.get('droitsAcces') === '2'"/>
  </div>
</template>

<style>
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
</style>

<script>
import HomeOffers from '../components/HomeOffers'
import HomeQuestion from '../components/HomeQuestion'
import {useCookies} from "vue3-cookies";
import EspacePartenaire from "./EspacePartenaire";

export default {
  name: 'Home',
  components: {
    HomeOffers,
    HomeQuestion,
    EspacePartenaire
  },
  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },
}

</script>