<template>
  <div v-if="error">
    <h3 style="color: red">{{ $t('error.unauthorized') }}</h3>
  </div>
  <div v-else-if="this.cookies.get('droitsAcces') === '2'">
    <p style="color: red; font-size: large; font-weight: bold">/!\PAGE NON AUTORISEE AVEC VOS DROITS/!\</p>
  </div>
  <div v-else style="display: flex; justify-content: center; align-items: center; flex-direction: column">
    <h1>Gestion des partenaires</h1>
    <select v-if="!showAdd && !showContact" v-model="codeIso" style="width: 30%" class="mt-4 mb-4 form-control"
            @change="syncPartenaire">
      <option disabled hidden value="">Code ISO du pays de recherche :</option>
      <option v-for="option in iso" :key="option">
        {{ option }}
      </option>
    </select>
    <button v-if="!showAdd && !showContact" type="button" class="m-1 mb-4 btn btn-success" @click="openAdd">Ajouter un partenaire</button>
    <PulseLoader :loading="loading"/>
    <table aria-label="Partenaire" v-show="!showAdd && !showContact" v-if="listPartenaire.length > 0" style="width: 90%"
           class="mb-5 table table-striped table-bordered table-hover">
      <thead class="thead-dark">
      <tr>
        <th id="ht-part">Partenaire</th>
        <th id="ht-add">Adresse</th>
        <th id="ht-act">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(item,index) in this.listPartenaire" :key="index">
        <td>
          {{ item.partenaire.nomPartenaire }}
          <br>
          {{ item.partenaire.numTelephone }}
        </td>
        <td>
          {{ item.adresse.rueAdresse.replace("_", " ").toUpperCase() }}
          <br>
          {{ item.adresse.villeCpAdresse.replace("_", " ").toUpperCase() }}
        </td>
        <td>
          <button type="button" class="m-1 btn btn-dark" @click="openContact(item)"><em class="fa fa-eye"></em>
          </button>
          <button type="button" class="m-1 btn btn-dark" @click="openUpdate(item)"><em class="fa fa-pencil-square-o"></em>
          </button>
          <button type="button" class="m-1 btn btn-danger" @click="deletePartenaire(item)"><em class="fa fa-trash"></em>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <CollaborateurForm class="mt-4 mb-4" v-if="showAdd" :create-mode="create" :is-partenaire="true"
                       :partenaire="updateItem"
                       @addPartenaire="addPartenaire"
                       @updatePartenaire="updatePartenaire"/>
    <button v-if="showAdd || showContact" type="button" class="m-1 mb-4 btn btn-danger" @click="closeModal">Retour</button>
  </div>
</template>

<script>
import {PartenaireService} from "../services/partenaireService";
import {useCookies} from "vue3-cookies";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
import CollaborateurForm from "../components/CollaborateurForm";

export default {
  name: "Partenaire",
  components: {
    CollaborateurForm,
    PulseLoader
  },
  data() {
    return {
      iso: ["FR", "BE"],//Liste des codes ISO
      codeIso: "",//Code ISO actuel
      listPartenaire: [],//Liste des partenaires
      error: false,//Pour gérer les erreurs
      loading: false,//Pour gérer le chargement
      updateItem: {},//Pour mettre à jour le partenaire
      create: false,//Pour gérer la création
      showAdd: false,//Pour le modal
      showContact : false//Pour gérer l'affichage du contact
    }
  },
  methods: {
    //Récupérer les partenaires
    async syncPartenaire() {
      this.loading = true
      await PartenaireService.getPartenaires(this.codeIso).then(res => {
        this.listPartenaire = []
        res.data.forEach(el => {
          this.listPartenaire.push(el)
        })
        this.loading = false
      })
    },

    //Pour supprimer un partenaire
    async deletePartenaire(item) {
      await PartenaireService.deletePartenaire(item.partenaire.idPartenaire).then(() => {
        this.syncPartenaire();
      })
    },

    //Pour mettre à jour un partenaire
    async updatePartenaire(data) {
      await PartenaireService.updatePartenaire(data).then(() => {
        this.syncPartenaire();
      }).finally(() => {
        this.closeModal()
      })
    },
    //Ouvrir la modal pour modifier
    openUpdate(item) {
      this.create = false;
      this.showAdd = true;
      this.updateItem = item;
    },
    //Fermer la modal
    closeModal() {
      this.showAdd = false;
      this.showContact = false;
      this.updateItem = {}
    },
    //Ouvrir la modal
    openAdd() {
      this.showAdd = true;
      this.create = true;
    },
    //Ouvrir pour les contacts partenaire
    openContact(item) {
      this.$router.push({name: 'contactPartenaire', params: {id: item.partenaire.idPartenaire}})
    },
    //Ajouter le partenaire
    async addPartenaire(data) {
      await PartenaireService.createPartenaire(data).then(() => {
        this.syncPartenaire();
      }).finally(() => {
        this.closeModal()
      })
    }
  },
  //Setup des cookies
  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },
  mounted() {
    if (!this.cookies.get('collaborateur') || this.cookies.get('collaborateur') === 'false') {
      this.error = true;
    }
  }
}
</script>
