<template>
  <div class="profile-container">
    <h4 class="profile-title">{{ $t('profile.title') }}</h4>
    <form class="profile-form">
      <div class="profile-group-2">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" class="input-profile input-profile-size-2" v-model="nom" :placeholder="$t('profile.nom')" disabled="true">
        <label for="nom">Prénom :</label>
        <input type="text" class="input-profile input-profile-size-2" v-model="prenom" :placeholder="$t('profile.prenom')" disabled>
      </div>
      <div class="profile-group-2">
        <label for="nom">Mail :</label>
        <input type="email" class="input-profile input-profile-size-2" v-model="mail" aria-describedby="emailHelp" :placeholder="$t('profile.mail')" disabled>
        <label for="nom">Téléphone :</label>
        <input type="text" class="input-profile input-profile-size-2 " v-model="phone" :placeholder="$t('profile.phone')" disabled>
      </div>
      <div class="profile-group-2">
        <p style="margin-right: 4%">{{$t('profile.dateNaissance')}}</p>
        <datepicker class="datepicker-profile" v-model="dateNaissance" inputFormat="dd/MM/yyyy" disabled/>
      </div>
      <Adresse v-for="(adresse) in adresses"
               :key="adresse.index"
               :adresse="adresse"
               v-on:adresseToParent="updateAdresse"
               v-on:input="adresse = $event"
               :number="adresse.index+1"
      :readable="true"/>
      <router-link class="w3-bar-item w3-button w3-padding " to="/vehicules"><button class="btn btn-lg btn-primary">{{ $t('profile.btVehicules') }}</button></router-link>
      <router-link class="w3-bar-item w3-button w3-padding btn-margin" :to="{path: '/contrats/' + this.cookies.get('idPerson')}"><button class="btn btn-lg btn-primary">{{ $t('profile.btContrats') }}</button></router-link>
      <button href="/assistances" class="btn btn-lg btn-primary btn-margin">{{ $t('profile.btAssistances') }}</button>
    </form>
  </div>
</template>

<style>
.datepicker-profile {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}
.btn-margin{
  margin-left: 10%;
}

@media only screen and (max-width: 992px) {
  .profile-group-2{
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
  }

  .input-profile-size-2 {
    width: 90%;
    margin-bottom: 5%;
  }

  .input-profile-size-1 {
    width: 90%;
    margin-bottom: 5%;
  }

  .profile-group{
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .profile-group-2{
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    margin-bottom: 3%;
  }
  .input-profile-size-2 {
    width: 40%;
  }
  .input-profile-size-1 {
    width: 90%;
  }
  .profile-group{
    width: 80%;
  }
}

.profile-group-2{
  display: flex;
  width: 100%;
}
.profile-container {
  text-align: center;
  -webkit-box-shadow: 0px 1px 6px 2px #3E3D3E;
  box-shadow: 0px 1px 6px 2px #3E3D3E;
  width: 80%;
  margin-bottom: 5%;
  margin-left: 10%;
  padding: 1%;
}
</style>

<script>
import Datepicker from 'vue3-datepicker'
import Adresse from "../components/Adresse";
import {ProfileService} from "../services/profileService";
import {useCookies} from "vue3-cookies";
export default {
  name: "Profile",
  components: {
    Datepicker,
    Adresse
  },
  data(){
    return {
      nom:"",//Champ pour le nom de famille
      prenom:"",//Champ pour le prénom
      mail:"",//Champ pour le mail
      phone:"",//Champ pour le téléphone
      dateNaissance:"",//Champ pour la date de naissance
      adresses: [
      ]//Liste des adresses
    }
  },
  methods: {
    //récupérer les infos de l'assuré
    async getInfos(){
      const person = await ProfileService.getPerson(this.cookies.get("idPerson")).catch(() => {
        this.errorMsg = 'doesn\'t exist'
      })
      this.nom = person.data.nom
      this.prenom = person.data.prenom
      this.mail = person.data.mail
      this.phone = person.data.telephone
      this.dateNaissance = Date.parse(person.data.date_naissance)
      return person
    },
    //Récupérer les adresses de l'assuré
    async getAdresses(){
      const adressesPerson = await ProfileService.getAdresses(this.cookies.get("idPerson")).catch(() => {
        this.errorMsg = 'doesn\'t exist'
      })
      adressesPerson.data.forEach(adresse => {
        this.adresses.push(
            {
              index:this.adresses.length+1,
              rue:adresse.rueAdresse.split("_")[1],
              numero:adresse.rueAdresse.split("_")[0],
              complement:adresse.complements,
              ville:adresse.villeCpAdresse.split("_")[0],
              codePostal:adresse.villeCpAdresse.split("_")[1],
              pays:adresse.codeIso
            }
        )
      })
    }
  },
  mounted() {
    this.getInfos()
    this.getAdresses()
  },
  //Setup des cookies
  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },
}
</script>