<template>
  <div v-if="error">
    <h3 style="color: red">{{ $t('error.unauthorized')}}</h3>
  </div>
  <div v-else>
    <div class="profile-container">
      <h4 class="profile-title">{{ $t('profile.title') }}</h4>
      <form class="profile-form">
        <div class="profile-group-2">
          <label for="nom">Nom :</label>
          <input type="text" id="nom" class="input-profile input-profile-size-2" v-model="nom" :placeholder="$t('profile.nom')" disabled="true">
          <label for="prenom">Prénom :</label>
          <input type="text" id="prenom" class="input-profile input-profile-size-2" v-model="prenom" :placeholder="$t('profile.prenom')" disabled>
        </div>
        <div class="profile-group-2">
          <label for="mail">Mail :</label>
          <input type="email" id="mail" class="input-profile input-profile-size-2" v-model="mail" :placeholder="$t('profile.mail')" disabled>
          <label v-if="dateNaissance" for="dateNaissance">{{$t('profile.dateNaissance')}}</label>
          <datepicker v-if="dateNaissance" class="mr-2 datepicker-profile" id="dateNaissance" v-model="dateNaissance" inputFormat="dd/MM/yyyy" disabled/>
        </div>
        <router-link class="w3-bar-item w3-button w3-padding btn-contrat" to="/all_assistances"><button href="/all_assistances" class="btn btn-lg btn-primary btn-margin">{{ $t('profile.btAssistances') }}</button></router-link>
      </form>
    </div>
  </div>
</template>

<style>
.datepicker-profile {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  width: 120%;
}
.btn-margin{
  margin-left: 10%;
}

.btn-contrat{
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .profile-group-2{
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
  }

  .input-profile-size-2 {
    width: 90%;
    margin-bottom: 5%;
  }

  .input-profile-size-1 {
    width: 90%;
    margin-bottom: 5%;
  }

  .profile-group{
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .profile-group-2{
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    margin-bottom: 3%;
  }
  .input-profile-size-2 {
    width: 40%;
  }
  .input-profile-size-1 {
    width: 90%;
  }
  .profile-group{
    width: 80%;
  }
}

.profile-group-2{
  display: flex;
  width: 100%;
}
.profile-container {
  text-align: center;
  -webkit-box-shadow: 0px 1px 6px 2px #3E3D3E;
  box-shadow: 0px 1px 6px 2px #3E3D3E;
  width: 80%;
  margin-bottom: 5%;
  margin-left: 10%;
  padding: 1%;
}
</style>

<script>
import Datepicker from 'vue3-datepicker'
import {ProfileService} from "../services/profileService";
import {useCookies} from "vue3-cookies";
export default {
  name: "ProfileAdmin",
  components: {
    Datepicker
  },

  data(){
    return {
      nom:"",//Champ pour le nom de famille
      prenom:"",//Champ pour le prénom
      mail:"",//Champ pour le mail
      phone:"",//Champ pour le téléphone
      dateNaissance:"",//Champ pour la date de naissance
      error : false//Pour gérer les erreurs
    }
  },

  methods: {
    //Récupérer les informations de l'admin
    async getInfos(){
      const person = await ProfileService.getAdmin(this.cookies.get("idPerson")).catch(() => {
        this.errorMsg = 'doesn\'t exist'
      })
      this.nom = person.data.nom
      this.prenom = person.data.prenom
      this.mail = person.data.mail
      this.dateNaissance = Date.parse(person.data.date_naissance)
      return person
    }
  },
  mounted() {
    //Chargé les infos si on est connecté en admin
    if (!this.cookies.get('collaborateur') || this.cookies.get('collaborateur') === 'false') {
      this.error = true;
    } else {
      this.getInfos()
    }
  },
  //Setup des cookies
  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },
}
</script>