<template>
  <div v-if="error">
    <h3 style="color: red">{{ $t('error.unauthorized')}}</h3>
  </div>
  <div v-else>

    <p v-if="this.nbDocument != this.files.length || this.files.length == 0">Tous les fichiers nécessaires n'ont pas été renseignés ! Il en manque {{this.nbDocument - this.files.length}}</p>
    <div id="test" v-for="file in this.files" v-bind:key="file.index" class="seeFiles-container">
      <h4 class="profile-title">{{ $t('collaborateur.file') + " " + file.nom.split("_")[0] }}</h4>
      <form class="profile-form">
        <div class="profile-group-2">
          <label for="nom">Nom du fichier :</label>
          <input type="text" id="nom" class="input-profile input-profile-size-2" v-model="file.nom" :placeholder="$t('profile.nom')" disabled="true">
          <label for="prenom">URL :</label>
          <input type="text" id="prenom" class="input-profile input-profile-size-2" v-model="file.url" :placeholder="$t('profile.prenom')" disabled>
        </div>
        <button v-on:click="this.getBytes(file.nom, file.url)" class="btn btn-lg btn-primary btn-margin">Voir le fichier</button>
      </form>
    </div>
    <button v-if="this.nbDocument != this.files.length || this.files.length == 0" v-on:click="this.envoiMail()" class="btn btn-lg btn-primary btn-margin">Envoyer un mail pour demander les fichiers manquants</button>
  </div>
</template>

<script>
import {CollaborateurService} from "../services/collaborateurService";
import {useCookies} from "vue3-cookies";

export default {

  name: "SeeFilesDossier",
  props:['id'],//Id du contrat
  methods: {
    //Récupérer un fichier
    getBytes(nom, url){
      const split = url.split("/")
      CollaborateurService.getBytesFilesDossier(nom, split[split.length - 1])
    },
    //Récupérer tous les fichiers
    async getFiles(){
      const allFiles = await CollaborateurService.getFilesDossier(this.id).catch(() => {
        this.errorMsg = 'doesn\'t exist'
      })
      allFiles.data.forEach(file => {
        this.files.push({
          index: file.idDocument,
          url: file.url_document,
          nom: file.nomDocument,
          idPersonne: file.idPersonne
        })
        this.nbDocument = file.nbDocument
        this.mailPersonne = file.mailPersonne
      })
    },
    //Envoyer un mail
    envoiMail(){
      CollaborateurService.envoiMail(this.mailPersonne, "Bonjour, il manque des fichiers dans votre demande de souscription à un contrat d'assurance", "Fichiers manquants pour une formule souscrite")
    }
  },
  data() {
    return {
      files: [],//Liste des fichiers
      bytesFiles: [],//Listes des données des fichiers
      nbDocument:0,//Nombre de documents
      mailPersonne:"",//Mail de l'assuré
      error : false//Pour gérer les erreurs
    }
  },

  //Setup des cookies
  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },
  mounted() {
    //Charger les fichiers si on est connecté en tant qu'admin
    if (!this.cookies.get('collaborateur') || this.cookies.get('collaborateur') === 'false') {
      this.error = true;
    }
    else{
      this.getFiles()
    }
  }
}
</script>

<style scoped>
.seeFiles-container {
  text-align: center;
  -webkit-box-shadow: 0px 1px 6px 2px #3E3D3E;
  box-shadow: 0px 1px 6px 2px #3E3D3E;
  width: 80%;
  margin-bottom: 5%;
  margin-left: 10%;
  padding: 1%;
}
</style>
