<template>
  <div v-if="error">
    <h3 style="color: red">{{ $t('error.unauthorized')}}</h3>
  </div>
  <div v-else>
    <div class="dossier-container">
      <div class="auth-dossier">
        <p style="font-weight: bold">{{ $t('collaborateur.dossier') }} n°{{this.id}} :</p>
        <div class="auth-group-inscription-2">
          <div class="flex-adresse">
            <p style="text-decoration: underline">{{ $t('collaborateur.nom_prenom')}}</p>
            <input @input="updateContrat" v-model="fullName"
                   class="input-inscription input-dossier-size-3"
                   :placeholder="$t('collaborateur.nom_prenom')"
                   type="text"
                   disabled>
          </div>
          <div class="flex-adresse">
            <p style="text-decoration: underline">{{ $t('collaborateur.mail_telephone')}}</p>
            <input @input="updateContrat" :placeholder="$t('collaborateur.mail_telephone')" v-model="mail_telephone"
                   class="input-inscription input-dossier-size-3"
                   type="text"
                   disabled>
          </div>
        </div>
        <div class="auth-group-inscription-2">
          <div class="flex-adresse">
            <p style="text-decoration: underline">{{ $t('contrat.nomFormule')}}</p>
            <input @input="updateContrat" v-model="intitule"
                   class="input-inscription input-dossier-size-3"
                   :placeholder="$t('contrat.auto.marque')"
                   type="text"
                   disabled>
          </div>

          <div class="flex-adresse">
            <p style="text-decoration: underline">{{ $t('contrat.prixFormule')}}</p>
            <input @input="updateContrat" :placeholder="$t('contrat.prixFormule')" v-model="prixFormule"
                   class="input-inscription input-dossier-size-3"
                   type="text"
                   disabled>
          </div>

        </div>
        <div class="auth-group-inscription-2">
          <div class="flex-adresse">
            <p style="text-decoration: underline">{{$t('contrat.dateSouscription')}}</p>
            <datepicker class="datepicker-dossier" v-model="dateSouscription" :inputFormat="$t('format.date')" disabled/>
          </div>
          <div class="flex-adresse">
            <p style="text-decoration: underline">{{ $t('collaborateur.statut')}}</p>
            <select v-model="selected" class="input-inscription input-dossier-size-3" style="font-weight: bold">
              <option style="font-weight: bold" :disabled="disableList('PENDING')">PENDING</option>
              <option style="font-weight: bold" :disabled="disableList('ACCEPTED')">ACCEPTED</option>
              <option style="font-weight: bold" :disabled="disableList('REFUSED')">REFUSED</option>
              <option style="font-weight: bold" :disabled="disableList('ENDED')">ENDED</option>
            </select>
          </div>
        </div>
        <div v-if="display">
          <table aria-label="Module" class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
              <th id="ht-mod">Nom module</th>
              <th id="ht-det">Détails</th>
              <th id="ht-select">Sélection</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item) in this.allModules" :key="item.index">
              <td>{{ item.nomModule }}</td>
              <td>
                <div><strong>Description : </strong>{{ devisAutoModule[item.index - 1].detail }}</div>
                <div v-if="devisAutoModule[item.index - 1].plafond"><strong>Plafond : </strong> {{ devisAutoModule[item.index - 1].plafond }}</div>
                <div v-if="devisAutoModule[item.index - 1].seuil"><strong>Seuil d'intervention : </strong> {{ devisAutoModule[item.index - 1].seuil }}</div>
                <div v-if="devisAutoModule[item.index - 1].pret"><strong>Durée du prêt de véhicule : </strong> {{ devisAutoModule[item.index - 1].pret }}</div>
              </td>
              <td>
                <input
                    type="checkbox"
                    :checked="item.check"
                    :disabled="item.tarifModule < 1.01"
                    @change="selectionModule(item)"
                >
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <button v-if="status_pending || status_accepted" class="btn btn-lg btn-primary" v-on:click="updateDossier(this.id, this.selected)">{{ $t('collaborateur.updateDossier') }}</button>
        <button v-if="status_pending || status_accepted" class="btn btn-lg btn-primary btn-margin" v-on:click="display = true">{{ $t('collaborateur.updateModules') }}</button>
      </div>
    </div>
  </div>

</template>

<script>
import {CollaborateurService} from "../services/collaborateurService";
import Datepicker from "vue3-datepicker";
import router from "../router";
import {mapState} from "vuex";
import {useCookies} from "vue3-cookies";

export default {
  name: "UpdateDossier",
  props: ['id'],//Id du dossier
  components: {
    Datepicker
  },
  computed: {
    //Retourne une valeur prénom nom
    fullName: {
      get() {
        return `${this.prenom} ${this.nom.toUpperCase()}`;
      }
    },
    //Retourne une valeur mail | téléphone
    mail_telephone: {
      get() {
        return `${this.mail} | ${this.telephone}`;
      }
    },
    ...mapState({
      devisAutoModule: "devisAutoModule"
    })
  },
  data() {
    return {
      nom:"",//Nom de famille de l'assuré
      prenom:"",//Prénom de l'assuré
      mail:"",//Mail de l'assuré
      telephone:"",//Téléphone de l'assuré
      intitule:"",//Intitulé du contrat
      prixFormule:"",//Coût du contrat
      statut:"",//Statut actuel du contrat
      dateSouscription:"",//Date de souscription du contrat
      selected:"",//Pour les modules
      newPrix:0,//Pour actualiser le prix
      allModules:[],//Tous les modules
      modulesModif:[],//Les modules qu'on ajoute ou supprime
      display:false,//Pour l'affichage
      error : false,//Pour gérer les erreurs
      status_accepted: false,//Pour gérer le statut
      status_pending: false,//Pour gérer le statut
      status_refused: false,//Pour gérer le statut
      status_ended: false//Pour gérer le statut
    }
  },
  methods: {
    //Récupérer le dossier
    async getDossier() {
      const dossier = await CollaborateurService.getDossier(this.id).catch(() => {
        this.errorMsg = 'doesn\'t exist'
      })
      this.newPrix = parseFloat(dossier.data.prix)
      this.nom = dossier.data.nom
      this.prenom = dossier.data.prenom
      this.mail = dossier.data.mail
      this.telephone = dossier.data.telephone
      this.dateSouscription = Date.parse(dossier.data.dateSouscription)
      this.intitule = dossier.data.intitule
      this.prixFormule = dossier.data.prix
      this.statut = dossier.data.statut
      this.selected = this.statut
      if(this.statut == 'ACCEPTED'){
        this.status_accepted = true;
      }
      else if(this.statut == 'PENDING'){
        this.status_pending = true;
      }
      else if(this.statut == 'ENDED'){
        this.status_ended = true;
      }
      else if(this.statut == 'REFUSED'){
        this.status_refused = true;
      }
      return dossier
    },
    //Modifier le statut du dossier et les modules
    updateDossier(id, statut) {
      if (this.modulesModif.length > 0) {
        var i = 0;
        if (this.display) {
          this.modulesModif.forEach(module => {
            i++;
            CollaborateurService.updateModulesDossier(module.etat, module.nomModule, id)
            if (i == this.modulesModif.length) {
              CollaborateurService.updatePrixFormule(this.newPrix, statut, id)
            }
          })
        }
      } else {
        CollaborateurService.updateDossier(statut, id)
      }
      if(statut == 'ENDED'){
        if(this.modulesModif.length > 0){
          let nbModules = 0
          this.modulesModif.forEach(module => {
            if(module.etat == 'supprimer'){
              nbModules--
            }
            else{
              nbModules++
            }
          })
          CollaborateurService.updateSouscription(id, nbModules, this.newPrix)
        }
        else{
          CollaborateurService.updateSouscription(id, 0)
        }
      }
      else{
        CollaborateurService.addSouscription(id, statut)
      }
      router.replace({path: '/all_dossiers'})
    },
    //Récupérer tous les modules du contrat
    async getAllModules(idFormule) {
      const modules = await CollaborateurService.getAllModules().catch(() => {
        this.errorMsg = 'doesn\'t exist'
      })
      const modulesFormule = await CollaborateurService.getModulesFormule(idFormule).catch(() => {
        this.errorMsg = 'doesn\'t exist'
      })
      modules.data.forEach(module => {
        let check = module.tarifModuleFormule < 1.01 || modulesFormule.data.some(m => m.nomModuleFormule === module.nomModuleFormule)
        this.allModules.push({
          index: this.allModules.length + 1,
          nomModule: module.nomModuleFormule,
          tarifModule: module.tarifModuleFormule,
          check: check
        })
      })
    },
    //Modifier l'état d'un module pour le contrat et le prix de la formule
    selectionModule(item) {
      let etat = "ajouter"
      let index = this.modulesModif.findIndex(m => m.nomModule === item.nomModule)
      if (this.modulesModif.some(m => m.nomModule === item.nomModule)) {
        if (this.modulesModif[index].etat == "supprimer") {
          if (!item.check) {
            this.modulesModif[index].etat = "ajouter"
            this.newPrix *= item.tarifModule
          } else {
            this.modulesModif.splice(index, 1)
            this.newPrix *= item.tarifModule
          }
        } else {
          if (item.check) {
            this.modulesModif[index].etat = "supprimer"
            this.newPrix /= item.tarifModule
          } else {
            this.modulesModif.splice(index, 1)
            this.newPrix /= item.tarifModule
          }
        }
      } else {
        if (item.check) {
          etat = "supprimer"
          this.newPrix /= item.tarifModule
        } else {
          this.newPrix *= item.tarifModule
        }
        this.modulesModif.push({
          nomModule: item.nomModule,
          etat: etat
        })
      }
    },
    //Mettre à jour le statut actuel
    disableList(status){
      if(status == 'PENDING'){
        if(this.status_accepted || this.status_refused || this.status_ended){
          return true
        }
        else{
          return false
        }
      }
      else if(status == 'ACCEPTED'){
        if(this.status_refused || this.status_ended){
          return true
        }
        else{
          return false
        }
      }
      else if(status == 'REFUSED'){
        if(this.status_accepted || this.status_ended){
          return true
        }
        else{
          return false
        }
      }
      else if(status == 'ENDED'){
        if(this.status_pending){
          return true
        }
        else{
          return false
        }
      }
    }
  },

  //Setup des cookies
  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },

  mounted() {
    //Récupérer le dossier et les modules i on est connecté en tant qu'admin
    if (!this.cookies.get('collaborateur') || this.cookies.get('collaborateur') === 'false') {
      this.error = true;
    } else {
      this.getDossier(this.id)
      this.getAllModules(this.id)
    }
  }
}
</script>

<style scoped>
.datepicker-dossier {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}

.btn-margin{
  margin-left: 10%;
}

@media only screen and (max-width: 992px) {

  .input-dossier-size-3 {
    width: 90%;
    margin-bottom: 5%;
  }

  .auth-dossier {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .input-dossier-size-3 {
    width: 80%;
  }
}

.flex-dossier {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.dossier-container {
  text-align: center;
  -webkit-box-shadow: 0px 1px 6px 2px #3E3D3E;
  box-shadow: 0px 1px 6px 2px #3E3D3E;
  width: 80%;
  margin-bottom: 5%;
  margin-left: 10%;
  padding: 1%;
}
</style>