<template>
  <div class="vehicule-container">
    <Vehicule v-for="(vehicule) in vehicules"
              :key="vehicule.index"
              :vehicule="vehicule"
              :number="vehicule.index+1"
              :readable="true"/>
    <router-link class="w3-bar-item w3-button w3-padding " to="/profil"><button class="btn btn-lg btn-primary">{{ $t('profile.btProfil') }}</button></router-link>
    <router-link class="w3-bar-item w3-button w3-padding btn-margin" :to="{path: '/contrats/' + this.cookies.get('idPerson')}"><button class="btn btn-lg btn-primary">{{ $t('profile.btContrats') }}</button></router-link>
    <button href="/assistances" class="btn btn-lg btn-primary btn-margin">{{ $t('profile.btAssistances') }}</button>
  </div>
</template>

<script>
///import Datepicker from "vue3-datepicker";
import Vehicule from "../components/Vehicule";
import {ProfileService} from "../services/profileService";
import {useCookies} from "vue3-cookies";

export default {
  name: "Vehicules",
  components: {
    ///Datepicker,
    Vehicule
  },
  data(){
    return {
      vehicules: [
      ]//Liste des véhicules
    }
  },
  methods:{
    //Récupérer tous les véhicules
    async getVehicules(){
      const vehiculesPerson = await ProfileService.getVehicules(this.cookies.get("idPerson")).catch(() => {
        this.errorMsg = 'doesn\'t exist'
      })
      vehiculesPerson.data.forEach(vehiculePerson => {
        let mois
        let jour
        if(vehiculePerson.dateMiseEnService[1] < 10){
          mois = "0"+vehiculePerson.dateMiseEnService[1]
        }
        else{
          mois = vehiculePerson.dateMiseEnService[1]
        }
        if(vehiculePerson.dateMiseEnService[2] < 10){
          jour = "0"+vehiculePerson.dateMiseEnService[2]
        }
        else{
          jour = vehiculePerson.dateMiseEnService[2]
        }
        let date = vehiculePerson.dateMiseEnService[0] + "-" + mois + "-" + jour
        this.vehicules.push(
            {
              index:this.vehicules.length+1,
              marque:vehiculePerson.marque,
              modele:vehiculePerson.modele,
              carosserie:vehiculePerson.carosserie,
              carburant:vehiculePerson.carburant,
              puissanceFiscale:vehiculePerson.puissanceFiscale,
              kilometrage:vehiculePerson.kilometrageEnCours,
              immatriculation:vehiculePerson.immatriculation,
              dateMiseEnService:Date.parse(date)
            }
        )
      })
    }
  },
  mounted() {
    this.getVehicules()
  },
  //Setup des cookies
  setup() {
    const {cookies} = useCookies();
    return {cookies};
  },
}
</script>

<style scoped>
.vehicule-container {
  text-align: center;
  -webkit-box-shadow: 0px 1px 6px 2px #3E3D3E;
  box-shadow: 0px 1px 6px 2px #3E3D3E;
  width: 80%;
  margin-bottom: 5%;
  margin-left: 10%;
  padding: 1%;
}
</style>